#main
  = render :partial => 'identifiers/edit_bar'
  #Cite_Image_Service{:display => 'none;', 'data-content' => @identifier[:cite_image_service]}

  .site
    = render :partial => 'identifiers/header'
    #edit
      = form_for @identifier, :url => { :action => :update }  do |f|
        = f.error_messages
        
        %label Preview
        .PContent
          = @identifier[:html_preview]
