<div class="meta">

<h3 style="display:inline;">Meta</h3>


<% if defined?(show_links) &&  show_links  %>
	<% show_edit_link = true %>
	<% show_submit_link = true %>
<% end %>

<% if defined?(show_edit_link) && show_edit_link %>
  	<%= link_to 'Edit', url_for(:controller => 'metas', :action => 'edit', :id => meta.id) %> 	
<% end %>

<% if defined?(show_submit_link) && show_submit_link %>
  <% if meta.article.status == "submitted" %>
  	Submitted
  <% else %>
		<%= link_to 'Submit', url_for(:controller => 'metas', :action => 'review_for_submit', :id => meta.id) %> 
	<% end %>
<% end %>

<% if defined?(show_delete) && show_delete %>
	<%= link_to 'Delete', meta, :confirm => 'Are you sure you want to permanently delete this?', :method => :delete %>
<% end %>



	<p>
	  <b>Notbeforedate:</b>
	  <%=h meta.notBeforeDate %>
	</p>

	<p>
	  <b>Notafterdate:</b>
	  <%=h meta.notAfterDate %>
	</p>

	<p>
	  <b>Ondate:</b>
	  <%=h meta.onDate %>
	</p>

	<p>
	  <b>Publication:</b>
	  <%=h meta.publication %>
	</p>

	<p>
	  <b>Language:</b>
	  <%=h meta.language %>
	</p>

	<p>
	  <b>Subject:</b>
	  <%=h meta.subject %>
	</p>

	<p>
	  <b>Title:</b>
	  <%=h meta.title %>
	</p>

	<p>
	  <b>Provenance:</b>
	  <%=h meta.provenance %>
	</p>

	<p>
	  <b>Notes:</b>
	  <%=h meta.notes %>
	</p>



 
</div>
