<div class="meta">

<h3 style="display:inline;">Meta</h3>

<% if show_links  %>
	<%= link_to 'Edit', url_for(:controller => 'metas', :action => 'edit', :id => meta.id) %> 
	<%= link_to 'Submit', url_for(:controller => 'metas', :action => 'review_for_submit', :id => meta.id) %> 
<% end %>
	<p>
	  <b>Notbeforedate:</b>
	  <%=h meta.notBeforeDate %>
	</p>

	<p>
	  <b>Notafterdate:</b>
	  <%=h meta.notAfterDate %>
	</p>

	<p>
	  <b>Ondate:</b>
	  <%=h meta.onDate %>
	</p>

	<p>
	  <b>Publication:</b>
	  <%=h meta.publication %>
	</p>

	<p>
	  <b>Language:</b>
	  <%=h meta.language %>
	</p>

	<p>
	  <b>Subject:</b>
	  <%=h meta.subject %>
	</p>

	<p>
	  <b>Title:</b>
	  <%=h meta.title %>
	</p>

	<p>
	  <b>Provenance:</b>
	  <%=h meta.provenance %>
	</p>

	<p>
	  <b>Notes:</b>
	  <%=h meta.notes %>
	</p>



 
</div>
