<div class="meta">

<h3 style="display:inline;">Meta</h3>

<% if !defined?(dlc) %>
		<% dlc = DocumentLinksController.new() %>
<% end %>



<%= render :partial => 'articles/links', :locals => { :article => meta.article, :dlc => dlc } %>

	<p>
	  <b>Notbeforedate:</b>
	  <%=h meta.notBeforeDate %>
	</p>

	<p>
	  <b>Notafterdate:</b>
	  <%=h meta.notAfterDate %>
	</p>

	<p>
	  <b>Ondate:</b>
	  <%=h meta.onDate %>
	</p>
	
	<p>
		<b>Mentioned Dates:</b>
		<%=h meta.mentioned_dates %>
	</p>

	<p>
	  <b>Publication:</b>
	  <%=h meta.publication %>
	</p>

	<p>
	  <b>Other Publications:</b>
	  <%=h meta.other_publications %>
	</p>

	<p>
	  <b>BL:</b>
	  <%=h meta.bl %>
	</p>

	<p>
	  <b>Title:</b>
	  <%=h meta.title %>
	</p>

	<p>
	  <b>Illustrations:</b>
	  <%=h meta.illustrations %>
	</p>
	
	<p>
	  <b>Provenance Ancient Findspot:</b>
	  <%=h meta.provenance_ancient_findspot %>
	</p>

	<p>
	  <b>Provenance Nome:</b>
	  <%=h meta.provenance_nome %>
	</p>
	
	<p>
	  <b>Provenance: Ancient Region</b>
	  <%=h meta.provenance_ancient_region %>
	</p>

	<p>
	  <b>Notes:</b>
	  <%=h meta.notes %>
	</p>

	<p>
	  <b>Material:</b>
	  <%=h meta.material %>
	</p>
	
	<p>
	  <b>TM:</b>
	  <%=h meta.tm_nr %>
	</p>
 
 
 
</div>


	



