<div class="meta_background">

<h1>Editing meta</h1>

<% form_for(@meta) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :notBeforeDate %><br />
    <%= f.text_field :notBeforeDate %>
  </p>
  <p>
    <%= f.label :notAfterDate %><br />
    <%= f.text_field :notAfterDate %>
  </p>
  <p>
    <%= f.label :onDate %><br />
    <%= f.text_field :onDate %>
  </p>
  <p>
    <%= f.label :publication %><br />
    <%= f.text_field :publication %>
  </p>
  <p>
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :provenance %><br />
    <%= f.text_field :provenance %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

<%= link_to 'Document', url_for(@meta.article.master_article) %>


