<h1>Listing metas</h1>

<table>
  <tr>
    <th>Notbeforedate</th>
    <th>Notafterdate</th>
    <th>Ondate</th>
    <th>Publication</th>
    <th>Language</th>
    <th>Subject</th>
    <th>Title</th>
    <th>Provenance</th>
    <th>Notes</th>
  </tr>

<% for meta in @metas %>
  <tr>
    <td><%=h meta.notBeforeDate %></td>
    <td><%=h meta.notAfterDate %></td>
    <td><%=h meta.onDate %></td>
    <td><%=h meta.publication %></td>
    <td><%=h meta.language %></td>
    <td><%=h meta.subject %></td>
    <td><%=h meta.title %></td>
    <td><%=h meta.provenance %></td>
    <td><%=h meta.notes %></td>
    <td><%= link_to 'Show', meta %></td>
    <td><%= link_to 'Edit', edit_meta_path(meta) %></td>
    <td><%= link_to 'Destroy', meta, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New meta', new_meta_path %>
