%header
  %h1
    = @community.name
%div{:class => "sosolcard flash-notice warning"}
  %i{:class => 'fa fa-info-circle'}
  = 'Are You Sure You Want to Delete this community, ' + @community.name + '? This action cannot be undone!'
%h1.sosolcard
  = link_to "Delete", @community, :confirm => 'Are you sure?', :method => :delete , :class => 'btn revert bg-sdw'
  = "or"
  = link_to "Cancel", @community, :class => 'btn revert bg-sdw'
