

= stylesheet_link_tag "board"

%h1
  Community End User
- if @community.end_user
  = "The current end user for " + @community.format_name + " is "
  %b
    = @community.end_user.name
  %br  
  = "To replace the current end user, click the new user name below."
  %br
  %br
- else
  %h2
    = "No End User has been set. Community members will not be able to submit to " + @community.format_name + " without an end user."  
    = "Click user name to set as end repository for community publications."
- if @community
  
  = render :partial => "user/select_user_by_name", :locals => { :li => LinkingInfo.new("end_user_communities", "set_end_user", @community.id ) }

- else
  = "nil com"
