= render :partial => 'identifiers/header_perseids'
= render :partial => 'identifiers/edit_bar_perseids'

#edit.sosolcard
  = form_for @identifier, :url => { :action => :update }  do |f|
    = f.error_messages

    .PContent
      = @identifier[:html_preview].html_safe
