- if @current_user
  - md5 = Digest::MD5.new
  - md5.update @current_user.email
  .welcome

    %span{:class => "user-picture-tip", "data-title" => "Set your profile picture at http://gravatar.com"}
      %img{:class => "user-picture", :src=> "https://www.gravatar.com/avatar/#{md5}?d=mm&r=pg", :width=>"150"}
    %p
      %em Welcome back
      %p
        = @current_user.human_name
-else
  %nav{:class=>"logins"}
    %ul
      %li{:href => "#", :class =>"yahoo"}
        = "#{Sosol::Application.config.site_wiki_link}".html_safe
      %li{:href => "#", :class =>"aol"}
        = "#{Sosol::Application.config.site_pubs_link}".html_safe
      %li{:href => "#", :class =>"google"}
        = "#{Sosol::Application.config.site_instructions_link}".html_safe
