<div id='main'>
  <%# render :partial => 'identifiers/edit_bar' %>
  
  <div class='site'>
    <%# render :partial => 'identifiers/header' %>

    <h1>Editing glossary</h1>


<% form_tag("update", :method => "put") do %>

<p> <b>Item</b> <%= text_field_tag(:item, @entry.item ) %> </p>
<p> <b>Greek Term</b> <%= text_field_tag(:term, @entry.term ) %>  </p>




<% @entry.text.each do |lang, definition| %>
<% @possible_langs.delete(lang) %>
<p><b><%= lang %></b>
<%= text_field_tag(lang, @entry.text[lang]) %>
            </p>
          <% end %>
          
          
<% @possible_langs.each do |lang| %>

<p><b><%= lang %></b>
<%= text_field_tag(lang) %>
            </p>
          <% end %>
          
          
          
          
        
          
          
          
          

<br />
<%= submit_tag("Update") %>

<% end %>




  </div>
</div>
