%h1
  Glossary
%table
  %tr
    %td
      Item
    %td
      Term
    %td
      en
    %td
      de
    %td
      fr
    %td
      sp
    %td
      la</td
  - for glossary in @glossaries
    %tr
      %td
        = h glossary.item
      %td
        = h glossary.term
      - glossary.text.each do |lang, definition|
      %td
        = h glossary.text[lang]
      - end
      %td
        = link_to 'Show', {:action => "show", :id=> glossary.item }
      %td
        = link_to 'Edit', {:action => "edit", :id=> glossary.item }
      %td
        = link_to 'Destroy', {:action => "show", :id=> glossary.item}, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New glossary', new_hgv_trans_glossary_path
