<h1>New glossary</h1>

<% form_for(@glossary) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :item %>
    <%= f.text_field :item %>
  </p>
  
  <p>
    <%= f.label :term %>
    <%= f.text_field :term %>
  </p>



  <p>
    <%= f.label :en %>
    <%= f.text_field :en %>
  </p>



  <p>
    <%= f.label :de %>
    <%= f.text_field :de %>
  </p>



  <p>
    <%= f.label :fr %>
    <%= f.text_field :fr %>
  </p>


  <p>
    <%= f.label :sp %>
    <%= f.text_field :sp %>
  </p>


  <p>
    <%= f.label :la %>
    <%= f.text_field :la %>
  </p>




  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', glossaries_path %>
