
<p>
  <b>Item</b>
  <%=h @glossary.item %>
</p>

<p>
  <b>Greek Term</b>
  <%=h @glossary.term %>
</p>



<% @glossary.text.each do |lang, definition| %>
            <p><b><%= lang %> - </b><%=h @glossary.text[lang] %></p>
          <% end %>
          




<%= link_to 'Back', hgv_trans_glossaries_path %>
