
<p>
  <b>Item</b>
  <%=h @glossary.item %>
</p>

<p>
  <b>Greek Term</b>
  <%=h @glossary.term %>
</p>

<p>
  <b>en</b>
  <%=h @glossary.en %>
</p>

<p>
  <b>de</b>
  <%=h @glossary.de %>
</p>

<p>
  <b>fr</b>
  <%=h @glossary.fr %>
</p>

<p>
  <b>sp</b>
  <%=h @glossary.sp %>
</p>

<p>
  <b>la</b>
  <%=h @glossary.la %>
</p>





<%= link_to 'Back', glossaries_path %>
