.comment_partial
  .name 
    - if comment.user != nil && comment.user.name != nil
      = comment.user.name
  .time
    = comment.created_at
  .reason 
    - if comment.reason != nil
      = comment.reason
    on
    - if comment.identifier != nil && comment.identifier.title != nil
      = comment.identifier.title
  .comment    
    - if comment.comment != nil
      = comment.comment

