.comment_partial
  .name 
    - if comment.user && comment.user.name
      = comment.user.human_name
  .time
    = comment.created_at
  .reason 
    - if comment.reason
      = comment.reason
    - if comment.identifier && comment.identifier.title
      on
      = comment.identifier.class::FRIENDLY_NAME
  .comment    
    - if comment.comment
      = comment.comment

