.comment_partial
  .name 
    - if comment.user && comment.user.name
      = comment.user.name
  .time
    = comment.created_at
  .reason 
    - if comment.reason
      = comment.reason
    - if comment.identifier && comment.identifier.title
      on
      = comment.identifier.friendly_name
  .comment    
    - if comment.comment
      = comment.comment

