
= stylesheet_link_tag 'editor'
-# render :partial => "common/flash_all"  
%h3
  = @publication.title

- form_for :comment, Comment.new(:publication_id => @publication_id, :identifier_id => @identifier_id, :reason => "general"), :url => { :controller => "comments", :action => "create" } do |form|
  = form.hidden_field :publication_id
  = form.hidden_field :identifier_id 
  = form.hidden_field :reason
  = form.text_field :comment
  = form.hidden_field :reason
  = form.submit "Add Comment", :id => "submit_button"

- for comment in @comments
  = render :partial => comment



