<p>
  <b>Text:</b>
  <%=h @comment.text %>
</p>

<p>
  <b>User:</b>
  <%=h @comment.user_id %>
</p>

<p>
  <b>Article:</b>
  <%=h @comment.article_id %>
</p>

<p>
  <b>Reason:</b>
  <%=h @comment.reason %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
