<p>
  <b>Text:</b>
  <%=h @comment.comment %>
</p>

<p>
  <b>User:</b>
  <%=h @comment.user_id %>
</p>

<p>
  <b>Publication:</b>
  <%=h @comment.publication_id %>
</p>

<p>
  <b>Identifier:</b>
  <%=h @comment.identifier_id %>
</p>

<p>
  <b>Git Hash:</b>
  <%=h @comment.git_hash %>
</p>

<p>
  <b>Reason:</b>
  <%=h @comment.reason %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
