<script>
function showHide(id)
{
  var element = document.getElementById(id);
  if ( element.style.display != 'none' )
  {
     element.style.display = 'none';
  }
  else
  {
    element.style.display = '';
  }
}
</script>

<div class="translation">

<h3 style="display:inline;">Translation</h3>


<% if defined?(show_links) &&  show_links  %>
	<% show_edit_link = true %>
	<% show_submit_link = true %>
<% end %>


<% if defined?(show_edit_link) && show_edit_link %>
  	<%= link_to 'Edit', url_for(:controller => 'translations', :action => 'edit', :id => translation.id) %> 	
<% end %>

<% if defined?(show_submit_link) && show_submit_link %>
  <% if translation.article.status == "submitted" %>
  	Submitted
  <% else %>
		<%= link_to 'Submit', url_for(:controller => 'translations', :action => 'review_for_submit', :id => translation.id) %> 
	<% end %>
<% end %>




<br />

  <% langs = @current_user.language_prefs.split(' ') %>
  <% tcs = translation.GetTranslationsFromTranslationContents() %>
	 
	  <% tcs.each do |tc| %> 
		<% section_id = "translation_content_" + tc.language %>
	 
		<h3 style="display:inline;" onclick="showHide('<%=   section_id%>')"><%= tc.language %></h3>

		<% lang_found = false %>
        <% langs.each do |l| %>        	
        	<% if tc.language == l %>
        		<% lang_found = true %>
        	<% end %>
        <% end %>
        
        <% lang_found = true %><!--show all for the moment-->
        
        <% if lang_found == true %>
          <div id= <%= section_id %> >
        <% else %>
			<div id= <%= section_id %> style ='display: none;' >
		<% end %>
		
			<div class="translation_content">
			<%=tc.content %>    
			</div>
		</div>
		<br />
	  <% end %>





</div>
