<div class="translation">

<h3 style="display:inline;">Translation</h3>
<%= link_to 'Edit', url_for(:controller => 'translations', :action => 'edit', :id => translation.id) %> 

<p>
  <b>Content:</b>
  <%=h translation.content %>
</p>

<p>
  <b>Language:</b>
  <%=h translation.language %>
</p>

<p>
  <b>User:</b>
  <%=h translation.user_id %>
</p>

<p>
  <b>Article:</b>
  <%=h translation.article_id %>
</p>




</div>
