<script>
function showHide(id)
{
  var element = document.getElementById(id);
  if ( element.style.display != 'none' )
  {
     element.style.display = 'none';
  }
  else
  {
    element.style.display = '';
  }
}
</script>


<div class="translation_background">

<h1>Editing translation</h1>

<%= link_to "Add" , :controller => "translations", :action => "add_new_translation_content", :id => @translation.id %>
<%= link_to "Epidoc-->Translations" , :controller => "translations", :action => "epidoc_to_translation_contents", :id => @translation.id %>
<%= link_to "Translations-->Epidoc" , :controller => "translations", :action => "translation_contents_to_epidoc", :id => @translation.id %>

<% form_for(@translation) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :epidoc %><br />
    <%= f.text_area :epidoc %>
  </p>
  <!--
  <p>
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </p>
  
  -->
  
  
  <% #get the language content %>
  <% langs = @current_user.language_prefs.split(' ') %>
  <% tcs = @translation.GetTranslationsFromTranslationContents() %>
	 
	  <% tcs.each do |tc| %> 
		<% section_id = "translation_content_" + tc.language %>
	 
		<h3 style="display:inline;" onclick="showHide('<%=   section_id%>')"><%= tc.language %></h3>

		<% lang_found = false %>
        <% langs.each do |l| %>        	
        	<% if tc.language == l %>
        		<% lang_found = true %>
        	<% end %>
        <% end %>
        
        <% if lang_found == true %>
          <div id= <%= section_id %> >
        <% else %>
			<div id= <%= section_id %> style ='display: none;' >
		<% end %>
		
			<% text_id = section_id + "_content" %>
			<%= text_area_tag ( text_id, tc.content, :cols => "100", :rows => "20" ) %>    
		</div>
		<br />
	  <% end %>
	  
 
  <!--
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :article_id %><br />
    <%= f.text_field :article_id %>
  </p>
  -->
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>


<%= link_to 'Document', url_for(@translation.article.master_article) %>
<div>
