
<script>
function commentChanged(e)
{

  <!-- don't care what key, just check that the comment has info -->
  var comment_area = document.getElementById("comment");
  var sub_button = document.getElementById("submit_button");  
  var commentText = comment_area.value;
 
  commentText = commentText.replace(/^\s+|\s+$/g, '');
  
  if (commentText == "")
  {
    sub_button.disabled = true;
   
  }
  else
  {
    sub_button.disabled = false;
  }
}
</script>


<% if flash[:notice] %>
  <div class= "notice"><%= flash[:notice] %></div>
 <% end %>



<%= render :partial => @translation , :locals => { :show_links => false }%>


<% form_tag( :controller => "translations", :action => "submit", :method => "get") do %>

<%= label_tag(:comment, "Describe your changes and reasoning.") %>

<%= hidden_field_tag( :id, @translation.id) %>

<br />

  <%= text_area_tag( :comment, "",:rows => 5, :cols => 80, :onkeyup => "commentChanged(event)") %>
  <br />
  <%= submit_tag("Submit", :id => "submit_button", :disabled => "true") %>
  
  <% end %>


<br /><br />
<%= link_to 'Document', url_for(@translation.article.master_article) %>
