<p>
  <b>Content:</b>
  <%=h @translation.content %>
</p>

<p>
  <b>Language:</b>
  <%=h @translation.language %>
</p>

<p>
  <b>User:</b>
  <%=h @translation.user_id %>
</p>

<p>
  <b>Article:</b>
  <%=h @translation.article_id %>
</p>


<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
