= javascript_include_tag 'confirm'
= javascript_include_tag 'treebank-cite'
  
#compare.sosolcard
  - if @compare_list.length > 0
    %h3
      Compare
      = link_to @identifier.name, polymorphic_path([@identifier.publication, @identifier], :action => :preview)
      with:
    %ol
      - @compare_list.each do |c|
        %li{ :class => ''}
          = link_to c[:text], c[:href], html_options = {'target' => c[:target], 'title' => c[:title]}
  - else
    %div{:class => "flash-notice warning"}
      %i{:class => 'fa fa-info-circle'}
      You have no files to compare with
      = link_to @identifier.name, polymorphic_path([@identifier.publication, @identifier], :action => :preview)
