.main.edittext
  = render :partial => 'identifiers/edit_bar'
  .site
    = render :partial => 'identifiers/header'
    #edit
      - form_for @identifier, :url => { :action => :update } do |f|
        = f.error_messages
        %label JSON-LD Object
        %br
        = f.text_area :xml_content, :disabled => !@identifier.mutable?, :rows => 20, :wrap => 'off', :class => 'observechange'
        %br
        = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :where_at => :bottom }
