%nav.sosolcard.no-padding
  %ul.menu
    - if @identifier.publication.status == 'finalizing'
      %li
        = link_to 'Finalize', finalize_review_publication_path(@identifier.publication), :class => ((params[:controller] == 'publications') && (params[:action] == 'finalize_review')) ? 'active' : ''
    %li
      = link_to 'Overview', publication_path(@identifier.publication), :class => ((params[:controller] == 'publications') && (params[:action] == 'show')) ? 'active' : ''
    -if @identifier.class.to_s =~ /CTSIdentifier/
      %li
        = link_to 'Edit', edit_polymorphic_path([@identifier.publication, @identifier]), :class => %w{edit editxml commentary update}.include?(params[:action]) ? 'active' : ''
      %li
        = link_to 'Preview',polymorphic_path([:preview,@identifier.publication, @identifier]), :class => %w{preview}.include?(params[:action]) ? 'active' : ''
      %li
        = link_to "Download Copy", :controller => 'publications', :id => @identifier.publication.id, :action => "download"
    -elsif @identifier.class == TreebankCiteIdentifier || @identifier.class == AlignmentCiteIdentifier
      %li
        = link_to 'Edit', edit_polymorphic_path([@identifier.publication, @identifier]), :class => %w{edit}.include?(params[:action]) ? 'active' : ''
      %li
        = link_to 'Edit XML', polymorphic_path([:editxml,@identifier.publication, @identifier]), :class => %w{editxml}.include?(params[:action]) ? 'active' : ''
      %li
        = link_to 'Preview',polymorphic_path([:preview,@identifier.publication, @identifier]), :class => %w{preview}.include?(params[:action]) ? 'active' : ''
      %li
        = link_to "Download Copy", {:controller => 'publications', :id => @identifier.publication.id, :action => "download"}
      -if @can_compare
        %li
          = link_to 'Compare', polymorphic_path([:compare,@identifier.publication, @identifier])
      %li
        = link_to 'Change Title', polymorphic_path([@identifier.publication, @identifier], :action => :edit_title)
    -elsif @identifier.class == OaCiteIdentifier
      %li
        = link_to 'Edit', edit_publication_oa_cite_identifier_path( @identifier.publication, @identifier), :class => %w{edit}.include?(params[:action]) ? 'active' : ''
      %li
        = link_to 'Edit XML', editxml_publication_oa_cite_identifier_path( @identifier.publication, @identifier), :class => %w{editxml}.include?(params[:action]) ? 'active' : ''
      %li
        = link_to 'Preview',polymorphic_path([:preview,@identifier.publication, @identifier]), :class => %w{preview}.include?(params[:action]) ? 'active' : ''
      %li
        = link_to "Download Copy", {:controller => 'publications', :id => @identifier.publication.id, :action => "download"}
      -if @identifier.can_import?
        %li
          = link_to 'Import', import_update_publication_oa_cite_identifier_path( @identifier.publication, @identifier)
    -elsif @identifier.class == SyriacaIdentifier || @identifier.class == SyriacaPersonIdentifier
      %li
        = link_to 'XML', polymorphic_path([@identifier.publication, @identifier], :action => :editxml), :class => params[:action] == 'editxml' ? 'active' : ''
      %li
        = link_to 'Preview', polymorphic_path([@identifier.publication, @identifier], :action => :preview), :class => params[:action] == 'preview' ? 'active' : ''
      %li
        = link_to "Download Copy", {:controller => 'publications', :id => @identifier.publication.id, :action => "download"}
    -else
      %li
        = link_to 'Edit', edit_polymorphic_path([@identifier.publication, @identifier]), :class => %w{edit editxml commentary update}.include?(params[:action]) ? 'active' : ''
      %li
        = link_to 'Preview',polymorphic_path([:preview,@identifier.publication, @identifier]), :class => %w{preview}.include?(params[:action]) ? 'active' : ''
      %li
        = link_to "Download Copy", {:controller => 'publications', :id => @identifier.publication.id, :action => "download"}
    %li
      = link_to 'History', polymorphic_path([@identifier.publication, @identifier], :action => :history), :class => %w{history show_commit}.include?(params[:action]) ? 'active' : ''
    - if @identifier.publication.status == 'finalizing' && @identifier.mutable?
      %li
        = link_to 'Rename', polymorphic_path([@identifier.publication, @identifier], :action => :rename_review), :class => params[:action] == 'rename_review' ? 'active' : ''
    - elsif params[:action] == 'finalize_review'
      %li
        = link_to 'Diff', edit_polymorphic_path([@identifier.publication, @identifier]), :class => !%w{history show_commit}.include?(params[:action]) ? 'active' : ''
      %li
        = link_to 'History', polymorphic_path([@identifier.publication, @identifier], :action => :history), :class => params[:action] == 'history' ? 'active' : ''
      %li= link_to 'Comment', {:controller => 'comments',  :action => 'ask_for', :publication_id => @identifier.publication.id, :identifier_id => @identifier.id, :method => :get }, :onclick => "window.open(this.href,'new win','width=600, height=200');return false;".html_safe
