

- if defined?(list_name)
  - list_id = "publication_list_holder_" + list_name
- else
  - list_id = "publication_list_holder"
  
- colwidth = 60/Identifier.site_identifier_classes.size  

%div{:class => "publication_list_holder", :id => list_id }
  %table{:class=>"results", :width=>"95%"}
    %tr
      %td
      - Identifier.site_identifier_classes.each do |i|
        - if i.constantize::is_visible   
          %td{:width=>"#{colwidth}%"}
      %td
    %tr{:class=>"head"}
      %td
        = Publication
      - Identifier.site_identifier_classes.each do |i|
        - if i.constantize::is_visible   
          %td
            = i.constantize::FRIENDLY_NAME
      %td
        Info
    - publications.each do |publication|
      
      %tr
        %td
          - display_title = publication.title.split('/').last + " (" + publication.creator.name + ")"
          = link_to display_title, publication, :title => "Last modified #{time_ago_in_words(publication.updated_at)} ago. Submitted by " + publication.creator.name
    
          -#= link_to publication.title, publication
          
        - Identifier.site_identifier_classes.each do |i|
          - if i.constantize::is_visible   
            %td{:class=>"identifier_td"}
              - meta_ids = publication.identifiers.collect do |ids|
                - if ids.type == i
                  - ids
              - meta_ids = meta_ids.compact
          
              - if meta_ids.length == 0
                -# no option to create here
              - else
                = link_to meta_ids.first.title, edit_polymorphic_path([publication,meta_ids.first])
            
              - if meta_ids.length > 1
                = render :partial => "publications/batch_box", :locals => {:ids => meta_ids }
             
                -#
                  - if mid.needs_reviewing?(@current_user)
                    = image_tag('review_flag.png')
                    = link_to mid.title, edit_polymorphic_path([publication,mid]), html_options = {:style=>"display:inline;"}
                  - else
                    = link_to mid.title, edit_polymorphic_path([publication,mid])
        -# -------------INFO---------------------  
        %td
          -# for efficiency only get extra info for the needed categories
          - if list_name == "approved"
            - if publication.find_finalizer_user
              - finalizer_div_id = "finalizer_" + publication.id.to_s
              = publication.find_finalizer_user.human_name
              = " is finalizing. "   
              -#= image_tag("show_more_ids.png", :onclick=>"showFinalizer(this, '#{finalizer_div_id}', true)" )
              = image_tag("show_more_ids.png", :onclick=>"toggleFinalizer(this, '#{finalizer_div_id}')" )
              -#%div{:class=>"finalizing", :id=>finalizer_div_id, :style=>"display:none;" , :onmouseout=>"showFinalizer(this, '#{finalizer_div_id}',false)"}
              %div{:class=>"finalizing", :id=>finalizer_div_id, :style=>"display:none;" , :onmouseout=>"toggleFinalizer(this, '#{finalizer_div_id}')"}
                = form_tag({:controller=>'publications', :action=>'become_finalizer', :id=>publication.id}) do
                  = submit_tag "Make me finalizer", :onclick => 'this.disabled=true;this.form.submit();'
              
          - if list_name == "needs_review" || list_name == "waiting"
            - if publication.votes.count > 0
              = publication.votes.count
              - if publication.votes.count == 1
                = " vote"
              - else
                = " votes"
              
              - vote_div_id = "votes_" + publication.id.to_s
              = image_tag("show_more_ids.png", :onmouseover=>"showVotes(this, '#{vote_div_id}', true)", :onmouseout=>"showVotes(this, '#{vote_div_id}', false)" )
              %div{:class=>"votes", :id=>vote_div_id, :style=>"display:none;"}
                %table
                  - publication.votes.each do |vote|
                    %tr
                      %td
                        = vote.user.human_name + " (" + vote.user.name + ") "
                      %td
                        = vote.choice 
                  
