.comment_partial
  - for comment in commentall
    %div{:class => "#{comment.xmltype.downcase}_comment" }
      .name
        = comment.who
      .time
        = comment.when.strftime("%a %b %d, %Y  %X")
      .reason 
        = comment.why
      .comment    
        = comment.comment

