%div{:id => 'publications-_cts_selector'}
%input{ :id => 'cts_proxy', :type => 'hidden', :value => url_for(:controller => 'cts_proxy', :only_path => true) }
- cache(:action => 'dashboard', :part => 'publication_selector') do
  - unless defined? hide_text
    %p== Existing publication:
  = form_tag :controller => controller, :action => "create_from_selector" do
    %p{:class => ['cts_selector_hint']}== Select a publication to work with:
    = hidden_field_tag 'IdentifierClass','CTSIdentifier'
    - [CTSIdentifier].each do |identifier_class|
      = select_tag("#{identifier_class}CollectionSelect", options_for_select(identifier_class.inventories_hash.keys))
    = select_tag 'group_urn', nil, :disabled => true, :style => 'min-width: 5em;'
    = select_tag 'work_urn', nil, :disabled => true, :style => 'min-width: 5em;'
    = select_tag 'edition_urn', nil, :disabled => true, :style => 'min-width: 5em;'
    //= text_field_tag('passage')
    = submit_tag "Emend", :disabled => true, :id => 'emend_button'
    = submit_tag "Create Edition", :disabled => true, :id => 'create_button'
    %div{:class => ['nav_tools']}
      %ul{:class => ['nav_right','perseids_menu']}
        %li
          = link_to 'Perseids Treebanking Pilot Links', 'http://sites.tufts.edu/perseids/projects/treebanking-pilots/'
        %li
          New Treebank Annotation
          %ul{:class => ['perseids_sub_menu']}
            - Tools::Manager.link_all('treebank_editor',:create,nil).each do |link|
              %li
                = link_to link[:text], link[:href], html_options = {'target' => link[:target]} 
        %li      
          = link_to 'New Alignment Annotation', url_for(:controller => 'cite_publications', :action => 'create_from_linked_urn', :type => 'Alignment', :urn => 'urn:cite:perseus:align')
