.new-bar
  - tb = Tools::Manager.link_to('treebank_editor','arethusa',:create,[])
  = link_to tb[:text], tb[:href], html_options = {'target' => tb[:target], :class => 'btn TreebankCiteIdentifier'}
  - align = Tools::Manager.link_to('alignment_editor',:alpheios,:create,[])
  = link_to align[:text], align[:href], html_options = { 'target' => align[:target], :class => 'btn AlignmentCiteIdentifier'}
  = link_to 'Import Annotations', url_for(:controller => 'oa_cite_identifiers', :action => 'import'), :class => 'btn OaCiteIdentifier'
  %a{:href => "#", :class => "btn EpiCTSIdentifier", :id => "workwithtexts"}
    New Transcription
#publications-_cts_selector{:style => "display:none;"}
= form_tag({:controller => controller, :action => "create_from_selector"},{:class => "select-bar"}) do
  %h2
    Select a publication to work with:
  %input{ :id => 'cts_proxy', :type => 'hidden', :value => url_for(:controller => 'cts_proxy', :only_path => true) }
  = hidden_field_tag 'IdentifierClass','CTSIdentifier'
  - [CTSIdentifier].each do |identifier_class|
    .select-container.small
      = select_tag("#{identifier_class}CollectionSelect", options_for_select(inventories))
  .select-container.small
    = select_tag 'group_urn', nil, :disabled => true, :style => 'min-width: 5em;'
  .select-container.small
    = select_tag 'work_urn', nil, :disabled => true, :style => 'min-width: 5em;'
  .select-container.small
    = select_tag 'edition_urn', nil, :disabled => true, :style => 'min-width: 5em;'
  = submit_tag "Emend", :disabled => true, :id => 'emend_button', :class => 'btn disabled'
  = submit_tag "Create Edition", :disabled => true, :id => 'create_button', :class => 'btn disabled'
