%ul.publications
  - for publication in list
    %li
      %ul
        = link_to( image_tag('documents.png', :border => "0") , publication)
        - for identifier in publication.identifiers
          %li{ :class => (identifier == publication.identifiers.last ? 'last' : '') }<
            - case identifier
              - when DDBIdentifier
                = image_tag('ddb.gif')
              - when HGVMetaIdentifier
                = image_tag('hgv.gif')
              - when HGVTransIdentifier
                = image_tag('hgv.gif')            
            - if publication.status != 'finalizing'
              = link_to(identifier.title, edit_polymorphic_path([publication, identifier]), :class => (identifier.modified ? 'modified' : ''))
            - else
              = link_to(identifier.title, finalize_review_publication_path(publication), :class => (identifier.modified ? 'modified' : ''))
            - if @current_user.developer
              == (#{identifier.status})
              = "{"
              - identifier.votes.each do |v|
                = v.choice
              = "}"
        - if @current_user.developer  
          == (#{publication.status})
          -# if !publication.status.nil? && publication.status != ''
          -#  == (#{publication.status})
        - if @current_user != publication.creator
          -#- if publication.owner_type && publication.owner_type == "Board"
          = " by "
          - if !publication.creator.nil?
            = publication.creator.name
          - else
            "?"
        - if publication.status == "approved"
          -#find out who is finalizing
          - if publication.find_finalizer_user
            = "is being finalized by "
            = publication.find_finalizer_user.name
          
/ - if @branches.length > 0
/   %h2 Listing Branches
/   %ul
/   - for branch in @branches
/     %li= branch
