%p== Emend existing publication:
- form_tag :controller => 'publications', :action => "create_from_selector" do
  %select{ :id => 'IdentifierClass', :onchange => "['DDB','HGV'].each(function(i){$(i + 'IdentifierCollectionSelect').toggleClassName('invisible')})" }
    %option{ :value => 'DDBIdentifier'}== DDB
    %option{ :value => 'HGVIdentifier'}== HGV
  - [DDBIdentifier, HGVIdentifier].each do |identifier_class|
    %select{ :id => "#{identifier_class}CollectionSelect", :class => identifier_class == DDBIdentifier ? '' : 'invisible', :onchange => "$('volume_number').disabled='';$('document_number').disabled='';$('emend_button').disabled='';if(this.options[0].value==''){this.remove(0)}"}
      %option{ :value => ''}
      - identifier_class.collection_names.each do |collection_name|
        %option{ :value => collection_name }= collection_name
  = text_field_tag 'volume_number', "Volume Number", :disabled => true, :onclick => "this.clear()"
  = text_field_tag 'document_number', "Document Number", :disabled => true, :onclick => "this.clear()"
  = submit_tag "Emend", :disabled => true, :id => 'emend_button'