- if defined?(list_name)
  - list_id = "publication_list_holder_" + list_name
- else
  - list_id = "publication_list_holder"
  
- newstyle = 'style="color:blue; background-color:red"'
- colwidth = 80/(Identifier.site_identifier_classes.size)

%div{:class => "publication_list_holder", :id => list_id }
  %table{:class=>"results", :width=>"100%"}
    %tr{:class=>"head"}
      %td{:width=>"20%"}
        = Publication
      - Identifier.site_identifier_classes.each do |i|
        - if i.constantize::is_visible   
          %td{:width=>"#{colwidth}%"}
            = i.constantize::FRIENDLY_NAME
    - publications.each do |publication|
      %tr
        %td
          - display_title = publication.title #publication.title.split('/').last + "(" + publication.creator.name + ")"
          = link_to display_title, publication, :title => "Last modified #{time_ago_in_words(publication.updated_at)} ago"
          -# link_to publication.title, publication, :title => "Last modified #{time_ago_in_words(publication.updated_at)} ago"
          
          - if view_type && view_type == "community"
            = publication.owner.name
        
        - creatable_identifiers = publication.creatable_identifiers
        - Identifier.site_identifier_classes.each do |i|
          - if i.constantize::is_visible   
            %td{:class=>"identifier_td"}
              - meta_ids = publication.identifiers.collect do |ids|
                - if ids.type == i
                  - ids
              - meta_ids = meta_ids.compact
              - if (meta_ids.length == 0) 
                -  if (creatable_identifiers.include?(i))
                  - class_type = i
                  - link_id = i + publication.id.to_s
                  - create_type = 'Create New'           
                  - if class_type == 'APISIdentifier'
                    - options = ['Create New'] << APISIdentifier.collection_names_hash.sort
                    = form_for :apis, :url => {:controller => 'identifiers', :action => 'create', :publication_id => publication.id, :identifier_type => class_type} do |f|
                      = select_tag "apis_collection", options_for_select(options.flatten.uniq), :prompt => 'Create New', :onchange => "this.form.submit()"
                  - else
                    = link_to(create_type, options = {:controller => 'identifiers', :action => 'create', :publication_id => publication.id, :identifier_type => class_type, :method => :post}, html_options = {:id => "#{link_id}", :onclick => "$('#{link_id}').replace('<b #{newstyle}>Creating New...</b>');"})
                - else 
                  = "-"
              - elsif meta_ids.length > 0
                = link_to meta_ids.first.title, edit_polymorphic_path([publication,meta_ids.first])
              - if meta_ids.length > 1
                = render :partial => "publications/batch_box", :locals => {:ids => meta_ids }

