


- if defined?(list_name)
  - list_id = "publication_list_holder_" + list_name
- else
  - list_id = "publication_list_holder"
  
- newstyle = 'style="color:blue; background-color:red"'

%div{:class => "publication_list_holder", :id => list_id }
  %table{:class=>"results", :width=>"100%"}
    %tr
      %td{:width=>"40%"}
      %td{:width=>"15%"}
      %td{:width=>"15%"}
      %td{:width=>"15%"}
      %td{:width=>"15%"}
    %tr{:class=>"head"}
      %td
        = Publication
      %td
        HGV
      %td
        Text
      %td
        APIS
      %td
        Translation
    - publications.each do |publication|
      
      %tr
        %td
          - display_title = publication.title #publication.title.split('/').last + "(" + publication.creator.name + ")"
          = link_to display_title, publication, :title => "Last modified #{time_ago_in_words(publication.updated_at)} ago"
          -# link_to publication.title, publication, :title => "Last modified #{time_ago_in_words(publication.updated_at)} ago"
          
          - if view_type && view_type == "community"
            = publication.owner.name
        
        - creatable_identifiers = publication.creatable_identifiers
        -# -------------META---------------------
        %td{:class=>"identifier_td"}
          - meta_ids = publication.identifiers.collect do |ids|
            - if ids.type == "HGVMetaIdentifier"
              - ids
              
          - meta_ids = meta_ids.compact
          
          - if (meta_ids.length == 0) && creatable_identifiers.include?("HGVMetaIdentifier")
            - class_type = "HGVMetaIdentifier"
            - link_id = "HGVMetaIdentifier" + publication.id.to_s
            - create_type = 'Create new'            
            = link_to(create_type, options = {:controller => 'identifiers', :action => 'create', :publication_id => publication.id, :identifier_type => class_type, :method => :post}, html_options = {:id => "#{link_id}", :onclick => "$('#{link_id}').replace('<b #{newstyle}>Creating New...</b>');"})
          - elsif meta_ids.length > 0
            = link_to meta_ids.first.title, edit_polymorphic_path([publication,meta_ids.first])
          
          - if meta_ids.length > 1
            = render :partial => "publications/batch_box", :locals => {:ids => meta_ids }
          
        -# -------------TEXT---------------------    
        %td{:class=>"identifier_td"}
          - text_ids = publication.identifiers.collect do |ids|
  
            - if ids.type == "DDBIdentifier"
              - ids
          - text_ids = text_ids.compact
          - if (text_ids.length == 0) && creatable_identifiers.include?("DDBIdentifier")
            - class_type = "DDBIdentifier"
            - link_id = "DDBIdentifier" + publication.id.to_s
            - create_type = 'Create new'            
            = link_to(create_type, options = {:controller => 'identifiers', :action => 'create', :publication_id => publication.id, :identifier_type => class_type, :method => :post}, html_options = {:id => "#{link_id}", :onclick => "$('#{link_id}').replace('<b #{newstyle}>Creating New...</b>');"})
          - elsif text_ids.length > 0
            = link_to text_ids.first.title, edit_polymorphic_path([publication,text_ids.first])

          - if text_ids.length > 1
            = render :partial => "publications/batch_box", :locals => {:ids => text_ids }

        -# -------------APIS--------------------- 
        %td{:class=>"identifier_td"}
          - apis_ids = publication.identifiers.collect do |ids|
            - if ids.type == "APISIdentifier"
              - ids
          - apis_ids = apis_ids.compact
          - if (apis_ids.length == 0) && creatable_identifiers.include?("APISIdentifier")
            - class_type = "APISIdentifier"
            - link_id = "APISIdentifier" + publication.id.to_s
            - create_type = 'Create new'
            = link_to(create_type, options = {:controller => 'identifiers', :action => 'create', :publication_id => publication.id, :identifier_type => class_type, :method => :post}, html_options = {:id => "#{link_id}", :onclink => "$('#{link_id}').replace('<b #{newstyle}>Creating New...</b>')"})
          - elsif apis_ids.length > 0
            = link_to apis_ids.first.title, edit_polymorphic_path([publication, apis_ids.first])
            
          - if apis_ids.length > 1
            = render :partial => "publications/batch_box", :locals => {:ids => apis_ids }
  
        -# -------------TRANSLATIONS---------------------
        %td{:class=>"identifier_td"}
          - trans_ids = publication.identifiers.collect do |ids|
  
            - if ids.type == "HGVTransIdentifier"
              - ids
          - trans_ids = trans_ids.compact
          - if (trans_ids.length == 0) && creatable_identifiers.include?("HGVTransIdentifier")
            - class_type = "HGVTransIdentifier"
            - link_id = "HGVTransIdentifier_" + publication.id.to_s
            - create_type = 'Create new'            
            = link_to(create_type, options = {:controller => 'identifiers', :action => 'create', :publication_id => publication.id, :identifier_type => class_type, :method => :post}, html_options = {:id => "#{link_id}", :onclick => "$('#{link_id}').replace('<b #{newstyle}>Creating New...</b>');"})
          - elsif trans_ids.length > 0
            = link_to trans_ids.first.title, edit_polymorphic_path([publication,trans_ids.first])

          - if trans_ids.length > 1
            = render :partial => "publications/batch_box", :locals => {:ids => trans_ids }
            
        -# -------------APIS---------------------
        %td{:class=>"identifier_td"}
          = " "              
