- if defined?(list_name)
  - list_id = "publication_list_holder_" + list_name
- else
  - list_id = "publication_list_holder"
  
- newstyle = 'style="color:blue; background-color:red"'

%div{:class => "publication_list_holder", :id => list_id }
  %table{:class=>"results", :width=>"95%"}
    %tr
      %td
      %td{:width=>"15%"}
      %td{:width=>"15%"}
      %td{:width=>"15%"}
      %td{:width=>"15%"}
    %tr{:class=>"head"}
      %td
        = Publication
      %td
        HGV
      %td
        Text
      %td
        Translation
      %td
        Catalog
    - publications.each do |publication|
      
      %tr
        %td
          = link_to publication.title, publication
        %td{:class=>"identifier_td"}
          - meta_ids = publication.identifiers.collect do |ids|
  
            - if ids.type == "HGVMetaIdentifier"
              - ids
          - meta_ids = meta_ids.compact
          - if meta_ids.length == 0
            - class_type = "HGVMetaIdentifier"
            - link_id = "HGVMetaIdentifier" + publication.id.to_s
            - create_type = 'Create new'            
            = link_to(create_type, options = {:controller => 'identifiers', :action => 'create', :publication_id => publication.id, :identifier_type => class_type, :method => :post}, html_options = {:id => "#{link_id}", :onclick => "$('#{link_id}').replace('<b #{newstyle}>Creating New...</b>');"})

          - meta_ids.each do |mid|
            =# mid.title
            = link_to mid.title, edit_polymorphic_path([publication,mid])
            
        %td{:class=>"identifier_td"}
          - text_ids = publication.identifiers.collect do |ids|
  
            - if ids.type == "DDBIdentifier"
              - ids
          - text_ids = text_ids.compact
          - if text_ids.length == 0
            - class_type = "DDBIdentifier"
            - link_id = "DDBIdentifier" + publication.id.to_s
            - create_type = 'Create new'            
            = link_to(create_type, options = {:controller => 'identifiers', :action => 'create', :publication_id => publication.id, :identifier_type => class_type, :method => :post}, html_options = {:id => "#{link_id}", :onclick => "$('#{link_id}').replace('<b #{newstyle}>Creating New...</b>');"})

          - text_ids.each do |tid|
            =# tid.title
            = link_to tid.title, edit_polymorphic_path([publication,tid])
  
        %td{:class=>"identifier_td"}
          - trans_ids = publication.identifiers.collect do |ids|
  
            - if ids.type == "HGVTransIdentifier"
              - ids
          - trans_ids = trans_ids.compact
          - if trans_ids.length == 0
            - class_type = "HGVTransIdentifier"
            - link_id = "HGVTransIdentifier_" + publication.id.to_s
            - create_type = 'Create new'            
            = link_to(create_type, options = {:controller => 'identifiers', :action => 'create', :publication_id => publication.id, :identifier_type => class_type, :method => :post}, html_options = {:id => "#{link_id}", :onclick => "$('#{link_id}').replace('<b #{newstyle}>Creating New...</b>');"})
            
          - trans_ids.each do |trid|
            =# trans.title
            = link_to trid.title, edit_polymorphic_path([publication,trid])
        %td{:class=>"identifier_td"}
          = " "              