<%# render :partial => "common/flash_all" %>
<h1>Start A Publication</h1>
<div class='advanced_create'>
  <h3>From Existing Material</h3>
  <p>
    <%= render :partial => "publications/publication_selector", :locals => { :emend => :showemend } %>
  </p>
</div>
<div class='advanced_create'>
  <h3>Create New Publication</h3>
  <p>
    Create a new DDB publication record and text.
    <%= render :partial => "publications/create_from_templates_form" %>
  </p>
  <p>
    Create a new APIS record.
    <%= render :partial => "publications/create_from_apis_template_form" %>
  </p>
  <p>
    Create a new DCLP record.
    <%= render :partial => "publications/create_from_dclp_template_form" %>
  </p>
  <p>
    Create a new biblio record.
    <%= render :partial => "publications/create_from_biblio_template_form" %>
  </p>
</div>
<div class='advanced_create'>
  <h3>From PN ID</h3>
  <p>A PN ID example is "papyri.info/ddbdp/bgu;7;1510"</p>
  <p>
    To find the appropriate TM number search
    <a href='http://www.trismegistos.org/ldab/search.php' target='_blank' title='LDAB'>here</a>
  </p>
  <p>
    <%= render :partial => "publications/create_from_pn_id_form" %>
  </p>
</div>
<div class='advanced_create'>
  <h3>Batch From PN IDs, one per line</h3>
  <p>
    <%= render :partial => "publications/create_from_batch_form" %>
  </p>
</div>
