:javascript
  function show_working_image() {
    //you have to submit the form before class toggle or does not work correctly
    $('archive_all_form').submit();
    $('show_working').toggleClassName('loading');
    Effect.SlideDown('show_working_div');
  }

#main
  -# render :partial => "common/flash_all"    
  %br
  %h2
    Are You Sure You Want to Archive ALL the publications below?  This may take some time, so please be patient.
  %br
  %h1
    -# using the link_to_function and form_tag to get the link to submit with a 'post' and execute the javascript
    -# to show the 'loading' image while working
    = link_to 'Archive ALL', '#', onclick: "show_working_image(); return false", :id => 'archive_all_link'
    = form_tag(url_for_options = {:controller => 'publications', :action => 'archive_all', :pub_ids => @publications.map{|p| p.id}}, options = {:method => :post, :id => 'archive_all_form'})
    = "or"
    = link_to "Cancel", dashboard_url
  %br
  %div{:id => "show_working_div", :style => "display:none;"}
    = text_area_tag 'show_working', nil, :cols => 40, :rows => 10
    -#line below is to get the image to load so it is available when class is toggled - for chrome, safari
    = image_tag("ajax_loader.gif", :style => "display:none;")
  %h2 
    - @publications.each do |pub|
      = pub.title
      %br
