
#main
  %h2 
    = @publication.title
    - if !@publication.status.nil? && @publication.status != ''
      == (#{@publication.status})
      
  -# render :partial => "common/flash_all"    

  %h2
    Are You Sure You Want to Archive this publication?
  %h1
    = link_to "Archive", :id => @publication.id ,  :controller => "publications", :action => "archive"
    = "or"
    = link_to "Cancel", @publication
