#main
  =# render :partial => 'identifiers/edit_bar'
  .site

    = render :partial => 'identifiers/header'
    %br
    = form_tag  finalize_publication_path(@publication), :method => :post do
      = label_tag "Finalization comment:"
      = text_area_tag :comment, '', :class => :comment, :cols => '80', :rows => '5'
      = hidden_field_tag 'identifier_id', @identifier.id
      %br
      = submit_tag "Finalize", :onclick => 'this.disabled=true;this.form.submit();', :class => 'save'

    %br
    = render :partial => 'common/diff', :object => @diff

