#main
  =# render :partial => 'identifiers/edit_bar'
  .site

    = render :partial => 'identifiers/header'
    %br
    = form_tag  finalize_publication_path(@publication), :method => :post do
      = label_tag "Finalization comment:"
      = text_area_tag :comment, '', :class => :comment, :cols => '80', :rows => '5', :disabled => (@publication.advisory_lock_exists?("finalize_#{@publication.id}") || @publication.parent.advisory_lock_exists?("become_finalizer_#{@publication.parent.id}"))

      = hidden_field_tag 'identifier_id', @identifier.id
      %br
      = submit_tag "Finalize", :class => 'save', :disabled => (@publication.advisory_lock_exists?("finalize_#{@publication.id}") || @publication.parent.advisory_lock_exists?("become_finalizer_#{@publication.parent.id}"))

    %br
    = render :partial => 'common/diff', :object => @diff

