#main.site
  %h2 
    = @publication.title
    - if !@publication.status.nil? && @publication.status != ''
      == (#{@publication.status})
  = render :partial => "common/flash_all"    

  #submit
    - if @show_submit
      = button_to "Submit", submit_review_publication_path(@publication), :class => 'submit', :method => :get


    -# if owner is a board, and it is approved, add a button to make me the finalizer
    - if @publication.owner_type == "Board" && @publication.status == "approved"
      -# if i am already the finalizer dont show the button
      - finalizer = @publication.find_finalizer_user
      - if !(finalizer && finalizer.id == @current_user.id)
        = button_to "Make me finalizer", { :action => 'become_finalizer', :id => @publication.id }


  - if @current_user.developer
    - if @publication.modified?
      %h1 MODIFIED PUBLICATION
  - for identifier in @publication.identifiers 
    - image_name = ""       
    - case identifier
      - when DDBIdentifier
        %h3 
          Text - 
          = identifier.name
          = identifier.class
        - image_name = 'ddb.gif'

      - when HGVMetaIdentifier
        %h3 
          Meta -
          = identifier.name
        - image_name = 'hgv.gif'
      - when HGVTransIdentifier
        %h3 
          Translation - 
          = identifier.name
        - image_name = 'hgv.gif'
        
      
    %p
      = image_tag(image_name)  
      
      = identifier.title
      = render :partial => identifier        

  - if @comments != nil  
    %h3 Comments 
    - for comment in @comments
      = render :partial => comment      
 
 
  

  - for class_type in @creatable_identifiers
    - create_type = class_type.constantize::FRIENDLY_NAME
    - create_type = 'Create new ' + create_type
    = link_to create_type, :controller => 'identifiers', :action => 'create', :publication_id => @publication.id, :identifier_type => class_type, :method => :post
    %br

  - if @current_user.developer  
    = link_to "developer delete", @publication, :method => :delete 
   
