#main
  - max_visible_comments = 10
  :javascript 
    function checkForComment() { comment_text = $('submit_comment').value; $('submit_button').disabled = comment_text.replace(/^\s+|\s+$/g, '') == ""; }
  = render :partial => 'identifiers/edit_bar'
  .site
    %h2 
      = @publication.title
      - if !@publication.status.nil? && @publication.status != ''
        == (#{@publication.status})
      
    = render :partial => "common/flash_all"    

    - if %w{new editing}.include?(@publication.status)
      #submit
        - if @show_submit
          %h3 Submit
          %p   
            You have changed the following items:
            %ul  
              - for identifier in @publication.identifiers      
                - if identifier.modified
                  %li
                    = "#{identifier.title} (#{identifier.class::FRIENDLY_NAME  })"
            They will be submitted to the proper boards for review.
            - form_tag  :controller => 'publications', :action => "submit"  do
              You will no longer be able to edit any of the items in this the publication once it is submitted. 
              %br
              %br
              = label_tag "Briefly describe the reason for your submission:"
              %br
              = text_area_tag 'submit_comment', "", :onkeyup => "checkForComment(event)", :cols => 70, :rows => 4
              %br
              %br
              = submit_tag "Submit to Boards", :disabled => true, :class => 'submit', :id => "submit_button"
        - else
          %b
            Publication may not be submitted at this time.
            %br
          - if !@publication.modified?
            No changes have been made.

    -# if owner is a board, and it is approved, add a button to make me the finalizer
    - if @publication.owner_type == "Board" && @publication.status == "approved"
      -# if i am already the finalizer dont show the button
      - finalizer = @publication.find_finalizer_user
      - if !(finalizer && finalizer.id == @current_user.id)
        = button_to "Make me finalizer", { :action => 'become_finalizer', :id => @publication.id }
    
    %br
    
    - if @current_user.developer
      - if @publication.modified?
        %h1 MODIFIED PUBLICATION
      
      
    - for identifier in @publication.identifiers 
      %h3
        == #{identifier.class::FRIENDLY_NAME} - 
        = render :partial => "identifiers/pn_link", :locals => {:identifier => identifier}

      %p
        = image_tag(identifier.class == DDBIdentifier ? 'ddb.gif' : 'hgv.gif')  
      
        = identifier.title
        - if @publication.status != "archived"
          = render :partial => identifier        

    - if @xml_comments != nil  
      %h3 Comments 
      = render :partial => "publications/commentall",  :object => @xml_comments[0..max_visible_comments-1]
      - if @xml_comments.length > max_visible_comments
        %div{:id => "more_comments", :style => "display:none;"}
          = render :partial => "publications/commentall", :object => @xml_comments[max_visible_comments..-1]
        %div{:id => "more_comments_link"}
          %a{:class => 'morelink', :href => '#', :onclick => "Effect.SlideDown('more_comments');Effect.SlideUp('more_comments_link');Effect.SlideDown('less_comments_link');return false;"}
            More...
        %div{:id => "less_comments_link", :style => "display:none;"}
          %a{:class => 'lesslink', :href => '#', :onclick => "Effect.SlideUp('more_comments');Effect.SlideDown('more_comments_link');Effect.SlideUp('less_comments_link');return false;"}
            Less...  
     
    - if @other_user_publications != nil && @other_user_publications.length > 0
      %br
      %h3 This publication is also being edited by:
      %ul
        - for other_pub in @other_user_publications
          %li
            = other_pub.creator.human_name
            == <#{mail_to(other_pub.creator.email, nil, :subject => "#{SITE_NAME} - Publication #{other_pub.title}")}>
            == (last edited #{time_ago_in_words(other_pub.updated_at)} ago)
      %br


    - if %w{editing new}.include?(@publication.status)
      - for class_type in @creatable_identifiers
        - link_type = class_type.constantize::FRIENDLY_NAME
        - create_type = 'Create new ' + link_type
        - newstyle = 'style="color:white; background-color:#005DAA"'
        = link_to(create_type, options = {:controller => 'identifiers', :action => 'create', :publication_id => @publication.id, :identifier_type => class_type, :method => :post}, html_options = {:id => "#{link_type}", :onclick => "$('#{link_type}').replace('<b #{newstyle}>Creating New #{link_type}...</b>');"})
     
        %br

    - if @allow_delete
      = link_to "Delete", :controller => 'publications', :id => @publication.id, :action => "confirm_delete"
      %br
  
    - if @publication.status == "committed"
      = link_to "Archive", :controller => 'publications', :id => @publication.id, :action => "confirm_archive"
      %br
  
    - if @current_user.developer  
      = link_to "developer immediate delete", @publication, :method => :delete 
      %br
