- max_visible_comments = 10
:javascript

  function checkForComment() {
    comment_text = $('submit_comment').value;
    var disabled = true;
    if ($('community_id') != null)
    {
      var selected_submit = $('community_id').value;
      disabled = (selected_submit == "")  ||  ( comment_text.replace(/^\s+|\s+$/g, '') == "" );
    }
    else
    {
      disabled = ( comment_text.replace(/^\s+|\s+$/g, '') == "" );
    }
    $('submit_button').disabled = disabled;
    if (disabled) {
      jQuery('#submit_button').addClass('disabled');
    } else {
      jQuery('#submit_button').removeClass('disabled');
    }
  }

  function toggle_div(obj) {
    var el = document.getElementById(obj);
    if ( el.style.display != "none" ) {
      el.style.display = 'none';
    }
    else {
      el.style.display = '';
    }
  }
%header
  %h1
    = @publication.title
    - if !@publication.status.nil? && @publication.status != ''
      == (#{@publication.status})

= render :partial => "common/flash_all"

= render :partial => 'action_bar'
- if %w{new editing}.include?(@publication.status)
  #submit.card
    - if @show_submit
      %h2 Submit
      %p
        You have changed the following items:
        %ul{:class => 'dashed'}
          - for identifier in @publication.identifiers
            - if identifier.modified
              %li
                = "#{identifier.title} (#{identifier.class::FRIENDLY_NAME  })"
        They will be submitted to the proper boards for review.
        %em You will no longer be able to edit any of the items in this the publication once it is submitted.
        = form_tag({:controller => 'publications',:action => "submit"})  do
          = label_tag "commit-message", "Briefly describe the reason for your submission:"
          = text_area_tag 'submit_comment', "", :class=>"input", :onkeyup => "checkForComment()", :cols => 70, :rows => 4
          = hidden_field_tag 'do_community_signup', @signup_communities.join(',')
          = hidden_field_tag 'do_community_confirm', @confirm_communities.join(',')
          .select-container.wide
            = select_tag "community[id]", options_for_select(@submittable_communities, :selected => @publication.community_id.to_s), {:include_blank => true,:onchange => "confirmSignup() && checkForComment();", 'data-current' => @publication.community_id.to_s}
            .carret
              %i{:class => "fa fa-caret-down"}
          = submit_tag "Submit to Boards", :onclick => 'this.disabled=true; jQuery(this).addClass("disabled"); this.form.submit();', :disabled => true, :class => 'disabled submit margin-left', :id => "submit_button"
    - else
      %p
        %em
          Publication may not be submitted at this time.
      - if !@publication.modified?
        No changes have been made.

- if @current_user.developer
  - if @publication.modified?
    %h1 MODIFIED PUBLICATION

- for identifier in @publication.identifiers
  - if identifier.class::is_visible
    .card.no-bottom-margin
      %h2
        == #{identifier.class::FRIENDLY_NAME} -
        = render :partial => "identifiers/pn_link", :locals => {:identifier => identifier}
      %p
        = render :partial => "identifiers/identifier_image", :locals => {:identifier => identifier}
        - if identifier.needs_reviewing?(@current_user.id)
          = image_tag('review_flag.png')
      %div{:class => 'details'}
        .columns
          .column
            %p
              = identifier.title
          .column
            %label Last edits (up to 5 shown):
            %ul
              - for commit in identifier.get_commits(5)
                - message = commit[:message].split("\n").first || '(no message)'
                %li
                  = html_escape(message.force_encoding("UTF-8"))
                  %em 
                    By: 
                    = commit[:committer_name].force_encoding("UTF-8")
    - if @publication.status != "archived"
      = render :partial => identifier
- if @all_comments != nil  || @xml_only_comments != nil || (@other_user_publications != nil && @other_user_publications.length > 0)
  .card
    - if @all_comments != nil
      %div{:id => "all_comments_div", :style => "display:none;"}
        %br
        %div{:class => "toggle_all_div"}
          %a{:class => 'toggle_all_link', :href => '#', :onclick => "toggle_div('all_comments_div');toggle_div('xml_only_comments_div');"}
            See XML Comments Only
        %br
        %h3 All Comments
        = render :partial => "publications/commentall",  :object => @all_comments[0..max_visible_comments-1]
        - if @all_comments.length > max_visible_comments
          %div{:id => "more_comments", :style => "display:none;"}
            = render :partial => "publications/commentall", :object => @all_comments[max_visible_comments..-1]
          %div{:id => "more_comments_link"}
            %a{:class => 'morelink', :href => '#', :onclick => "Effect.SlideDown('more_comments');Effect.SlideUp('more_comments_link');Effect.SlideDown('less_comments_link');return false;"}
              More...
          %div{:id => "less_comments_link", :style => "display:none;"}
            %a{:class => 'lesslink', :href => '#', :onclick => "Effect.SlideUp('more_comments');Effect.SlideDown('more_comments_link');Effect.SlideUp('less_comments_link');return false;"}
              Less...

    - if @xml_only_comments != nil
      %div{:id => "xml_only_comments_div", :style => "display:;"}
        %br
        %div{:class => "toggle_xml_only_div"}
          %a{:class => 'toggle_xml_only_link', :href => '#', :onclick => "toggle_div('all_comments_div');toggle_div('xml_only_comments_div');"}
          See All Comments
        %br
        %h3 XML Comments
        = render :partial => "publications/commentall",  :object => @xml_only_comments[0..max_visible_comments-1]
        - if @xml_only_comments.length > max_visible_comments
          %div{:id => "more_xml_comments", :style => "display:none;"}
            = render :partial => "publications/commentall", :object => @xml_only_comments[max_visible_comments..-1]
          %div{:id => "more_xml_comments_link"}
            %a{:class => 'morelink', :href => '#', :onclick => "Effect.SlideDown('more_xml_comments');Effect.SlideUp('more_xml_comments_link');Effect.SlideDown('less_xml_comments_link');return false;"}
              More...
          %div{:id => "less_xml_comments_link", :style => "display:none;"}
            %a{:class => 'lesslink', :href => '#', :onclick => "Effect.SlideUp('more_xml_comments');Effect.SlideDown('more_xml_comments_link');Effect.SlideUp('less_xml_comments_link');return false;"}
              Less...

    - if @other_user_publications != nil && @other_user_publications.length > 0
      %br
      %h3 This publication is also being edited by:
      %ul
        - for other_pub in @other_user_publications
          %li
            = other_pub.creator.human_name.force_encoding("UTF-8")
            == <#{mail_to(other_pub.creator.email, nil, :subject => "#{Sosol::Application.config.site_name} - Publication #{other_pub.title.force_encoding("UTF-8")}")}>
            == (last edited #{time_ago_in_words(other_pub.updated_at)} ago)


=javascript_include_tag "communities"

