#main.site
  %h2 
    = @publication.title
    - if !@publication.status.nil? && @publication.status != ''
      == (#{@publication.status})
  = render :partial => "common/flash_all"    
  - if flash[:notice]
    .flash
      %h3
        = flash[:notice]
  %p   
    You have changed the following items:
    - for identifier in @publication.identifiers
      %ul
        = if identifier.modified
          %li
          = identifier.title
    They will be submitted to the proper boards for review.
    - form_tag  :controller => 'publications', :action => "submit"  do
      You will no longer be able to edit any of the items in this the publication once it is submitted. 
      %br
      Briefly describe the reason for your submission.
      = text_field_tag 'submit_comment'
      %br
      = submit_tag "Submit to Boards"
    
  - for identifier in @publication.identifiers
    %p       
      - case identifier
        - when DDBIdentifier
          %h3 Text
          = image_tag('ddb.gif')           
        - when HGVMetaIdentifier
          %h3 Meta
          = image_tag('hgv.gif')
        - when HGVTransIdentifier
          %h3 Translation
          = image_tag('hgv.gif')
      %b
        = identifier.title
      = render :partial => identifier
  
  - if @comments != nil   
    - for comment in @comments
      = render :partial => comment

      

