#main.site
  :javascript 
    function checkForComment() { comment_text = $('submit_comment').value; $('submit_button').disabled = comment_text.replace(/^\s+|\s+$/g, '') == ""; } 
    
  %h2 
    = @publication.title
    - if !@publication.status.nil? && @publication.status != ''
      == (#{@publication.status})
  = render :partial => "common/flash_all"    

  -# check if they have modified anything
  - something_modified = false
  - for identifier in @publication.identifiers      
    - something_modified = something_modified || identifier.modified
  
  - if @allow_submit
    %p   
      You have changed the following items:
      %ul  
        - for identifier in @publication.identifiers      
          - if identifier.modified
            %li
              = identifier.title          
      They will be submitted to the proper boards for review.
      - form_tag  :controller => 'publications', :action => "submit"  do
        You will no longer be able to edit any of the items in this the publication once it is submitted. 
        %br
        Briefly describe the reason for your submission.
        = text_field_tag 'submit_comment', "", :onkeyup => "checkForComment(event)"
        %br
        = submit_tag "Submit to Boards", :disabled => true, :id => "submit_button"
  - else
    %b
      Publication may not be submitted at this time.
      %br
    - if !@publication.modified?
      No changes have been made.
    
  - for identifier in @publication.identifiers
    %p       
      - case identifier
        - when DDBIdentifier
          %h3 Text
          = image_tag('ddb.gif')           
        - when HGVMetaIdentifier
          %h3 Meta
          = image_tag('hgv.gif')
        - when HGVTransIdentifier
          %h3 Translation
          = image_tag('hgv.gif')
      %b
        = identifier.title
      = render :partial => identifier
  
  - if @comments != nil   
    - for comment in @comments
      = render :partial => comment

      

