
    
<%  %> 
<h1><%= @current_user.name %></h1>



<h2>Create a New Document</h1>
<%= link_to 'New Meta', :controller => 'articles', :action => 'new_meta' %>
<br/>
<%= link_to 'New Transcription', :controller => 'articles', :action => 'new' %>
<br/>
<%= link_to 'New Translation', :controller => 'articles', :action => 'new' %>
<br/>

<br/>or<br/>



<% form_tag (new_from_pn_path, :method => "post") do %>
<h2>Edit Existing</h2>
<%= label_tag(:pn, "PN#") %>
<%= text_field_tag(:pn, "") %>
<%= submit_tag "Edit Existing" %>

<% end %>


