

<%= render :partial => @article.get_category_obj() , :locals => {:show_links => false} %>

<% board = @article.board %>
<%= board.title %>
<% user_has_voted = false %>

<ul>
<% @article.votes.each do |vote| %>
  
  
  <li>
	  <%= vote.choice %> 
	  <%= vote.user.name %>
	  <% if vote.user.name == @current_user.name %>
		<% user_has_voted = true %>
	  <% end %>
  </li>
  
<% end %>
</ul>

<% if !user_has_voted %>
	<% form_for :vote, @vote, :url => { :action => "vote", :id => @article.id }  do |f| %>

	<%= text_area_tag :comment, "", :rows => "5", :cols => "80" %>

		<% board.decrees.each do |decree| %>
		  <% decree.get_choice_array.each do |choice| %>
			<%= f.radio_button(:choice, choice) %><%= choice %>
		  <% end %>
		<% end %>
		
		

	<%= submit_tag "Vote" %>
	<% end %>
<% end %>

