<%= render :partial => @article.get_category_obj(), :locals => { :show_links => false }%>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>
 
<%= hidden_field_tag :article_id, @article.id %> 


<%= hidden_field_tag :reason, "general" %> 
  <br />
  <br />
  
  <p>
    
    <%= f.text_area :text, :rows => 5, :cols => 80 %>
    <br /><%= f.submit "Add" %>  New comment
  </p>
  
 <!--
  <p>
    <%= f.label :reason %>
    <%= f.text_field :reason %>
  </p>  
 -->
  
<% end %>


<br>

<h2>Comments</h2>

<br>


<div class="review_comments">
  <% @article.comments.each do |comment | %>
    <%= render :partial => comment %>
    <br />
  <% end %>
</div>


