#main
  = render :partial => 'edit_bar'
  .site
    %h1 Editing article
    
    #edit
      - form_for(@article) do |f|
        = f.error_messages
      
        %p
          = f.label :content
          %br
          = f.text_area :content, :lang => 'grc', 'xml:lang' => 'grc', :cols => 80, :rows => 40, :class => 'greek'
  
        = render :partial => 'edit_commit', :locals => { :f => f }
