



<br \><br \>
<h3>Add to</h3>



  <h1><%= @master_article.title %></h1>
  
  <% form_tag ( {:controller=>"master_articles", :action=>"add_article", :id=>  @master_article.id} , :method => "get") do%>


<%= check_box_tag "doMeta", "doMeta", false %>
New Meta   -or-   Edit Existing TM#<%= text_field_tag "tmMeta" %><br \>

<%= check_box_tag "doTranscription", "doTranscription", false %>
New Text   -or-   Edit Existing <%= text_field_tag "tmTranscription" %><br \>

<%= check_box_tag "doTranslation", "doTranslation", false %>
New Translation   -or-   Edit Existing TM#<%= text_field_tag "tmTranslation" %><br \>



  <p>
    <%= submit_tag "Add" %>
  </p>
<% end %>

