= stylesheet_link_tag 'bibliography'

#main
  = render :partial => 'identifiers/edit_bar'
  .site
    = render :partial => 'identifiers/header'

    #editBibliography
      - form_for @identifier, :url => { :action => :update }, :html => {:autocomplete => 'off'} do |f| 
        = f.error_messages

        %h2{:onclick => "toggleBibliographyEditor('#bibliographyMain')"}= I18n.t('bibliography.headings.main').titleize
        #bibliographyMain.bibliographyContainer
          = render :partial => 'bibliography', :collection => @identifier.bibliography_main, :locals => {:type => :main}
        
        %h2{:onclick => "toggleBibliographyEditor('#bibliographyOther')"}= I18n.t('bibliography.headings.other').titleize
        #bibliographyOther.bibliographyContainer
          = render :partial => 'bibliography', :collection => @identifier.bibliography_other, :locals => {:type => :other}
          = render :partial => 'bibliography', :object => [0, @identifier.generate_empty_template_other], :locals => {:type => :other}

        %h2{:onclick => "toggleBibliographyEditor('#bibliographySecondary')"}= I18n.t('bibliography.headings.secondary').titleize
        #bibliographySecondary.bibliographyContainer
          = render :partial => 'bibliography', :collection => @identifier.bibliography_secondary, :locals => {:type => :secondary}
          = render :partial => 'bibliography', :object => [0, @identifier.generate_empty_template_secondary], :locals => {:type => :secondary}

        -#%h2{:onclick => "toggleBibliographyEditor('#bibliographyMeta')"}= I18n.t('bibliography.headings.meta').titleize
        -##bibliographyMeta

        = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier }

= javascript_include_tag 'bibliography'