//------------------------------------------------------------
//  CSS
//------------------------------------------------------------
%link{:rel => "stylesheet", :type => "text/css", :href => "#{root_url}/javascripts/imgspect/imgspect.css"}
%link{:rel => "stylesheet", :type => "text/css", :href => "#{root_url}/javascripts/texAce/texAce.css"}
//------------------------------------------------------------
//  Content
//------------------------------------------------------------
= render :partial => 'identifiers/header'
= render :partial => 'identifiers/edit_bar'
#Cite_Image_Service{:display => 'none;', 'data-content' => @identifier[:cite_image_service]}
#edit
  = form_for @identifier, :url => { :action => :updatexml } do |f|
    = f.error_messages
    #ict_tool_wrapper
      #ict_tool{:class=> 'perseidsld_query_obj_simple', 'data-sbj' => @identifier.urn_attribute, 'data-verb' => 'http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation', 'data-formatter' => 'imgspect_link'}

      %div{:id => "imgspect"}

    .sosolcard.clearfix
      %div{:id => "editors"}
      = f.text_area :xml_content, :disabled => !@identifier.mutable?, :lang => 'grc', 'xml:lang' => 'grc',  :rows => 40, :wrap => 'off', :class => 'input xml-content observechange'

      = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :where_at => :bottom }
= javascript_include_tag 'confirm'
-#-------------------------------------------------------------
-#  imgspect includes
-#-------------------------------------------------------------
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
%script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"}
= javascript_include_tag "imgspect/imgspect.min"
-#-------------------------------------------------------------
-#  texAce includes
-#-------------------------------------------------------------
= javascript_include_tag "texAce/src/js/texAce"
= javascript_include_tag "texAce/third_party/ace-builds/src-noconflict/ace"
= javascript_include_tag "texAce/third_party/jquery-cookie/jquery.cookie"
:javascript
  showMatch("#{@identifier.class.to_s.underscore}_xml_content", "**POSSIBLE ERROR**");
  // **POSSIBLE ERROR** defined in insert_error_here method in identifiers controller
  PerseidsLD.do_simple_query();
  //------------------------------------------------------------
  // Start imgspect bridge and grab a handler
  //------------------------------------------------------------
  var bridge = PerseidsBridge.imgspect.init();
  bridge.start();
  //------------------------------------------------------------
  //  Start ACE editor
  //------------------------------------------------------------
  jQuery( document ).ready( function() {
    jQuery("textarea:not([disabled])").texAce({lang:'xml',theme_selector:true});
  });

