= render :partial => 'identifiers/header'
= render :partial => 'identifiers/edit_bar'
#Cite_Image_Service{:display => 'none;', 'data-content' => @identifier[:cite_image_service]}
#edit
  = form_for @identifier, :url => { :action => :update }  do |f|
    = f.error_messages
    .sosolcard
      %label Preview
      .PContent
        = @identifier[:html_preview].html_safe
