#main
  = csrf_meta_tag
  = javascript_include_tag "application"
  = javascript_include_tag 'commentary'

  .site
    = stylesheet_link_tag 'helper'
    #gapsize{:class => "helperpop"}
      = render :partial => 'commentary_markup_warn'
      %h3 Create Link to External Publication
      #extent_left
        %h7 External Link URL with or without the http://
        %input{ :type => "text", :class => "choosetext", :id => "insertlink_external", :size => "50"}
      %br
      %h7 Free Form Link Text
      #extent_left
        %input{ :type => "text", :class => "choosetext", :id => "insertlink_freetext", :size => "40"}
      %br
      #button_left
        %button{ :type => "button", :onclick=> "insertLinkExt()" }Insert
        &nbsp
        %button{:type => "button", :onclick => "closeHelper()"}Close
