#main
  = csrf_meta_tag
  = javascript_include_tag "application"
  = javascript_include_tag 'commentary'

  .site
    = stylesheet_link_tag 'helper'
    #gapsize{:class => "helperpop"}
      = render :partial => 'commentary_markup_warn'
      %br
      %h3 Create Foot Note
      %br
      %h7 Free Form Text
      %br
      %br
      #extent_left
        %input{ :type => "text", :class => "greek", :id => "insertfootnote_text", :lang => 'grc', 'xml:lang' => 'grc', :size => "80"}
        -# TODO remove line below if text box is enough 
        -# = text_area_tag 'insertfootnote_text', nil, :lang => 'grc', 'xml:lang' => 'grc', :cols => 78, :rows => 2, :class => 'greek'
      %br
      %br
      #button_left
        %button{ :type => "button", :onclick=> "insertFootnote()" }Insert
        &nbsp
        %button{:type => "button", :onclick => "closeHelper()"}Close
