<div id='main'>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'commentary' %>
  <div class='site'>
    <%= stylesheet_link_tag 'helper' %>
    <div class='helperpop' id='gapsize'>
      <%= render :partial => 'commentary_markup_warn' %>
      <br>
      <h3>Create Foot Note</h3>
      <br>
      <h7>Free Form Text</h7>
      <br>
      <br>
      <div id='extent_left'>
        <input class='greek' id='insertfootnote_text' lang='grc' size='80' type='text' xml:lang='grc'>
        <%# TODO remove line below if text box is enough %>
        <%# = text_area_tag 'insertfootnote_text', nil, :lang => 'grc', 'xml:lang' => 'grc', :cols => 78, :rows => 2, :class => 'greek' %>
      </div>
      <br>
      <br>
      <div id='button_left'>
        <button onclick='insertFootnote()' type='button'>Insert</button>
        &nbsp
        <button onclick='closeHelper()' type='button'>Close</button>
      </div>
    </div>
  </div>
</div>
