%ul{:class => 'unstyled'}
  - if !(@identifier.has_related_citations)
    %li
      = link_to 'Edit', edit_polymorphic_path([epi_trans_cts_identifier.publication, epi_trans_cts_identifier]), :class => 'btn fullsize'
  %li
    = link_to 'Preview', preview_publication_epi_trans_cts_identifier_path( epi_trans_cts_identifier.publication, epi_trans_cts_identifier), :class => 'btn fullsize'
  - if @identifier.has_valid_reffs? && @identifier.mutable? && @identifier.publication.status != 'finalizing'
    %li
      = link_to 'Select Passage', link_citation_publication_epi_trans_cts_identifier_path( epi_trans_cts_identifier.publication, epi_trans_cts_identifier), :class => 'btn fullsize'
  %li
    = link_to 'Delete', polymorphic_path([epi_trans_cts_identifier.publication, epi_trans_cts_identifier]), :confirm => 'Are you sure?', :method => :delete, :class => 'btn fullsize'
  %li
    = link_to 'Rename', polymorphic_path([epi_trans_cts_identifier.publication, epi_trans_cts_identifier], :action => :edit_title), :class => 'btn fullsize'

