#main  
  = render :partial => 'identifiers/edit_bar'
  #Cite_Image_Service{:display => 'none;', 'data-content' => @identifier[:cite_image_service]}

  .site
    = render :partial => 'identifiers/header'
    #edit  
    
      = link_to 'Show Related Text', @related_text, {:onclick => "window.open(this.href, 'new win', 'width=800, height=600'); return false;".html_safe}
      #editing_trans_text_view

        = form_for @identifier, :url => { :action => :updatexml } do |f|
          = f.error_messages

          %br
          = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :where_at => :top }
        
          %label XML
          = clippy "#{@identifier.class.to_s.underscore}_xml_content"
          %br
          // FORK CHANGE START (alpheios class)
          = f.text_area :xml_content, :disabled => !@identifier.mutable?, :lang => 'grc', 'xml:lang' => 'grc',  :rows => 40, :wrap => 'off', :class => 'alpheios-enabled-text greek observechange'
          // FORK CHANGE END
          %br
          = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :where_at => :bottom }
        
= javascript_include_tag 'confirm'
