= javascript_include_tag 'perseids-tools'
//------------------------------------------------------------
//  CSS
//------------------------------------------------------------
= render :partial => 'identifiers/header_perseids'
= render :partial => 'identifiers/edit_bar_perseids'
#Cite_Image_Service{:display => 'none;', 'data-content' => @identifier[:cite_image_service]}
#edit.sosolcard
  = render :partial => 'epi_trans_cts_identifiers/related_items'
  = form_for @identifier, :url => { :action => :updatetext } do |f|
    = f.error_messages
    %label Translation Text
    %br
    = text_area_tag 'text_content', @identifier[:text_content], {:disabled => !@identifier.mutable?, 'xml:lang' => @identifier.lang,  :rows => 20, :wrap => 'off', :class => 'observechange input xml-content'}
    %br
    = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :where_at => :bottom }
