.epi_trans_cts_identifier

  %h1
    = "Editing " + @identifier.name
    
  = form_for @identifier, :url => { :action => :update_title } do |f|
    = f.error_messages

    = f.label :title
    = f.text_field :title, :size => 100

    = f.submit "Update"
       
