= javascript_include_tag 'overlib/overlib'
= render :partial => 'identifiers/header'
= render :partial => 'identifiers/edit_bar'
#edit.sosolcard
  = form_for @identifier, :url => { :action => :update }  do |f|
    = f.error_messages

    .PContent
      = render :partial => 'epi_trans_cts_identifiers/related_items'
      = @identifier[:html_preview].html_safe


