#append_annotation.sosolcard
  = form_for @identifier, :url => { :action => "append_annotation", :controller => "oa_cite_identifiers"} do |form|
    = hidden_field_tag 'id', @identifier.id.to_s
    = hidden_field_tag 'target_uri',params[:target_uri]
    = submit_tag "Append"
    %span a new annotation for this target. Or choose to edit one of your existing annotations:
  #existing_annotations
    %ul
      - @matches.each do |m|
        %li
          = link_to m['target'], edit_publication_oa_cite_identifier_path( @identifier.publication, @identifier, :annotation_uri => m['id'] )

  
  
