%div#multi_citation
  %ul#multiItems_citation
    %li.citation
      = render :partial => 'apis_identifiers/label', :locals => {:key => :citation}
      = text_field_tag 'apis_identifier_citation', '', :class => 'observechange apis apis_identifier_citation'
      = render :partial => 'apis_identifiers/label', :locals => {:key => :citeNote}
      = text_area_tag 'apis_identifier_citeNote', '', :class => 'observechange apis apis_identifier_citeNote'
      = render :partial => 'apis_identifiers/label', :locals => {:key => :citeType}
      = check_box_tag 'apis_identifier_citeType', 'ddbdp', false, :class => 'observechange apis_identifier_citeType'
      %span.delete{:onclick => 'multiRemove(this.parentNode)', :title => I18n.t('tooltip.multiDelete')} x
      %span.move{:title => I18n.t('tooltip.multiMove')} o
  %p.add#multiPlus_citation
    %span{:onclick => "multiAddCitation()", :title => I18n.t('tooltip.multiAdd')}=I18n.t('label.multiAdd')
  = javascript_tag "Sortable.create(document.getElementById('multiItems_citation'), {direction: 'horizontal', handle: '.move'});"

