%div#multi_facsimile
  %ul#multiItems_facsimile
    %li.facsimile
      = render :partial => 'apis_identifiers/label', :locals => {:key => :surfaceGrpId}
      = text_field_tag 'apis_identifier_surfaceGrpId', '', :class => 'observechange apis apis_identifier_surfaceGrpId'
      = render :partial => 'apis_identifiers/label', :locals => {:key => :surfaceType1}
      = text_field_tag 'apis_identifier_surfaceType', '', :class => 'observechange apis apis_identifier_surfaceType'
      = render :partial => 'apis_identifiers/label', :locals => {:key => :facsUrl}
      = text_field_tag 'apis_identifier_facsUrl', '', :class => 'observechange apis apis_identifier_facsUrl'
      = render :partial => 'apis_identifiers/label', :locals => {:key => :surfaceType2}
      = text_field_tag 'apis_identifier_surfaceType2', '', :class => 'observechange apis apis_identifier_surfaceType2'
      = render :partial => 'apis_identifiers/label', :locals => {:key => :facsUrl}
      = text_field_tag 'apis_identifier_facsUrl2', '', :class => 'observechange apis apis_identifier_facsUrl2'
      %span.delete{:onclick => 'multiRemove(this.parentNode)', :title => I18n.t('tooltip.multiDelete')} x
      %span.move{:title => I18n.t('tooltip.multiMove')} o
  %p.add#multiPlus_facsimile
    %span{:onclick => "multiAddFacsimiles()", :title => I18n.t('tooltip.multiAdd')}=I18n.t('label.multiAdd')
    
  = javascript_tag "Sortable.create(document.getElementById('multiItems_facsimile'), {direction: 'horizontal', handle: '.move'});"
