= stylesheet_link_tag 'meta' 
#main
  .site.metaSite
    = render :partial => 'identifiers/header'
    %span.swifty.expandAll#expandAll=I18n.t('label.expandAll')
    %span.swifty.collapseAll#collapseAll=I18n.t('label.collapseAll')

    #edit
      - form_for @identifier, :url => { :action => :update }, :html => { :autocomplete => :off } do |f| 
        = f.error_messages

        %h4.category.general
          %a{:name => 'General<'}=I18n.t('meta.legend.general')
        .editbox{:style => 'display: none;'}
          = render :partial => 'apis_identifiers/label', :locals => { :key => :title }
          = render :partial => 'apis_identifiers/text_field', :locals => { :key => :title }

          = render :partial => 'apis_identifiers/label', :locals => { :key => :author }
          = render :partial => 'apis_identifiers/text_field', :locals => { :key => :author }

          = render :partial => 'apis_identifiers/label', :locals => { :key => :inventoryNo }
          = render :partial => 'apis_identifiers/text_field', :locals => { :key => :inventoryNo }

          = render :partial => 'apis_identifiers/label', :locals => { :key => :apisId }
          = render :partial => 'apis_identifiers/text_field', :locals => { :key => :apisId }

          = render :partial => 'apis_identifiers/label', :locals => { :key => :controlNo }
          = render :partial => 'apis_identifiers/text_field', :locals => { :key => :controlNo }

          = render :partial => 'apis_identifiers/label', :locals => { :key => :tmNo }
          = render :partial => 'apis_identifiers/text_field', :locals => { :key => :tmNo }

          = render :partial => 'apis_identifiers/label', :locals => { :key => :summary }
          = text_area_tag 'apis_identifier[' + :summary.to_s + ']', @identifier[:summary], :disabled => !@identifier.mutable?, :class => 'observechange'
          = render :partial => 'apis_identifiers/label', :locals => { :key => :generalNote }
          = render :partial => 'apis_identifiers/multi_textarea', :locals => { :key => :generalNote }

          = render :partial => 'apis_identifiers/label', :locals => { :key => :textLang }
          = render :partial => 'apis_identifiers/text_field', :locals => { :key => :textLang }

          = render :partial => 'apis_identifiers/label', :locals => { :key => :mainLang }
          = text_field_tag 'apis_identifier[' + :textLang.to_s + '][mainLang]', @identifier[:textLang][:attributes][:mainLang], :disabled => !@identifier.mutable?, :class => 'observechange'

          = render :partial => 'apis_identifiers/label', :locals => { :key => :otherLangs }
          = text_field_tag 'apis_identifier[' + :textLang.to_s + '][otherLangs]', @identifier[:textLang][:attributes][:otherLangs], :disabled => !@identifier.mutable?, :class => 'observechange'

          %div{:style => 'float: none; clear: both; display: block;'}
          .swifty.quickSave=I18n.t('label.quickSave')

        %h4.category.object
          %a{:name => 'Object<'}=I18n.t('apis.legend.object')
        .editbox{:style => 'display: none;'}

          = render :partial => 'apis_identifiers/label', :locals => { :key => :support }
          = render :partial => 'apis_identifiers/text_field', :locals => { :key => :support }

          = render :partial => 'apis_identifiers/label', :locals => { :key => :condition }
          = text_area_tag 'apis_identifier[' + :condition.to_s + ']', @identifier[:condition], :disabled => !@identifier.mutable?, :class => 'observechange'

          = render :partial => 'apis_identifiers/label', :locals => { :key => :lines }
          = text_area_tag 'apis_identifier[' + :lines.to_s + ']', @identifier[:lines], :disabled => !@identifier.mutable?, :class => 'observechange'

          = render :partial => 'apis_identifiers/label', :locals => { :key => :recto_verso }
          = text_area_tag 'apis_identifier[' + :recto_verso.to_s + ']', @identifier[:recto_verso], :disabled => !@identifier.mutable?, :class => 'observechange'

          = render :partial => 'apis_identifiers/label', :locals => { :key => :handDesc }
          = text_area_tag 'apis_identifier[' + :handDesc.to_s + ']', @identifier[:handDesc], :disabled => !@identifier.mutable?, :class => 'observechange'

          %div{:style => 'float: none; clear: both; display: block;'}
          .swifty.quickSave=I18n.t('label.quickSave')

        %h4.category.context
          %a{:name => 'Context<'}=I18n.t('apis.legend.context')
        .editbox{:style => 'display: none;'}	

          = render :partial => 'apis_identifiers/label', :locals => { :key => :origDate }
          = render :partial => 'apis_identifiers/text_field', :locals => { :key => :origDate }

          = render :partial => 'apis_identifiers/label', :locals => { :key => :when }
          = text_field_tag 'apis_identifier[' + :origDate.to_s + '][when]', @identifier[:origDate][:attributes][:when], :disabled => !@identifier.mutable?, :class => 'observechange'

          = render :partial => 'apis_identifiers/label', :locals => { :key => :notBefore }
          = text_field_tag 'apis_identifier[' + :origDate.to_s + '][notBefore]', @identifier[:origDate][:attributes][:notBefore], :disabled => !@identifier.mutable?, :class => 'observechange'

          = render :partial => 'apis_identifiers/label', :locals => { :key => :notAfter }
          = text_field_tag 'apis_identifier[' + :origDate.to_s + '][notAfter]', @identifier[:origDate][:attributes][:notAfter], :disabled => !@identifier.mutable?, :class => 'observechange'

          = render :partial => 'apis_identifiers/label', :locals => { :key => :origPlace }
          = render :partial => 'apis_identifiers/text_field', :locals => { :key => :origPlace }

          = render :partial => 'apis_identifiers/label', :locals => { :key => :provenance }
          = text_area_tag 'apis_identifier[' + :provenance.to_s + ']', @identifier[:provenance], :disabled => !@identifier.mutable?, :class => 'observechange'

          = render :partial => 'apis_identifiers/label', :locals => { :key => :associatedName }
          = render :partial => 'apis_identifiers/multi', :locals => { :key => :associatedName }

          = render :partial => 'apis_identifiers/label', :locals => { :key => :keyword }
          = render :partial => 'apis_identifiers/multi', :locals => { :key => :keyword }
          
          = render :partial => 'apis_identifiers/label', :locals => { :key => :genre }
          = render :partial => 'apis_identifiers/multi_genre', :locals => { :key => :genre }

          %div{:style => 'float: none; clear: both; display: block;'}
          .swifty.quickSave=I18n.t('label.quickSave')

        %h4.category.images
          %a{:name => 'Reference'}=I18n.t('apis.legend.images')
        .editbox{:style => 'display: none;'}
          = render :partial => 'apis_identifiers/label', :locals => { :key => :figures}
          = render :partial => 'apis_identifiers/figures'
          %div{:style => 'float: none; clear: both; display: block;'}
          .swifty.quickSave=I18n.t('label.quickSave')

        %h4.category.translation
          %a{:name => 'Translation'}=I18n.t('meta.legend.translation')
        .editbox{:style => 'display: none;'}
          = render :partial => 'apis_identifiers/label', :locals => { :key => :translation }
          = text_area_tag 'apis_identifier[' + :translation.to_s + ']', @identifier[:translation], :disabled => !@identifier.mutable?, :class => 'observechange'

          %div{:style => 'float: none; clear: both; display: block;'}      
          .swifty.quickSave=I18n.t('label.quickSave')    

        = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :where_at => :bottom }
        = hidden_field_tag 'expansionSet', flash[:expansionSet]

= javascript_include_tag 'edit_mask'
= javascript_include_tag 'apis'
= javascript_include_tag 'confirm'
