- form_for @doco, :html => {:name => 'docoform'} do |f|
  = f.error_messages
  %p
    = f.label :docotype, "Type"
    %br
    = f.select("docotype", { "Text" => "text", "Translation" => "translation"})
  %br
  %p
    = f.label :category, "Enter category of this example - Required"
    %br
    = f.text_field :category, :size => 20
  %br
  %p
    = f.label :line, "Enter line number sequence within this category - Required"
    %br
    = f.text_field :line, :size => 10
  %br
  %p
    = f.label :description, "Enter a short description of this example - Required"
    %br
    = f.text_field :description, :size => 80
  %br
  %p
    = f.label :note, "Enter papyrological notes and details on this example - Required"
    %br
    = f.text_area :note, :rows => 4, :cols => 80
  %br
  %p
    = f.label :preview, "Enter PN preview - Required"
    %br
    = f.text_field :preview, :size => 80
  %br
  %p
    = f.label :leiden, "Enter Leiden to override what is converted from the XML below or leave blank"
    %br
    = f.text_field :leiden, :size => 80, :disabled => true
  %br
  %p
    %input{ :type => "radio", :class => "leiden_xml_radio", :id => "leiden", :name => "leiden_xml_radio", :value => "leiden", :onclick => "checkLeidenXML(this.id)"}Leiden to XML
    %br
    %input{ :checked => "", :type => "radio", :class => "leiden_xml_radio", :id => "xml", :name => "leiden_xml_radio", :value => "xml", :onclick => "checkLeidenXML(this.id)"}XML to Leiden
  %br
  %p
    = f.label :xml, "Example XML to be converted to Leiden - Required"
    %br
    = f.text_field :xml, :size => 80
  %br
  %p
    = f.label :url, "Enter URL for link to example or use the selector - ex. papyri.info/ddbdp/bgu;1;154, papyri.info/hgv/80456"
    %br
    = f.text_field :url, :size => 80
  %p
    = select_tag('IdentifierClass', options_for_select([%w{DDB DDBIdentifier},%w{HGV HGVIdentifier}]), :onchange => "['DDB','HGV'].each(function(i){$(i + 'IdentifierCollectionSelect').toggleClassName('invisible')})")
    - [DDBIdentifier, HGVIdentifier].each do |identifier_class|
      = select_tag("#{identifier_class}CollectionSelect", options_for_select([['','']] + identifier_class.collection_names_hash.invert.sort), :class => identifier_class == DDBIdentifier ? '' : 'invisible', :onchange => "$('volume_number').disabled='';$('document_number').disabled='';if(this.options[0].value==''){this.remove(0)}")
    = text_field_tag 'volume_number', "Volume Number", :disabled => true, :onclick => "this.clear()", :size => 15
    = text_field_tag 'document_number', "Document Number", :disabled => true, :onclick => "this.clear()", :size => 15
  %br
  %p
    = f.label :urldisplay, "Text displayed in PN Link in Documentation - defaults to selector info"
    %br
    = f.text_field :urldisplay, :size => 80, :disabled => true
    %br
  = hidden_field_tag 'save_url', @doco.url
  = hidden_field_tag 'save_leiden', @doco.leiden
  = hidden_field_tag 'save_xml', @doco.xml
  -if type == :create
    %p
      = f.submit "Create", :class => 'submit'
  -else
    %p
      = f.submit "Update", :class => 'submit'
      &nbsp&nbsp
      %styled_button
        = link_to 'Refresh', edit_doco_path(@doco), :class => 'submit'