%table
  %tr
    %th Category Sequence
    %th Category
    %th Description
    %th Note
    %th Preview
    %th Leiden+
    %th XML
    %th PN Example
    - for doco in list
      %tr
        %td=h number_with_precision(doco.line, :precision => 2)
        %td= doco.category
        %td= doco.description
        %td= doco.note
        %td= doco.preview
        %td=h doco.leiden
        %td=h doco.xml
        %td= link_to(doco.urldisplay, doco.url, :onclick => "window.open(this.href);return false;")
        %td= link_to "New", url_for(:controller=>'docos',:action=>'new', :id => doco.id)
        %td= link_to('Show', doco)
        %td= link_to('Edit', edit_doco_path(doco))
        %td= link_to('Delete', doco, :confirm => 'Are you sure?', :method => :delete)