!!! XML
!!!
%html
  %head
    %style{ :type => "text/css" }
      :sass
        !intro_color = #8EDEFA
        !sosol_color = #EAEAEA
        !parse_color = #66FF66
        =element
          margin: .25em
          padding: .5em
          padding-left: .5em
          border: 1px solid black
        .intro
          +element
          font-size: large
          background-color = !intro_color
        .category
          +element
          text-align: left
          background-color = !sosol_color
        .category_display
          font-size: large
          background-color = !sosol_color
        .toggle_button
          a
            text-decoration: underline
            cursor: pointer
            color: blue
        .examples
          +element
          background-color: white
          .description
            padding-left: 1em
            padding-right: 1em
            background-color: #005DAA
            color: white
            font-weight: bold
            float: left
          .preview
            padding-left: 1em
            float: left
          .note
            padding-left: 1em
            padding-bottom: 1em
            float: left
          .sep
            color: #970000
            font-weight: bold
            font-style: oblique
            padding-left: 1em
            float: left
          .leiden, .filename
            padding-left: 3.75em
            float: left
          .xml
            padding-left: 2.75em
            float: left
          hr
            clear: both
            display: block
            visibility: hidden
        #key
          +element
          border: 1px dashed black
          background-color: silver
    :javascript
      function toggle_div(obj) {
        var el = document.getElementById(obj);
        if ( el.style.display != "none" ) {
          el.style.display = 'none';
        }
        else {
          el.style.display = '';
        }
      }
  %body
    #key
      .intro
        Each #{docotype} Leiden+ Documentation Category with Examples
    .category{:id => "all", :style => 'display:;'}
      .category_display
        See All Documentation
      .toggle_button
        %a{:onclick => "toggle_div('all-examples');"}
          See All Examples
      - a = Proc.new do |element2, first|
        - if first
          .examples{:id => "all-examples", :style => 'display:none;'}
            - for doco_element in doco_elements
              - a.call(doco_element, false)
        - else
          - tab_up
          - for child in element2.children
            .description
              = child.description
            %hr
            .sep
              To get this PN preview:
            .preview
              = child.preview
            %hr
            .sep
              Use this Leiden+:
            .leiden
              = html_escape(child.leiden)
            %hr
            .sep
              To create this XML:
            .xml
              = html_escape(child.xml)
            %hr
            .sep
              Example PN Link:
            .filename
              %a{:href => NumbersRDF::NumbersHelper.identifier_to_url(child.url), :onclick => "window.open(this.href);return false;"}
                = child.urldisplay
            %hr
            .note
              = child.note
            %hr
          - tab_down
    - p = Proc.new do |element, hidden, block|
      - tab_up
      .category{:id => element.category, :style => 'display:;'}
        .category_display
          = element.category
        .toggle_button
          %a{:onclick => "toggle_div('#{element.category}-examples');"}
            Examples
        .examples{:id => element.category + "-examples", :style => 'display:none;'}
          - for child in element.children
            .description
              = child.description
            %hr
            .sep
              To get this PN preview:
            .preview
              = child.preview
            %hr
            .sep
              Use this Leiden+:
            .leiden
              = html_escape(child.leiden)
            %hr
            .sep
              To create this XML:
            .xml
              = html_escape(child.xml)
            %hr
            .sep
              Example PN Link:
            .filename
              %a{:href => NumbersRDF::NumbersHelper.identifier_to_url(child.url), :onclick => "window.open(this.href);return false;"}
                = child.urldisplay
            %hr
            .note
              = child.note
            %hr
      - tab_down
    - a.call("  ", true)
    - for doco_element in doco_elements
      - p.call(doco_element, false, p)