= render :partial => "common/flash_all"
%h1 Leiden+ Documentation
%br
%styled_button_show
  = link_to "Build Documentation Page", url_for(:controller=>'docos',:action=>'build')
%styled_button_show
  = link_to "New Blank Entry", url_for(:controller=>'docos',:action=>'new', :id => 'blank')
%br
%br
= render :partial => "list", :object => @docos
%br
%styled_button_show
  = link_to "Build Documentation Page", url_for(:controller=>'docos',:action=>'build')
%styled_button_show
  = link_to "New Blank Entry", url_for(:controller=>'docos',:action=>'new', :id => 'blank')