#main.site
  -# render :partial => "common/flash_all"
  %p
    You've authenticated as
    %strong
      = h session[:identifier]
  %p
    If you want to sign up for a new account, please fill out the form below.
  = form_for :new_user, :url => { :action => "create_submit" } do |f|
    %table
      %tr
        %th
          Username
        %td
          = f.text_field :name, :value => @name.gsub(/\s+/, "")
      %tr
        %th
          Full Name
        %td
          = f.text_field :full_name, :value => @full_name
      %tr
        %th
          E-Mail
        %td
          = f.text_field :email, :value => @email
    = submit_tag "Create"
