- cache(:action => 'dashboard', :part => 'events_list') do
  %ul
    - for event in @events
      %li
        %span{:class => "event_owner_#{event.owner.class}_#{event.owner.id}"}
          - if event.owner.class == User
            = link_to event.owner.human_name, {:controller => 'user', :action => 'show', :user_name => event.owner.name}
          - else
            = event.owner.human_name
        = event.category
        - if event.target && event.target.title
          = event.target.title
        == (#{time_ago_in_words(event.created_at)} ago)
:javascript
  document.observe("dom:loaded", function() {
    $$("span.event_owner_User_#{@current_user.id}").each(function(s) {
      s.replace("You ");
    });
  });
