<div class="transcription">

<h3 style="display:inline;">Transcription</h3>


<% if defined?(show_links) &&  show_links  %>
	<% show_edit_link = true %>
	<% show_submit_link = true %>
<% end %>

<% if defined?(show_edit_link) && show_edit_link %>
  	<%= link_to 'Edit', url_for(:controller => 'transcriptions', :action => 'edit', :id => transcription.id) %> 	
<% end %>

<% if defined?(show_submit_link) && show_submit_link %>
  <% if transcription.article.status == "submitted" %>
  	Submitted
  <% else %>
		<%= link_to 'Submit', url_for(:controller => 'articles', :action => 'review_for_submit', :id => transcription.article.id) %> 
	<% end %>
<% end %>

<% if defined?(show_delete) && show_delete %>
	<%= link_to 'Delete', transcription, :confirm => 'Are you sure you want to permanently delete this?', :method => :delete %>
<% end %>






<p>
	Not Implemented
</p>

<!--
<p>
  <b>Content:</b>
  <%=h transcription.content %>
</p>

<p>
  <b>Leiden:</b>
  <%=h transcription.leiden %>
</p>
-->

</div>
