%hr
.multi#multi_editonExtra
  %ul.items#multiItems_editionExtra
    - extraList.each_with_index do |extra, index|
      %li
        = select_tag baseChildren + '[extra][' + (index).to_s + '][unit]', options_for_select(DclpEdition.extraOptions, extra.unit), :disabled => !@identifier.mutable?, :class => 'observechange editionExtra'
        = text_field_tag baseChildren + '[extra][' + (index).to_s + '][value]',   extra.value,   :disabled => !@identifier.mutable?, :class => 'observechange editionExtra', :onchange => "editionExtraChange(this);"
        = text_field_tag baseChildren + '[extra][' + (index).to_s + '][corresp]', extra.corresp, :disabled => !@identifier.mutable?, :class => 'observechange editionExtra'
        = text_field_tag baseChildren + '[extra][' + (index).to_s + '][from]',    extra.from,    :disabled => !@identifier.mutable?, :class => 'observechange editionExtraFrom'
        = text_field_tag baseChildren + '[extra][' + (index).to_s + '][to]',      extra.to,      :disabled => !@identifier.mutable?, :class => 'observechange editionExtraTo'
    %li
    - if extraList.length < 3
      - extraList.length.upto(2) do |index|
        %li
          = select_tag baseChildren + '[extra][' + (index).to_s + '][unit]', options_for_select(DclpEdition.extraOptions, nil), :disabled => !@identifier.mutable?, :class => 'observechange editionExtra', :onchange => "editionExtraChange(this);"
          = text_field_tag baseChildren + '[extra][' + (index).to_s + '][value]',   nil, :disabled => !@identifier.mutable?, :class => 'observechange editionExtra'
          = text_field_tag baseChildren + '[extra][' + (index).to_s + '][corresp]', nil, :disabled => !@identifier.mutable?, :class => 'observechange editionExtra'
          = text_field_tag baseChildren + '[extra][' + (index).to_s + '][from]',    nil, :disabled => !@identifier.mutable?, :class => 'observechange editionExtraFrom'
          = text_field_tag baseChildren + '[extra][' + (index).to_s + '][to]',      nil , :disabled => !@identifier.mutable?, :class => 'observechange editionExtraTo'
