<div id="document_menu">
	<div class="site">
	<ul>
		<li class="active"><%= link_to 'Edit', edit_document_path(@document) %></li>
		<li><%= link_to 'History' %></li>
	</ul>
	</div>
</div>

<div id="document_sub_menu">
	<div class="site">
		<div class="joiner"></div>
	<ul>
		<li<%= params[:action] == 'edit' ? ' class="active"' : '' %>><%= link_to 'Text', edit_document_path(@document) %></li>
		<li<%= params[:action] == 'editxml' ? ' class="active"' : '' %>><%= link_to 'XML', editxml_document_path(@document) %></li>
		<li<%= params[:action] == 'preview' ? ' class="active"' : '' %>><%= link_to 'Preview', preview_document_path(@document) %></li>
	</ul>
	</div>
</div>