#document_menu
  .site
    %ul
      %li#active= link_to 'Edit', edit_document_path(@document)
      %li= link_to 'History'

#document_sub_menu
  .site
    .joiner
    %ul
      %li{ :class => params[:action] == 'edit' ? 'active' : ''}= link_to 'Text', edit_document_path(@document)
      %li{ :class => params[:action] == 'editxml' ? 'active' : ''}= link_to 'XML', editxml_document_path(@document)
      %li{ :class => params[:action] == 'preview' ? 'active' : ''}= link_to 'Preview', preview_document_path(@document)
