<p>
  <b>Content:</b>
  <%=h @translation_content.content %>
</p>

<p>
  <b>Translation:</b>
  <%=h @translation_content.translation_id %>
</p>

<p>
  <b>Language:</b>
  <%=h @translation_content.language %>
</p>


<%= link_to 'Edit', edit_translation_content_path(@translation_content) %> |
<%= link_to 'Back', translation_contents_path %>
