-if ShibHelper::shib_enabled?
  #shib_login.sosolcard
    %h2 Or use Insitutional Credentials:
    #wayf_select_form{:class=>'clearfix'}
      -if ShibHelper::num_idps < 3
        - idps = ShibHelper::get_idp_list
        - idps.each do |idp|
          = form_for :new_user, :url => { :action => "signin", :controller=> "shib", :protocol => 'https' } do |f|
            %input{:type => "hidden", :name=>"idp", :value=>"#{idp[:key]}"}
            %button{:type=>"submit"} 
              = image_tag("#{idp[:logo]}", :alt=>"#{idp[:display_name]}")
      - else
        = form_for :new_user, :url => { :action => "signin", :controller=> "shib", :protocol => 'https' } do |f|   
          =select_tag "idp", options_for_select(ShibHelper::get_idp_hash)
          =submit_tag "Sign In"

