<% nameList = @identifier.non_database_attribute[type] %>
<% type = type.to_s %>
<div class='multi' <%= tag_options({:id => 'multi_' + type}, false) %>>
  <h6>
    <label><%= I18n.t('biblio.label.firstName') %></label>
    <label><%= I18n.t('biblio.label.lastName') %></label>
    <label><%= I18n.t('biblio.label.name') %></label>
  </h6>
  <ul class='items' <%= tag_options({:id => 'multiItems_' + type}, false) %>>
    <% if nameList.present? %>
      <% nameList.each_index do |index| %>
      <% firstName = nameList[index].firstName %>
      <% lastName  = nameList[index].lastName %>
      <% name      = nameList[index].name %>
        <li>
          <%= text_field_tag 'biblio_identifier[' + type + '][' + index.to_s + '][firstName]', firstName, :disabled => !@identifier.mutable?, :class => 'observechange firstName' %>
          <%= text_field_tag 'biblio_identifier[' + type + '][' + index.to_s + '][lastName]',  lastName,  :disabled => !@identifier.mutable?, :class => 'observechange lastName' %>
          <%= text_field_tag 'biblio_identifier[' + type + '][' + index.to_s + '][name]',      name,      :disabled => !@identifier.mutable?, :class => 'observechange name' %>
          <span class='delete' <%= tag_options({:onclick => 'multiRemove(this.parentNode)', :title => I18n.t('tooltip.multiDelete')}, false) %>>x</span>
          <span class='move' <%= tag_options({:title => I18n.t('tooltip.multiMove')}, false) %>>o</span>
        </li>
      <% end %>
    <% end %>
  </ul>
  <p class='add' <%= tag_options({:id => 'multiPlus_' + type}, false) %>>
    <input class='observechange' <%= tag_options({:id => type + '_firstName'}, false) %>>
    <input class='observechange' <%= tag_options({:id => type + '_lastName'}, false) %>>
    <input class='observechange' <%= tag_options({:id => type + '_name'}, false) %>>
    <span <%= tag_options({:onclick => "multiAddNameList('" + type + "')", :title => I18n.t('tooltip.multiAdd')}, false) %>><%= I18n.t('label.multiAdd') %></span>
  </p>
  <%= javascript_tag "Sortable.create(document.getElementById('multiItems_" + type + "'), {direction: 'horizontal', handle: '.move'});" %>
</div>
