= render :partial => "common/flash_all"

#edit_header
  %h1
    Editing Publication
    = link_to @identifier.publication.title, @identifier.publication
  - if @identifier.publication.owner_type == "User"
    #submit
      = button_to "Submit", submit_review_publication_path(@identifier.publication), :disabled => !@identifier.mutable?, :class => 'submit', :method => :get
  - elsif @identifier.publication.owner_type == "Board"
    = render :partial => "boards/review", :object => @identifier.publication
  %h3
    Identifier
    = @identifier.name
    == (#{link_to "View in PN", "http://www.papyri.info/navigator/portal/apisfull.psml?controlName=#{@identifier.name}"})
