-# render :partial => "common/flash_all"

%header
  %h1
    - if @identifier.publication.owner_type == "Board"
      = @identifier.publication.owner.friendly_name + " Reviewing - "
    %em
      = @identifier.title 
  %h2
    %span 
      (from
      = link_to @identifier.publication.title, @identifier.publication
      ) 
    
  -#- if @identifier.publication.owner_type == "User"
  -#  #submit
  -#   = button_to "Submit", submit_review_publication_path(@identifier.publication), :disabled => !@identifier.mutable?, :class => 'submit', :method => :get
  -#- elsif @identifier.publication.owner_type == "Board"

.sosolcard
  - if @identifier.publication.owner_type == "Board" && @identifier.publication.owner.controls_identifier?(@identifier) && @identifier.publication.owner.users.include?(@current_user)
    = render :partial => "boards/review_perseids", :locals => {:identifier => @identifier}

  %h2
    = render :partial => "identifiers/pn_link", :locals => {:identifier => @identifier}
