#main
  =# render :partial => 'identifiers/edit_bar'
  .site
    = render :partial => 'identifiers/header'
    #edit
      = form_for @identifier, :url => { :action => :updatexml } do |f|
        = f.error_messages

      
        %br
        = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :where_at => :top }
        
        %label XML
        = clippy "#{@identifier.class.to_s.underscore}_xml_content"
        %br
        = f.text_area :xml_content, :disabled => !@identifier.mutable?, :lang => 'grc', 'xml:lang' => 'grc',  :rows => 40, :wrap => 'off', :class => 'greek observechange'
        %br
        = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :where_at => :bottom }

= javascript_include_tag 'confirm'
:javascript
  showMatch("#{@identifier.class.to_s.underscore}_xml_content", "**POSSIBLE ERROR**");
  // **POSSIBLE ERROR** defined in insert_error_here method in identifiers controller
