#main
  =# render :partial => 'identifiers/edit_bar'
  .site
    -# render :partial => "common/flash_all"
    #rename
      %h1
        Renaming identifier 
        = @identifier.title
        from publication
        = @identifier.publication.title
        %br
      %h2
        = @identifier.class
        = @identifier.name
      %br
      %p Other identifiers currently associated with this publication:
      %ul
        - (@identifier.publication.identifiers - [@identifier]).each do |i|
          %li= i.name
      %h3
        %br
      = form_for @identifier, :url => { :action => "rename" } do |f|
        = f.error_messages
        -if [DCLPMetaIdentifier, DCLPTextIdentifier].include? @identifier.class
          %label New file name:
          = text_field_tag :new_name, @identifier.name, :class => :comment, :size => '80', :disabled => !@identifier.mutable?
          %br
          %label New dclp-hybrid name:
          = text_field_tag :new_hybrid, 'NOT IMPLEMENTED YET', :class => :comment, :size => '80', :disabled => !@identifier.mutable?
        -else
          %label New name:
          = text_field_tag :new_name, @identifier.name, :class => :comment, :size => '80', :disabled => !@identifier.mutable?
        %br
        %br
        - unless @identifier.needs_rename?
          = check_box_tag :set_dummy_header
          Leave dummy header in original file
          %br
          %br
        = f.submit "Rename", :class => 'save', :disabled => !@identifier.mutable?
