#main
  = render :partial => 'identifiers/edit_bar'
  .site
    %h1
      Commit
      = @commit[:id][0..6]
      for
      = @identifier.title
      from publication
      = @identifier.publication.title
      %br
    %h3
      = render :partial => "identifiers/pn_link", :locals => {:identifier => @identifier}
    #edit
      = render :partial => 'common/diff', :object => @diff