#div
  %div{:id => "#{type}_list_#{user.id}"}
    - comments.each do |comment| 
      %span.comment   
        - if comment.publication && comment.publication.title    
          = link_to comment.publication.title, comment.publication
          - case comment.reason
            - when 'vote'
              = "(" + comment.identifier.title + ") &nbsp" + "Vote "
            - when 'submit'
              = " (" + comment.publication.status + ") &nbsp"  
            - when 'finalizing'
              - if comment.identifier && comment.identifier.title
                = "(" + comment.identifier.title + ") &nbsp"      
          = h comment.comment 
          = comment.created_at.to_formatted_s(:long)

      %br
