#div
  %div{:id => "#{type}_list_#{user.id}"}
    - comments.each do |comment|
      - if comment['pub_title']
        %span.comment
          = link_to comment['pub_title'], :controller => 'publications', :id => comment['pub_id'], :action => :show
          - case comment['reason']
            - when 'vote'
              = "(" + comment['id_title'] + ")  ".html_safe + "Vote "
            - when 'submit'
              = " (" + comment['pub_status'] + ")  ".html_safe
            - when 'finalizing'
              - if comment['id_title']
                = "(" + comment['id_title'] + ")  ".html_safe
          = h comment['comment']
          = comment['created_at'].to_formatted_s(:long)
        %br
