- if @current_user
  #user_box
    .name= h @current_user.name
    .links
      = link_to 'home', dashboard_url
      \|
      = link_to 'account', account_url
      \|
      = link_to 'help', help_url, :onclick => "window.open(this.href);return false;"
      -# can uncomment lines below to put links directly to text and translation help pages
      -#= link_to 'Text Leiden+ Help', 'http://papyri.info/docs/leiden_plus', :onclick => "window.open(this.href);return false;"
      -#\|
      -#= link_to 'Translation Leiden+ Help', 'http://papyri.info/docs/leiden_plus_translation', :onclick => "window.open(this.href);return false;"
      \|
      = link_to 'sign out', signout_url
      %p
      - if @current_user.admin 
        = link_to 'Boards', boards_url
        \|
        = link_to 'Edit Text Leiden+ Help', 'http://papyri.info/docs/leiden_plus'
        \|
        = link_to 'Edit Translation Leiden+ Help', 'http://papyri.info/docs/leiden_plus_translation'
        \|
        = link_to 'Email Users', sendmsg_url
        \|
      - if @current_user.developer
        = link_to 'developer', developer_url
      - if @current_user.is_community_master_admin
        = link_to "Community", :controller => "communities"
        
- elsif (controller.action_name != 'consume' && controller.action_name != 'signin')
  #signin
    = link_to 'Sign In', signin_url
