- if @current_user
  #user_box
    .name= h @current_user.name
    .links
      = link_to 'home', dashboard_url
      \|
      - if @current_user.admin 
        = link_to 'boards', boards_url
        \|
      = link_to 'account', account_url
      \|
      = link_to 'help', help_url
      \|
      = link_to 'sign out', signout_url
- else
  #signin
    = link_to 'Sign In', signin_url
