<div class="section">
    <p style="color: red"><%= flash[:error] %></p>
  
    <h1><%= @current_user.name %>'s Account Info</h1>
  
    <h3>
    	Personal    
    </h3>
    <% form_for(@current_user, :url => { :action => "update_personal", :id => @current_user.id }) do |f| %>
    	<%= f.error_messages %>
    	 	<p>
					<%= f.label :full_name %><br />
					<%= f.text_field :full_name %>
				</p>
				<p>
					<%= f.label :affiliation %><br />
					<%= f.text_field :affiliation %>
				</p>						
				<p>
					<%= f.label :email %><br />
					<%= f.text_field :email %>
				</p>	
				
				<br />
				<h3>Interface</h3>
				<p>
						Enter choices for languages (en de it fr la el es) <br />
						<%= f.text_field :language_prefs %>
				</p>
				<p>
					<br />
					<%= f.submit "Update" %>
				</p>
				
									  
    <% end %>
    
    <br /><br />
    <h3>Your OpenIDs</h3>
    <% if @identifiers.length == 0 %>
      <p>No OpenIDs are associated with this account.</p>
    <% else %>
      <p>OpenIDs associated with this account:</p>

      <ul>
      <% @identifiers.each do |identifier| %>
        <li><%= h identifier.identifier %> -
          <%= link_to "delete", :controller => :rpx,
                           :action => "remove_openid", :openid => identifier.id %>
        </li>
      <% end %>
      </ul>
    <% end %>

    <%= link_to "Add an OpenID to your account", rpx_associate_url, :class => 'rpxnow' %>
</div>
