= stylesheet_link_tag "publication_list"
= javascript_include_tag "extra_ids"

- if @needs_reviewing_publications && @needs_reviewing_publications.length > 0
  = render :partial => "publications/publication_header", :locals => {:status => "Vote", :view_type => "board"}
  = render :partial => "publications/publication_listing", :locals => {:publications => @needs_reviewing_publications, :view_type => "board"}

- if @finalizing_publications && @finalizing_publications.length > 0
  = render :partial => "publications/publication_header", :locals => {:status => "Finalize", :view_type => "board"}
  = render :partial => "publications/publication_listing", :locals => {:publications => @finalizing_publications, :view_type => "board"}

- if @approved_publications && @approved_publications.length > 0
  = render :partial => "publications/publication_header", :locals => {:status => "Approved", :view_type => "board"}
  = render :partial => "publications/publication_listing", :locals => {:publications => @approved_publications, :view_type => "board"}
 
- if @member_already_voted_on && @member_already_voted_on.length > 0
  = render :partial => "publications/publication_header", :locals => {:status => "Waiting", :view_type => "board"}
  = render :partial => "publications/publication_listing", :locals => {:publications => @member_already_voted_on, :view_type => "board"}

