#main.site
  - max_visible_pubs = 5
  -# render :partial => "common/flash_all"
  %h2 Your Publications
  - cache(:action => 'dashboard', :part => "your_publications_#{@current_user.id}") do
    -# render publications without status
    = render :partial => "publications/list", :object => @publications.collect{|p| p.status.nil? ? p : nil}.compact
    - statuses = @publications.collect{|p| p.status}.uniq.compact.sort_by{|s| ["new","editing","submitted","voting","approved","finalizing","committed", "archived"].index(s) }
    - for status in statuses
      %br
      -#broke into separate partial to add vote/status data for user publications in 'submitted' status only
      - if status == "submitted"
        %h3== Your #{status} publications new submitted
        - this_publication_set = @publications.collect{|p| p.status == status ? p : nil}.compact
        = render :partial => "publications/submitlist", :object => this_publication_set[0..max_visible_pubs-1]
        - if this_publication_set.length > max_visible_pubs
          %div{:id => "more_user_#{status}", :style => "display:none;"}
            = render :partial => "publications/submitlist", :object => this_publication_set[max_visible_pubs..-1]
          %div{:id => "more_user_link_#{status}"}
            %a{:class => 'morelink', :href => '#', :onclick => "window.domSlider.slideDown({element: document.getElementById('more_user_#{status}')});window.domSlider.slideUp({element: document.getElementById('more_user_link_#{status}')});window.domSlider.slideDown({element: document.getElementById('less_user_link_#{status}')});return false;"}
              More...
          %div{:id => "less_user_link_#{status}", :style => "display:none;"}
            %a{:class => 'lesslink', :href => '#', :onclick => "window.domSlider.slideUp({element: document.getElementById('more_user_#{status}')});window.domSlider.slideDown({element: document.getElementById('more_user_link_#{status}')});window.domSlider.slideUp({element: document.getElementById('less_user_link_#{status}')});return false;"}
              Less...
      - else
        %h3== Your #{status} publications
        - this_publication_set = @publications.collect{|p| p.status == status ? p : nil}.compact
        = render :partial => "publications/list", :object => this_publication_set[0..max_visible_pubs-1]
        - if this_publication_set.length > max_visible_pubs
          %div{:id => "more_user_#{status}", :style => "display:none;"}
            = render :partial => "publications/list", :object => this_publication_set[max_visible_pubs..-1]
          %div{:id => "more_user_link_#{status}"}
            %a{:class => 'morelink', :href => '#', :onclick => "window.domSlider.slideDown({element: document.getElementById('more_user_#{status}')});window.domSlider.slideUp({element: document.getElementById('more_user_link_#{status}')});window.domSlider.slideDown({element: document.getElementById('less_user_link_#{status}')});return false;"}
              More...
          %div{:id => "less_user_link_#{status}", :style => "display:none;"}
            %a{:class => 'lesslink', :href => '#', :onclick => "window.domSlider.slideUp({element: document.getElementById('more_user_#{status}')});window.domSlider.slideDown({element: document.getElementById('more_user_link_#{status}')});window.domSlider.slideUp({element: document.getElementById('less_user_link_#{status}')});return false;"}
              Less...
        - if status == "committed"
          = link_to "Archive All Committed", :controller => 'publications', :action => "confirm_archive_all", :id => @current_user.id
    %br
    %br
    .archive_link
      = link_to "See Your Archived Publications", :controller => 'user', :action => 'archives',  :id => @current_user.id
    %br
  = render :partial => "publications/publication_selector", :locals => { :emend => :showemend }
  %p
    or create new publication:
    = render :partial => "publications/create_from_templates_form"
  %br
  = link_to "Advanced Publication Creation", :controller => "publications", :action => "advanced_create"

  %br
  - cache(:action => 'dashboard', :part => "board_publications_#{@current_user.id}") do
    - if @boards.length > 0
      %h2
        Boards
      - @boards.each do |board| 
        - finalizing_publications =  @board_final_pubs.collect{|p| ((p.parent.owner == board)) ? p : nil}.compact
        - approved_publications = board.publications.collect{|p| p.status == "approved" ? p : nil}.compact
        -#remove approved publications if in the finalizer list
        - finalizing_publications.each do |fp|
          -#remove it from the list of approved publications
          - approved_publications.each do |ap|
            - if fp.origin == ap.origin
              - approved_publications.delete(ap)
           
        %h2
          #{board.friendly_name} 
          -#= link_to board.title, :id => board.id, :controller => "boards", :action => "overview"
          Publications 
        - board_publications = board.publications.collect{|p| p.status == "voting" ? p : nil}.compact
        - if board_publications.length > 0        
          %h3== Voting Publications
          = render :partial => "publications/list", :object => board_publications
          %br
        
        -#- approved_publications = board.publications.collect{|p| p.status == "approved" ? p : nil}.compact
        - if approved_publications.length > 0        
          %h3== Approved Publications
          = render :partial => "publications/list", :object => approved_publications
          %br
        
        -#- finalizing_publications =  @board_final_pubs.collect{|p| p.parent.owner == board ? p : nil}.compact
        - if finalizing_publications.length > 0         
          %h3== Your Publications to Finalize
          = render :partial => "publications/list", :object => finalizing_publications
          %br        
        - archived_publications = board.publications.collect{|p| p.status == "archived" ? p : nil}.compact
        - if archived_publications.length > 0
          = link_to "Archived", :controller => 'user', :action => 'archives',  :id => @current_user.id, :board_id => board.id
          %br

  %h2 News Feed
  = render :partial => "events/list", :object => @events
  

