<script>
function showHide(id)
{
  var element = document.getElementById(id);
  if ( element.style.display != 'none' )
  {
     element.style.display = 'none';
  }
  else
  {
    element.style.display = '';
  }
}
</script>

<div class="dashboard">

<!--
	<h1>
		<% if @current_user.name != nil %>
		  <%= @current_user.name %>
		<% else %>
		  <%= 'Guest' %>
		<% end %> 
	  's Dashboard
	</h1>
-->

	<h2 onclick="showHide('documents')">Documents</h2>
	<%= link_to "New", { :controller => "master_articles", :action => "new" } %>
	<br/>


	<div id='documents'>
	  <% if @current_user.master_articles != nil%>
		  <% master_articles = @current_user.master_articles %>
			<ul>
			  <% master_articles.each do |ma| %>
				<li><%= link_to ma.title, url_for(ma) %>
				<!--
				  <ul>
					 <% articles = ma.articles %>
					 <% articles.each do |a| %>
					   <li> <%= link_to a.category, edit_article_path(a)%> </li>
					 <% end %>
				  </ul>
				  -->
				 </li>
				<%end%> 
			 </ul>
	  <% end %>
	</div>
	
	
	
<!--	
	<% boards = Board.find(:all) %>
	<% boards.each do | board | %>
	  <% if board.users.find_by_id(@current_user.id) %>
	       <h4><%= board.title %></h4>
		   <% articles = board.articles %>		    
			<ul>
			  <% articles.each do |article| %>
				<li>
				<%= link_to article.category, url_for(article) %>  <%= article.status %>  
				
				<%= link_to "review", :controller => "articles", :action => "board_review", :id => article.id %>
				 </li>
				<%end%> 
			 </ul>
	  
	  <% end %>	
	<% end %>
-->	
	
	
	
	
	

	
	<% if @current_user.boards != nil && @current_user.boards.length > 0 %>
		<h2 onclick="showHide('boards')">Editorial Boards</h2>		
		<br/>

		<div id='boards'>
	     <% @current_user.boards.each do |board| %>
	       <h4><%= board.title %></h4>
		   <% articles = board.articles %>		    
			<ul>
			  <% articles.each do |article| %>
				<li>
				<%= link_to article.category, url_for(article) %>  <%= article.status %>  
				
				<%= link_to "review", :controller => "articles", :action => "board_review", :id => article.id %>
				 </li>
				<%end%> 
			 </ul>
	        <% end %>
		</div>
  <% end %>	
	
	
	
	
	
	
	
	
	
<!--
	 <% articles = @current_user.articles %>
     <h2 onclick="showHide('articles')">Articles</h2>
     <br/>
     
	 <div id='articles'>
	  <ul>
	    <% articles.each do |a| %>
		  <li> <%= link_to a.id, edit_article_path(a)%> </li>
	    <% end %>
	 </div>
-->


	<h2 onclick="showHide('comments')">Comments</h2>
	<br/>
	<div id='comments'>
	  <% comments = @current_user.comments %>
		<ul>
		  <% comments.each do |c| %>
			<li> <%= c.text%> </li>
		  <% end %>
		</ul>
	</div>

</div>


<%= link_to "Language Prefs", :controller => 'user', :action => 'ask_language_prefs' %>

