#main.site
  = render :partial => "common/flash_all"
  %h2 Your Publications
  -# render publications without status
  = render :partial => "publications/list", :object => @publications.collect{|p| p.status.nil? ? p : nil}.compact
  - statuses = @publications.collect{|p| p.status}.uniq.compact.sort_by{|s| ["new","editing","submitted","voting","approved","finalizing","committed"].index(s) }
  - for status in statuses
    %br
    %h3== Your #{status} publications
    = render :partial => "publications/list", :object => @publications.collect{|p| p.status == status ? p : nil}.compact
  %br
  = render :partial => "publications/publication_selector"
  
  - if @current_user.developer
    #developer
      %br
      - form_for :publication, Publication.new, :url => { :controller => "publications", :action => "create" } do |form|
        = label_tag 'pn_id', 'Create publication from PN ID:'
        = text_field_tag 'pn_id', '', :size => 40
        = form.submit "Create", :class => ''
  
  %br
  - form_for :publication, Publication.new, :url => { :controller => "publications", :action => "create_from_templates" } do |form|
    = "or create a new publicaiton:"
    %br
    = form.submit "Create New Publication", :class => 'save'
  %br
  - if @current_user.boards.length > 0
    %h2
      Boards
    - @current_user.boards.each do |board|      
      %h2
        #{board.title} 
        Publications 
      - board_publications = board.publications.collect{|p| p.status == "voting" ? p :nil}.compact
      - if board_publications.length > 0        
        %h3== Voting Publications
        = render :partial => "publications/list", :object => board_publications
        %br
        
      - board_publications = board.publications.collect{|p| p.status == "approved" ? p :nil}.compact
      - if board_publications.length > 0        
        %h3== Approved Publications
        = render :partial => "publications/list", :object => board_publications
        %br
        
      - board_publications = board.publications.collect{|p| p.status == "committed" ? p :nil}.compact
      - if board_publications.length > 0        
        %h3== Committed Publications
        = render :partial => "publications/list", :object => board_publications
        %br
        
      - board_publications =  @board_final_pubs.collect{|p| p.parent.owner == board ? p : nil}.compact
      - if board_publications.length > 0         
        %h3== Your Publications to Finalize
        = render :partial => "publications/list", :object => board_publications
        %br
        
  %h2 News Feed
  = render :partial => "events/list", :object => @events
