<h3>Download your publications</h3>
<p>
  Click the Download link to download a zip file containing all of your publications for the given status/community.
</p>
<table class='download_table'>
  <tr>
    <td></td>
    <td>
      <h4>New</h4>
    </td>
    <td>
      <h4>Editing</h4>
    </td>
    <td>
      <h4>Submitted</h4>
    </td>
    <td>
      <h4>Committed</h4>
    </td>
    <td>
      <h4>Combined</h4>
    </td>
  </tr>
  <tr>
    <% do_combined = false %>
    <td>
      <h4>PE</h4>
    </td>
    <td>
      <% if @new_publications && @new_publications.length > 0 %>
        <%= link_to "Download", {:controller => "user", :action => "download_by_status", :id => @current_user.id, :status => "new"} %>
        <% do_combined = true %>
      <% end %>
    </td>
    <td>
      <% if @editing_publications && @editing_publications.length > 0 %>
        <%= link_to "Download", {:controller => "user", :action => "download_by_status", :id => @current_user.id, :status => "editing"} %>
        <% do_combined = true %>
      <% end %>
    </td>
    <td>
      <% if @submitted_publications && @submitted_publications.length > 0 %>
        <%= link_to "Download", {:controller => "user", :action => "download_by_status", :id => @current_user.id, :status => "submitted"} %>
        <% do_combined = true %>
      <% end %>
    </td>
    <td>
      <% if @committed_publications && @committed_publications.length > 0 %>
        <%= link_to "Download", {:controller => "user", :action => "download_by_status", :id => @current_user.id, :status => "committed"} %>
        <% do_combined = true %>
      <% end %>
    </td>
    <td>
      <% if do_combined %>
        <%= link_to "Download", {:controller => "user", :action => "download_user_publications", :id => @current_user.id } %>
      <% end %>
    </td>
  </tr>
  <% if @communities && @communities.length > 0 %>
    <% @communities.each_value do |community| %>
      <tr>
        <% do_combined = false %>
        <td>
          <h4>
            <%= community[:name] %>
          </h4>
        </td>
        <td>
          <% if community[:new_publications] && community[:new_publications].length > 0 %>
            <%= link_to "Download", {:controller => "user", :action => "download_by_status", :community_id => community[:id], :id => @current_user.id, :status => "new"} %>
            <% do_combined = true %>
          <% end %>
        </td>
        <td>
          <% if community[:editing_publications] && community[:editing_publications].length > 0 %>
            <%= link_to "Download", {:controller => "user", :action => "download_by_status", :community_id => community[:id], :id => @current_user.id, :status => "editing"} %>
            <% do_combined = true %>
          <% end %>
        </td>
        <td>
          <% if community[:submitted_publications] && community[:submitted_publications].length > 0 %>
            <%= link_to "Download", {:controller => "user", :action => "download_by_status", :community_id => community[:id], :id => @current_user.id, :status => "submitted"} %>
            <% do_combined = true %>
          <% end %>
        </td>
        <td>
          <% if community[:committed_publications] && community[:committed_publications].length > 0 %>
            <%= link_to "Download", {:controller => "user", :action => "download_by_status", :community_id => community[:id], :id => @current_user.id, :status => "committed"} %>
            <% do_combined = true %>
          <% end %>
        </td>
        <td>
          <% if do_combined %>
            <%= link_to "Download", {:controller => "user", :action => "download_user_publications", :community_id => community[:id], :id => @current_user.id } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
