#main
  -# render :partial => "common/flash_all"

  
  %p
    = form_for(@user, :url => { :action => "update_admins", :id => @user.id }) do |f|
      = f.error_messages
      .user_admins
        .user_name
          = @user.name + " - " + @user.full_name
        
        .checkbox_container
          = f.check_box :is_master_admin
          = f.label "Master"
        
        
        .checkbox_container
          = f.check_box :is_community_master_admin
          = f.label "Community Master"
        
          
        .checkbox_container  
          = f.check_box :admin
          = f.label :admin
        
          
        .checkbox_container
          = f.check_box :developer
          = f.label :developer
        
  
      %p
        %br
        = f.submit "Update"
    %br

