%h1
  User Admin Privileges

- for user in @users
  %div{ :class => "user_admins" }
    
    %div
      
      %span 
        %b
          = h user.name
      %span
        Master Admin
        = check_box_tag "name", "1", user.is_master_admin, { :disabled => true }
      %span
        Community Master Admin
        = check_box_tag "name", "1", user.is_community_master_admin, { :disabled => true }
      %span
        Admin
        = check_box_tag "name", "1", user.admin, { :disabled => true }
      %span
        Developer
        = check_box_tag "name", "1", user.developer, { :disabled => true }
      
      = link_to "Edit", :controller => :user, :action => :edit_user_admins, :user_id => user.id 

