#main
  
  = render :partial => "common/flash_all"
 
  #usage_stats
    - @users.each do |user|
      %h2= user.human_name
      - if user.affiliation
        %h3= user.affiliation
      %br
      Member since #{user.created_at.to_date.to_s(:long_ordinal)}
      - if user.boards.length > 0
        %br Member of: #{user.boards.collect{|b| b.friendly_name}.join(', ')} 
      %br
      %br
      - votes = Comment.vote.find_all_by_user_id(user.id)
      - if votes.length > 0
        %h3 Votes
        - votes.each do |vote| 
          %span.comment   
            - if vote.publication && vote.publication.title    
              = link_to vote.publication.title, vote.publication
              = "(" + vote.identifier.title + ")"
              = h "Vote " + vote.comment 
              %span.date 
                = vote.created_at.to_formatted_s(:long)
          
          %br
      

      - submits = Comment.submit.find_all_by_user_id(user.id)
      - if submits.length > 0
        %h3 Submissions
        - submits.each do |submit| 
          %span.comment     
            - if submit.publication && submit.publication.title
              = link_to submit.publication.title, submit.publication  
              = "(" + submit.publication.status + ")"  
              = h submit.comment 
              %span.date 
                = submit.created_at.to_formatted_s(:long)
          %br
        
      
      
      - finalizings = Comment.finalizing.find_all_by_user_id(user.id)
      - if finalizings.length > 0  
        %h3 Finalized
        - finalizings.each do |finalizing|
          %span.comment 
            - if finalizing.publication && finalizing.publication.title 
              = link_to finalizing.publication.title, finalizing.publication
              - if finalizing.identifier && finalizing.identifier.title
                = finalizing.identifier.title   
              = h finalizing.comment 
              %span.date 
                = finalizing.created_at.to_formatted_s(:long)
          %br
        
      %br
      %br
