= stylesheet_link_tag "publication_list"
=# javascript_include_tag "extra_ids"
 
- if @new_publications && @new_publications.length > 0
  = render :partial => "publications/publication_header", :locals => {:status => "New", :list_name => "new"}
  = render :partial => "publications/publication_listing", :locals => {:publications => @new_publications, :list_name => "new"}

- if @editing_publications && @editing_publications.length > 0
  = render :partial => "publications/publication_header", :locals => {:status => "Editing", :list_name => "editing" }
  = render :partial => "publications/publication_listing", :locals => {:publications => @editing_publications, :list_name => "editing" }

- if @submitted_publications && @submitted_publications.length > 0
  = render :partial => "publications/publication_header", :locals => {:status => "Submitted", :list_name => "submitted" }
  = render :partial => "publications/publication_listing", :locals => {:publications => @submitted_publications, :list_name => "submitted" }
 
- if @committed_publications && @committed_publications.length > 0
  = render :partial => "publications/publication_header", :locals => {:status => "Committed", :list_name => "committed" }
  = render :partial => "publications/publication_listing", :locals => {:publications => @committed_publications, :list_name => "committed" }

%br
.archive_link
  = link_to "Archived", :controller => 'user', :action => 'archives',  :id => @current_user.id


