- has_new = @new_publications && @new_publications.length > 0
- has_editing = @editing_publications && @editing_publications.length > 0
- has_finalizing = @finalizing_publications && @finalizing_publications.length > 0
- has_submitted = @submitted_publications && @submitted_publications.length > 0
- has_committed = @committed_publications && @committed_publications.length > 0
- has_assigned = @assigned_publications && @assigned_publications.length > 0
- if @community
  %header
    %h1
      = @community.friendly_name + " community publications"
    - if @community.admins.include?(@current_user)
      = link_to 'Manage Community', @community, :class => 'btn revert bg-sdw'
.publications
  = render( :partial => 'publications/cts_selector', :locals => { :hide_text => :hide_text, :controller => 'cts_publications', :inventories => CTS::CTSLib.getInventoriesHash().keys })
  = render "common/flash_all"
  = render "common/browser_warning"
  .container-wrapper
    = render( :partial => 'publications/filter', :locals => { :has_new => has_new, :has_editing => has_editing, :has_committed => has_committed, :has_finalizing => has_finalizing, :has_assigned => has_assigned, :has_submitted => has_submitted})

    #new-column.publication-container
      - if has_new
        .publication_list_holder
          = render :partial => "publications/publication_header_perseids", :locals => {:status => "New", :view_type => "user", :list_name => "new"}
          = render :partial => "publications/publication_listing_perseids", :locals => {:publications => @new_publications, :view_type => "user", :list_name => "new"}

    #editing-column.publication-container
      - if has_editing
        .publication_list_holder
          = render :partial => "publications/publication_header_perseids", :locals => {:status => "Editing", :view_type => "user", :list_name => "editing" }
          = render :partial => "publications/publication_listing_perseids", :locals => {:publications => @editing_publications, :view_type => "user", :list_name => "editing" }

    #assigned-column.publication-container
      - if has_assigned
        .publication_list_holder
          = render :partial => "publications/publication_header_perseids", :locals => {:status => "Reviewing", :view_type => "user", :list_name => "assigned" }
          = render :partial => "publications/publication_listing_perseids", :locals => {:publications => @assigned_publications, :view_type => "user", :list_name => "assigned" }

    #finalizing-column.publication-container
      - if has_finalizing
        .publication_list_holder
          = render :partial => "publications/publication_header_perseids", :locals => {:status => "Finalizing", :view_type => "user", :list_name => "finalizing" }
          = render :partial => "publications/publication_listing_perseids", :locals => {:publications => @finalizing_publications, :view_type => "user", :list_name => "finalizing" }

    #submitted-column.publication-container
      - if has_submitted
        .publication_list_holder
          = render :partial => "publications/publication_header_perseids", :locals => {:status => "Submitted", :view_type => "user", :list_name => "submitted" }
          = render :partial => "publications/publication_listing_perseids", :locals => {:publications => @submitted_publications, :view_type => "user", :list_name => "submitted" }


    #committed-column.publication-container
      - if has_committed
        .publication_list_holder
          = render :partial => "publications/publication_header_perseids", :locals => {:status => "Committed", :view_type => "user", :list_name => "committed" }
          = render :partial => "publications/publication_listing_perseids", :locals => {:publications => @committed_publications, :view_type => "user", :list_name => "committed" }

    - if defined?(@show_events)
      - @events = Event.find(:all, :order => "created_at DESC", :limit => 25, :include => [:owner, :target])[0..24]
      %h2 News Feed
      = render :partial => "events/list", :object => @events
:javascript
  jQuery(document).ready(
    function() {
      perseids_filters();
      browser_test();
    }
  );
