= stylesheet_link_tag "board"

%h1
  = @board.title + " ( " + @board.friendly_name + " )"

- if @board.community
  %br
  %b Community
  %br
  = @board.community.name + " ( " + @board.community.friendly_name + " ) "
  %br
    
%b 
  = "Editorial Board for "
- @board.identifier_classes.each do |ic|
  = ic + " "
%br
%b
  = 'Rank is '
=@board.rank.to_s
%br

= form_for(@board) do |f|
  = f.error_messages 
  %b
    Friendly name 
    
  = f.text_field :friendly_name
  = f.submit "Update Name"

  -# dont let them change the name of the board...repositories depend on it 1-2010
  -#= f.label :title
  -#= f.text_field :title
  -#= f.submit "Save"
  -#= f.label :rank
    = f.text_field :rank
    = f.submit "Update rank"
  %br
  %br
  %h3{'style' => "display:inline;"}
    Members
  = link_to "Add", :controller => "boards", :action => "find_member", :id => @board.id
  
  .member

    - @board.users.each do |user|
      .remove_user
        .user_name
          = user.name
          = link_to "X", :controller => "boards", :action => "remove_member", :user_id => user.id 
          %br
    
  %h3{'style' => "display:inline;"}
    Decrees
  = link_to "Add", :controller => "decrees", :action => "new", :board_id => @board.id 

  - @board.decrees.each do |decree| 
    = render :partial => decree 

  %h3{'style' => "display:inline;"}
    E-mails
  = link_to "Add", :controller => "emailers", :action => "new", :board_id => @board.id
  - @board.emailers.each do |emailer| 
    = render :partial => emailer


= link_to 'Show This Board', @board

- if @board.community
  %br
  = link_to 'Edit ' + @board.community.name + ' community', edit_polymorphic_path([@board.community]) 
    
