#main.site
  = stylesheet_link_tag "board"
  = render :partial => "common/flash_all"

  -# TODO sort by community and rank?
  %h1
    Editorial boards
  - for board in @boards
    = render :partial => "listing" , :object => board
    %br
  %br
  %p
    = link_to 'Change Priority Rank', :controller => 'boards', :action => 'rank'
  %p
    = link_to 'New board', new_board_path
