#main.site
  = stylesheet_link_tag "board"
  
  -# sort by community and rank? - no community boards are shown on different page
  %h1
    Editorial boards
  -for c in @boards.keys
    %h2 #{c}
    - for board in @boards[c]
      = render :partial => "listing" , :object => board
      %br   
    
  %br
  %p
    = link_to 'Send Email Reminders', :controller => "boards", :action => "send_board_reminder_emails"

 
  %p
    = link_to 'Change Priority Rank', :controller => 'boards', :action => 'rank'

  -if Sosol::Application.config.allow_canonical_boards 
    %p
      = link_to 'New board', new_board_path

