%header
  %h1
    New board
    - if @board.community
      = " for community " + @board.community.name
#main.site.card
  = form_for(@board) do |f|
    = f.error_messages
    = f.hidden_field :community_id
    %p
      = f.label :title
      %br
      = f.text_field :title
      %br
    %p
      = f.label :friendly_name
      %br
      = f.text_field :friendly_name
      %br
    -#%p
      = f.label :rank
      %br
      = f.text_field :rank
      %br
    %p
      .checkbox
        = f.check_box :skip_finalize
        Skips Finalization
    %p
      = f.label "Identifier classes"
      %br
      - @available_identifier_classes.each do |identifier_class|
        / show all choices
        .checkbox
          = check_box_tag identifier_class

          / limit to one choice
          /= check_box_tag  "#{identifier_class}", "#{identifier_class}", false
          %span
            = identifier_class.sub(/Identifier$/,'')
    %br
    %p
      = f.submit "Create"
