#main.site
  = render :partial => "common/flash_all"  
  %h1
    New board
  - form_for(@board) do |f|
    = f.error_messages
    %p
      = f.label :title
      %br
      = f.text_field :title
      %br
    -#%p
      = f.label :rank
      %br
      = f.text_field :rank
      %br
    %br
    %p
      = f.label "Identifier classes"
      %br
      - @available_identifier_classes.each do |identifier_class|
        / show all choices
        = check_box_tag identifier_class

        / limit to one choice
        /= check_box_tag  "#{identifier_class}", "#{identifier_class}", false

        = identifier_class.sub(/Identifier$/,'')
        %br
    %br
    %p
      = f.submit "Create"
