<h1>New board</h1>

<% form_for(@board) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :category %><br />
    
    <% possible_categories = {"Meta" => "Meta", "Transcription" => "Transcription", "Translation" => "Translation" } %>
    <%= f.select :category , possible_categories %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', boards_path %>
