= stylesheet_link_tag "board"
 

- if @board.community
  %br
  %b Community
  %br
  = @board.community.name + " ( " + @board.community.friendly_name + " ) "
  %br
    

%b 
  Title is
= @board.title 
%br
  
%b 
  Friendly Name
= @board.friendly_name
%br 
 
%b 
  = "Editorial Board for "
- @board.identifier_classes.each do |ic|
  = ic + " "
%br
  
%b
  = 'Rank is '
=@board.rank.to_s
%br
    
    


%h3
  Members
.member
  - @board.users.count
  - @board.users.each do |user|  
    = user.name
    %br

%h3
  Decrees
- @board.decrees.each do |decree|
  = render :partial => decree, :locals =>  {:hide_edit_link=> 'true'}

%h3
  E-mails
- @board.emailers.each do |email|
  = render :partial => email, :locals =>  {:hide_edit_link=> 'true'}

%br
= link_to 'Edit This Board', edit_board_path(@board)

- if @board.community
  %br
  = link_to 'Edit ' + @board.community.name + ' community', :controller => 'communities', :action => 'edit', :id => @board.community.id