<p>
  <b>Title:</b>
  <%=h @board.title %>
</p>

<p>
  <b>Category:</b>
  <%=h @board.category %>
</p>

<p>
  <b>User:</b>
  <%=h @board.user_id %>
</p>

<p>
  <b>Decree:</b>
  <%=h @board.decree_id %>
</p>

<p>
  <b>Article:</b>
  <%=h @board.article_id %>
</p>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
