= stylesheet_link_tag "board"
= render :partial => "common/flash_all"  
%p
  %b 
    Title:
  = @board.title 
%p
  %b 
    Name:
  = @board.friendly_name


%p
  %b
    Rank:
  = @board.rank
%p
  %b 
    Identifiers:
  - @board.identifier_classes.each do |ic| 
    = ic   

%p
  .member
    %h3
      Members
    - @board.users.count
    - @board.users.each do |user| 
      %p 
        = user.name

%p
  %b
    Decrees
  - @board.decrees.each do |decree|
    = render :partial => decree, :locals =>  {:hide_edit_link=> 'true'}


%p
  %b
    E-mails
  - @board.emailers.each do |email|
    = render :partial => email, :locals =>  {:hide_edit_link=> 'true'}

%br
= link_to 'Edit This Board', edit_board_path(@board)
