#article_menu
  .site
    %ul
      %li.active= link_to 'Text', edit_polymorphic_path([@identifier.publication, @identifier])
      %li= link_to 'Metadata', edit_polymorphic_path([@identifier.publication, @identifier])
      %li= link_to 'Translation', edit_polymorphic_path([@identifier.publication, @identifier])
#article_sub_menu
  .site
    .joiner
    %ul
      %li.active= link_to 'Edit', edit_polymorphic_path([@identifier.publication, @identifier])
      %li= link_to 'History', polymorphic_path([@identifier.publication, @identifier], :action => :history)
- if params[:action] != 'history' && @identifier.class == DDBIdentifier
  #article_sub_menu
    .site
      .joiner
        %ul
          %li{ :class => params[:action] == 'edit' ? 'active' : ''}= link_to 'Leiden+', edit_polymorphic_path([@identifier.publication, @identifier])
          %li{ :class => params[:action] == 'editxml' ? 'active' : ''}= link_to 'XML', polymorphic_path([@identifier.publication, @identifier], :action => :editxml)
          %li{ :class => params[:action] == 'preview' ? 'active' : ''}= link_to 'Preview', polymorphic_path([@identifier.publication, @identifier], :action => :preview)
          %li{ :class => params[:action] == 'comment_on' ? 'active' : ' '}= link_to 'Comment'#, comment_on_publication_path(@publication)
