#article_menu
  .site
    %ul
      %li.active= link_to 'Text', edit_polymorphic_path([@identifier.publication, @identifier])
      %li= link_to 'Metadata', polymorphic_path([@identifier.publication, @identifier], :action => :history)
      %li= link_to 'Translation', polymorphic_path([@identifier.publication, @identifier], :action => :history)
#article_sub_menu
  .site
    .joiner
    %ul
      %li.active= link_to 'Edit', edit_polymorphic_path([@identifier.publication, @identifier])
      %li= link_to 'History', polymorphic_path([@identifier.publication, @identifier], :action => :history)
#article_sub_menu
  .site
    .joiner
    - if params[:action] != 'history'
      %ul
        %li{ :class => params[:action] == 'edit' ? 'active' : ''}= link_to 'Leiden+', edit_polymorphic_path([@identifier.publication, @identifier])
        %li{ :class => params[:action] == 'editxml' ? 'active' : ''}= link_to 'XML', polymorphic_path([@identifier.publication, @identifier], :action => :editxml)
        %li{ :class => params[:action] == 'preview' ? 'active' : ''}= link_to 'Preview', polymorphic_path([@identifier.publication, @identifier], :action => :preview)
        %li{ :class => params[:action] == 'comment_on' ? 'active' : ' '}= link_to 'Comment'#, comment_on_publication_path(@publication)
