:javascript
  helpView = "#{url_for(:controller => 'helper', :action => 'wheretogo')}";
  ajaxConvert = "#{url_for(:controller => 'leiden', :action => 'xmlAjax')}";
  convLeiden2XML = "#{url_for(:controller => 'leiden', :action => 'leiden2xml')}";
= javascript_include_tag 'leiden'
= javascript_include_tag 'menu-for-applications'

= stylesheet_link_tag 'menu-item'
= stylesheet_link_tag 'menu-bar'

%ul#menuModel{ :style => "display:inherit"}
  %li#1
    %a{:href => "#", :title => "Leiden+ Input Helpers"} Helpers
    %ul{ :width => "auto"}
      %li#101
        %a{ :href => "#"} Gap
        %ul{ :width => "auto"}
          %li#1011{ :jsFunction => "helpDialogOpen('gaplost')"}
            %a{ :href => "#"}Lacuna
          %li#1012{ :jsFunction => "helpDialogOpen('gapilleg')"}
            %a{ :href => "#"}Illegible
          %li#1013{ :jsFunction => "helpDialogOpen('vestig')"}
            %a{ :href => "#"}Vestigia
          %li#1014{ :jsFunction => "helpDialogOpen('gapelliplang')"}
            %a{ :href => "#"}Language lines vel sim
          %li#1015{ :jsFunction => "helpDialogOpen('gapellipNT')"}
            %a{ :href => "#"}Not Transcribed
      %li#102{ :itemType => "separator"}
      %li#103{ :jsFunction => "helpDialogOpen('abbrev')"}
        %a{ :href => "#"} Abbreviation
      %li#104{ :itemType => "separator"}
      %li#105{ :jsFunction => "helpDialogOpen('number')"}
        %a{ :href => "#"} Numbers
      %li#106{ :itemType => "separator"}
      %li#107
        %a{ :href => "#"} Ancient Diacriticals
        %ul{ :width => "auto"}
          %li#1071{ :jsFunction => "insertDiacriticalMain('acute')"}
            %a{ :href => "#"}Acute
          %li#1072{ :jsFunction => "insertDiacriticalMain('asper')"}
            %a{ :href => "#"}Asper
          %li#1073{ :jsFunction => "insertDiacriticalMain('circumflex')"}
            %a{ :href => "#"}Circumflex
          %li#1074{ :jsFunction => "insertDiacriticalMain('diaeresis')"}
            %a{ :href => "#"}Diaeresis
          %li#1075{ :jsFunction => "insertDiacriticalMain('grave')"}
            %a{ :href => "#"}Grave
          %li#1076{ :jsFunction => "insertDiacriticalMain('lenis')"}
            %a{ :href => "#"}Lenis
          %li#1077{ :jsFunction => "helpDialogOpen('ancientdia')"}
            %a{ :href => "#"}Multiple
      %li#108{ :itemType => "separator"}
      %li#109
        %a{ :href => "#"} App
        %ul{ :width => "auto"}
          %li#1091{ :jsFunction => "helpDialogOpen('apporth')"}
            %a{ :href => "#"}Orthographic correction
          %li#1092{ :jsFunction => "helpDialogOpen('appsubst')"}
            %a{ :href => "#"}Scribal correction
          %li#1093{ :jsFunction => "helpDialogOpen('appalt')"}
            %a{ :href => "#"}Alternate readings
          %li#1094{ :jsFunction => "helpDialogOpen('appedit')"}
            %a{ :href => "#"}Editorial correction
          %li#1095{ :jsFunction => "helpDialogOpen('appBL')"}
            %a{ :href => "#"}Corrections in BL
          %li#1096{ :jsFunction => "helpDialogOpen('appSoSOL')"}
            %a{ :href => "#"}SoSOL correction
      %li#110{ :itemType => "separator"}
      %li#111
        %a{ :href => "#"}Deletion
        %ul{ :width => "auto"}
          %li#1111{ :jsFunction => "insertDeletionMain('slashes')"}
            %a{ :href => "#"}Deletion with Slashes
          %li#1112{ :jsFunction => "insertDeletionMain('cross-strokes')"}
            %a{ :href => "#"}Deletion with Cross-Strokes
          %li#1113{ :jsFunction => "insertDeletionMain('erasure')"}
            %a{ :href => "#"}Deletion with Erasure
      %li#112{ :itemType => "separator"}
      %li#113
        %a{ :href => "#"}Milestone
        %ul{ :width => "auto"}
          %li#1131{ :jsFunction => "insertMilestoneMain('paragraphos')"}
            %a{ :href => "#"}Paragraphos
          %li#1132{ :jsFunction => "insertMilestoneMain('horizontal-rule')"}
            %a{ :href => "#"}Horizontal Rule
          %li#1133{ :jsFunction => "insertMilestoneMain('box')"}
            %a{ :href => "#"}Box
      %li#114{ :itemType => "separator"}
      %li#115
        %a{ :href => "#"}Division
        %ul{ :width => "auto"}
          %li#1151{ :jsFunction => "insertDivisionMain('recto')"}
            %a{ :href => "#"}Recto
          %li#1152{ :jsFunction => "insertDivisionMain('verso')"}
            %a{ :href => "#"}Verso
          %li#1153{ :jsFunction => "insertDivisionMain('fragment')"}
            %a{ :href => "#"}Fragment
          %li#1154{ :jsFunction => "insertDivisionMain('column')"}
            %a{ :href => "#"}Column
          %li#1155{ :jsFunction => "helpDialogOpen('division')"}
            %a{ :href => "#"}Other
  %li#2{ :itemType => "separator"}
  %li#3{ :jsFunction => "insertUnderdot()"}
    %a{ :href => "#"}UnderDot
  %li#4{ :itemType => "separator"}
  %li#5{ :jsFunction => "helpDialogOpen('tryit')"}
    %a{ :href => "#"}Try It
  %li#6{ :itemType => "separator"}
%p
  %div#menuDiv
