#main
  :javascript
    helpView = "#{url_for(:controller => 'helper', :action => 'wheretogo')}";
    ajaxConvert = "#{url_for(:controller => 'leiden', :action => 'xmlAjax')}";
    convLeiden2XML = "#{url_for(:controller => 'leiden', :action => 'leiden2xml')}";
  = javascript_include_tag 'leiden'
  = javascript_include_tag 'menu-for-applications' 
   
  = render :partial => 'identifiers/edit_bar'
  .site
    = render :partial => 'identifiers/header'
    = stylesheet_link_tag 'menu-item'
    = stylesheet_link_tag 'menu-bar'
    #edit
      - form_for @identifier, :url => { :action => :update }, :html => {:name => 'helper'} do |f|
        = f.error_messages
        %ul#menuModel{ :style => "display:inherit"}
          %li#50000
            %a{:href => "#", :title => "Leiden+ Input Helpers"} Helpers
            %ul{ :width => "165"}
              %li#5000001
                %a{ :href => "#"} Gap
                %ul{ :width => "175"}
                  %li#50000011{ :jsFunction => "helpDialogOpen('gaplost')"}
                    %a{ :href => "#"}Lacuna
                  %li#50000012{ :jsFunction => "helpDialogOpen('gapilleg')"}
                    %a{ :href => "#"}Illegible
                  %li#50000013{ :jsFunction => "helpDialogOpen('vestig')"}
                    %a{ :href => "#"}Vestigia
                  %li#50000014{ :jsFunction => "helpDialogOpen('gapelliplang')"}
                    %a{ :href => "#"}Language lines vel sim
                  %li#50000015{ :jsFunction => "helpDialogOpen('gapellipNT')"}
                    %a{ :href => "#"}Not Transcribed
              %li#5000002{ :itemType => "separator"}
              %li#5000003{ :jsFunction => "helpDialogOpen('abbrev')"}
                %a{ :href => "#"} Abbreviation
              %li#5000004{ :itemType => "separator"}
              %li#5000005{ :jsFunction => "helpDialogOpen('number')"}
                %a{ :href => "#"} Numbers
              %li#5000006{ :itemType => "separator"}
              %li#5000007
                %a{ :href => "#"} Ancient Diacriticals
                %ul{ :width => "100"}
                  %li#50000071{ :jsFunction => "insertDiacriticalMain('acute')"}
                    %a{ :href => "#"}Acute
                  %li#50000072{ :jsFunction => "insertDiacriticalMain('asper')"}
                    %a{ :href => "#"}Asper
                  %li#50000073{ :jsFunction => "insertDiacriticalMain('circumflex')"}
                    %a{ :href => "#"}Circumflex
                  %li#50000074{ :jsFunction => "insertDiacriticalMain('diaeresis')"}
                    %a{ :href => "#"}Diaeresis
                  %li#50000075{ :jsFunction => "insertDiacriticalMain('grave')"}
                    %a{ :href => "#"}Grave
                  %li#50000076{ :jsFunction => "insertDiacriticalMain('lenis')"}
                    %a{ :href => "#"}Lenis
                  %li#50000077{ :jsFunction => "insertDiacriticalMain('oxia')"}
                    %a{ :href => "#"}Oxia
                  %li#50000078{ :jsFunction => "helpDialogOpen('ancientdia')"}
                    %a{ :href => "#"}Multiple
              %li#5000008{ :itemType => "separator"}
              %li#5000009
                %a{ :href => "#"} App
                %ul{ :width => "175"}
                  %li#50000091{ :jsFunction => "helpDialogOpen('apporth')"}
                    %a{ :href => "#"}Orthographic correction
                  %li#50000092{ :jsFunction => "helpDialogOpen('appsubst')"}
                    %a{ :href => "#"}Scribal correction
                  %li#50000093{ :jsFunction => "helpDialogOpen('appedit')"}
                    %a{ :href => "#"}Series Corrigenda
              %li#5000010{ :itemType => "separator"}
              %li#5000011{ :jsFunction => "helpDialogOpen('appBL')"}
                %a{ :href => "#"}Corrections in BL
              %li#5000012{ :itemType => "separator"}
              %li#5000013{ :jsFunction => "helpDialogOpen('appalt')"}
                %a{ :href => "#"}Alternate readings
              %li#5000014{ :itemType => "separator"}
              %li#5000015
                %a{ :href => "#"}Deletion
                %ul{ :width => "200"}
                  %li#50000151{ :jsFunction => "insertDeletionMain('slashes')"}
                    %a{ :href => "#"}Deletion with Slashes
                  %li#50000152{ :jsFunction => "insertDeletionMain('cross-strokes')"}
                    %a{ :href => "#"}Deletion with Cross-Strokes
                  %li#50000153{ :jsFunction => "insertDeletionMain('erasure')"}
                    %a{ :href => "#"}Deletion with Erasure
              %li#5000016{ :itemType => "separator"}
              %li#5000017
                %a{ :href => "#"}Milestone
                %ul{ :width => "125"}
                  %li#50000171{ :jsFunction => "insertMilestoneMain('paragraphos')"}
                    %a{ :href => "#"}Paragraphos
                  %li#50000172{ :jsFunction => "insertMilestoneMain('horizontal-rule')"}
                    %a{ :href => "#"}Horizontal Rule
                  %li#50000173{ :jsFunction => "insertMilestoneMain('box')"}
                    %a{ :href => "#"}Box
              %li#5000018{ :itemType => "separator"}
              %li#5000019
                %a{ :href => "#"}Division
                %ul{ :width => "100"}
                  %li#50000191{ :jsFunction => "insertDivisionMain('recto')"}
                    %a{ :href => "#"}Recto
                  %li#50000192{ :jsFunction => "insertDivisionMain('verso')"}
                    %a{ :href => "#"}Verso
                  %li#50000193{ :jsFunction => "insertDivisionMain('fragment')"}
                    %a{ :href => "#"}Fragment
                  %li#50000194{ :jsFunction => "insertDivisionMain('column')"}
                    %a{ :href => "#"}Column
                  %li#50000195{ :jsFunction => "helpDialogOpen('division')"}
                    %a{ :href => "#"}Other
          %li#50001{ :itemType => "separator"}
          %li#50002{ :jsFunction => "insertUnderdot()"}
            %a{ :href => "#"}UnderDot
          %li#50003{ :itemType => "separator"}
          %li#50004{ :jsFunction => "helpDialogOpen('tryit')"}
            %a{ :href => "#"}Try It
          %li#50005{ :itemType => "separator"}
        %p
          %div#menuDiv
          %br
          = f.label "Leiden+"
          %br
          = f.text_area :leiden_plus, :disabled => !@identifier.mutable?, :lang => 'grc', 'xml:lang' => 'grc', :cols => 80, :rows => 40, :wrap => 'off', :class => 'greek'
        = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier }
