#main
  = render :partial => 'edit_bar'
  .site
    %h1
      Editing Publication
      = @publication.title
    %h3
      Identifier
      = @identifier.name
    #edit
      - form_for @identifier, :url => { :action => :update } do |f|
        = f.error_messages

        %p
          = f.label "Leiden+"
          %br
          = text_area :xml_content, :to_s, :lang => 'grc', 'xml:lang' => 'grc', :cols => 80, :rows => 40, :wrap => 'off', :class => 'greek'
        = render :partial => 'edit_commit', :locals => { :f => f }
