= javascript_include_tag 'confirm'
= javascript_include_tag 'treebank-cite'

= render :partial => 'identifiers/header_perseids'
= render :partial => 'identifiers/edit_bar_perseids'
.sosolcard
  %div{:class => "hints"}
    %i{:class => 'fa fa-info-circle'}
    Select a sentence to Preview in Alpheios
  = @list.html_safe
