

<div class="decree">

<p>
  <b>Action:</b>
  <%=h decree.action %>
</p>

<p>
  <b>Trigger:</b>
  <%=h decree.trigger %>
  <%=h decree.tally_method %>
</p>

<p>
  <b>Choices:</b>
  <%=h decree.choices %>
</p>

<% if !defined?(hide_edit_link) %>
<%= link_to 'Edit', edit_decree_path(decree) %> 
<% end %>

</div>
