<h1>New decree for <%= @board.title %> board</h1>

<% form_for(@decree) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :action %><br />
 
 		<% possible_actions = {"Approve" => "approve", "Reject" => "reject", "Graffiti" => "graffiti" } %>
  	<%= f.select :action, possible_actions %>
  	<br />The resulting action of the decree when the trigger is met.
  	<br /><br />
   </p>   
  
  <p>
    <%= f.label :trigger %><br />
    <%= f.text_field :trigger %> <br />
    The number of votes that will trigger the action.
    This may be the percentage of the board members in decimal form (i.e. 50% is .50), or this may be the absolute number of votes (ie 1 will trigger the action if any one member votes))
    <br /><br />
  </p>
  <p>
    <%= f.label :choices %><br />
    <%= f.text_field :choices %><br />
    The choices that constitue a vote for this decree. Separate by spaces (i.e. yes no defer).
    <br /><br />
  </p>
  <p>    
    <%= f.hidden_field :board_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', decrees_path %>
