<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.stoa.org/epidoc/schema/8.16/tei-epidoc.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title><%= title %></title>
      </titleStmt>
      <publicationStmt>
        <authority>Duke Collaboratory for Classics Computing (DC3)</authority>
        <idno type="filename"><%= id %></idno>
        <idno type="ddb-hybrid"><%= n %></idno>
        <%- related_metas = self.publication.identifiers.select{|i| i.class == HGVMetaIdentifier}.collect{|j| j.to_components.last} -%>
        <%- related_metas.each do |hgv| -%>
        <idno type="HGV"><%= hgv %></idno>
        <%- end -%>
        <%- tm_nos = related_metas.collect{|hgv| hgv.sub(/\D/, '')}.uniq -%>
        <%- tm_nos.each do |tm| -%>
        <idno type="TM"><%= tm %></idno>
        <%- end -%>
        <availability>
          <p>© Duke Databank of Documentary Papyri. This work is licensed under a
          <ref type="license" target="http://creativecommons.org/licenses/by/3.0/">Creative 
          Commons Attribution 3.0 License</ref>.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p/>
      </sourceDesc>
    </fileDesc>
    <profileDesc>
      <langUsage>
        <language ident="en">English</language>
        <language ident="grc">Greek</language>
      </langUsage>
    </profileDesc>
    <revisionDesc>
      <change when="<%= Time.now.xmlschema %>" who="http://papyri.info/editor">Automated creation from template</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <head xml:lang="en"/>
      <div xml:lang="grc" type="edition" xml:space="preserve">
<ab>
<lb n="1"/>
</ab>
      </div>
    </body>
  </text>
</TEI>
