<?xml version="1.0" encoding="UTF-8"?>
<?oxygen RNGSchema="http://www.stoa.org/epidoc/schema/latest/tei-epidoc.rng" type="xml" ?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title><%= title %></title>
      </titleStmt>
      <publicationStmt>
        <idno type="filename"><%= id %></idno>
        <idno type="TM">TM Nr</idno>
        <idno type="HGV"><%= id %></idno>
        <idno type="ddb-perseus-style">DDbDP Perseus-style</idno>
        <idno type="ddb-filename">DDbDP filename-style</idno>
        <idno type="ddb-hybrid"><%= n %></idno>
        <idno type="futurePrintRelease">optional</idno>
      </publicationStmt>
      <sourceDesc>
        <msDesc>
          <msIdentifier>
            <idno type="invNo">optional</idno>
          </msIdentifier>
          <physDesc>
            <objectDesc>
              <supportDesc>
                <support>
                  <material>Papyrus</material>
                </support>
              </supportDesc>
            </objectDesc>
          </physDesc>
          <history>
            <origin>
              <p><placeName type="ancientFindspot">Ancient Findspot</placeName> (<geogName type="nome">Nome</geogName>), <geogName type="ancientRegion" key="Aegyptus">Region</geogName><geogName type="modernFindspot">optional</geogName></p>
              <origDate type="textDate" notAfter="0001" notBefore="0001" when="0001">change</origDate>
            </origin>
          </history>
        </msDesc>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <p>This file encoded to comply with EpiDoc Guidelines and Schema version 8</p>
    </encodingDesc>
    <profileDesc>
      <langUsage>
        <language ident="fr">Französisch</language>
        <language ident="en">Englisch</language>
        <language ident="de">Deutsch</language>
        <language ident="it">Italienisch</language>
        <language ident="es">Spanisch</language>
        <language ident="la">Latein</language>
        <language ident="el">Griechisch</language>
      </langUsage>
      <textClass>
        <keywords scheme="hgv">
          <term>Content text</term>
          <term>Content text</term>
          <term>Content text</term>
        </keywords>
      </textClass>
    </profileDesc>
    <revisionDesc>
      <change when="<%= Time.now.xmlschema %>" who="SoSOL">
        Automated creation from template
      </change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <div type="commentary" subtype="general">
        <p>commentary</p>
      </div>
      <div type="commentary" subtype="mentionedDates">
        <head>Erwähnte Daten</head>        
        <p>mentioned dates</p>
      </div>
      <div type="bibliography" subtype="principalEdition">
        <listBibl>
          <bibl type="publication" subtype="principal">
            <title level="s" type="abbreviated">SoSOL</title>
            <biblScope type="volume">1</biblScope>
            <biblScope type="numbers">2</biblScope>
          </bibl>
        </listBibl>
        <bibl type="BL">BL reference</bibl>
      </div>
      <div type="bibliography" subtype="corrections">
        <p>change</p>
      </div>
      <div type="bibliography" subtype="otherPublications">
        <head>Andere Publikation</head>
        <bibl type="publication" subtype="other">change</bibl>
      </div>
      <div type="bibliography" subtype="illustrations">
        <p>change</p>
      </div>
      <div type="bibliography" subtype="translations">
        <head>Übersetzungen</head>
        <listBibl xml:lang="de">
          <head xml:lang="de">Englisch:</head>
          <bibl type="translations">repeat listBibl, head, bibl tags for other tranlations</bibl>
        </listBibl>
      </div>
    </body>
  </text>
</TEI>
