#main

  = javascript_include_tag 'translation'
    
  = render :partial => 'identifiers/edit_bar'
  .site
    = render :partial => 'identifiers/header'
    = stylesheet_link_tag 'hgv_translation'
    #edit    
      - form_for @identifier, :url => { :action => :update } do |f| 
        = f.error_messages 


        #info_div
        #inserting_chooser
          %span{ :class => 'chooser_tab', :id => 'glossary', :onclick => 'setActiveTab(this.id)' }Term 
          %span{ :class => 'chooser_tab', :id => 'app', :onclick => 'setActiveTab(this.id)' } App
          %span{ :class => 'chooser_tab', :id => 'milestone', :onclick => 'setActiveTab(this.id)' } Line
          %span{ :class => 'chooser_tab', :id => 'language', :onclick => 'setActiveTab(this.id)' } Language
          %span{ :class => 'chooser_tab', :id => 'missing', :onclick => 'setActiveTab(this.id)' } Missing
          
          #glossary_div{:class => "chooser"}
            =@glossary
          #milestone_div{:class => "chooser"}
            %button{ :type => "button", :onclick=>"insertMilestone('line', 0, 'break')" }Insert Milestone Hard LB
            %button{ :type => "button", :onclick=>"insertMilestone('line', 0)" }Insert Milestone LB
            %button{ :type => "button", :onclick=>"insertEmptyTag('lb')" }Insert LB
          #app_div{:class => "chooser"}
            App Type
            %textarea{ :id => 'app_type' }
            Lem
            %textarea{ :id => 'app_lem' }
            bibl
            %textarea{ :id => 'app_bibl' }
            %button{ :type => "button", :onclick=>"insertApp()" }Insert
          #language_div{:class => "chooser"}
            %button{ :type => "button", :class => "new_language_button", :onclick=>"insertNewLanguage('en', 'English')" }English
            %button{ :type => "button", :class => "new_language_button", :onclick=>"insertNewLanguage('de', 'German')" }German
            %button{ :type => "button", :class => "new_language_button", :onclick=>"insertNewLanguage('fr', 'French')" }French
            %button{ :type => "button", :class => "new_language_button", :onclick=>"insertNewLanguage('sp', 'Spanish')" }Spanish
            %button{ :type => "button", :class => "new_language_button", :onclick=>"insertNewLanguage('la', 'Latin')" }Latin
            %button{ :type => "button", :class => "new_language_button", :onclick=>"insertNewLanguage('grc', 'Greek')" }Greek          
          #missing_div{:class => "chooser"}
            %input{ :checked => "", :type => "radio", :class => "missing_radio", :id => "missing_reason_lost", :name => "missing_reason", :value => "lost" }Lost
            %input{ :type => "radio", :class => "missing_radio", :id => "missing_reason_illegible", :name => "missing_reason", :value => "illegible" }Illegible
            <br />
            %input{ :checked => "", :type => "radio", :class => "missing_radio", :id => "missing_unit_character", :name => "missing_unit", :value => "character" }Character
            %input{ :type => "radio", :class => "missing_radio", :id => "missing_unit_line", :name => "missing_unit", :value => "line" }Line
            <br />
            Count
            %input{ :type => "text", :id => "missing_count" }
            %button{ :type => "button", :class => "insert_missing_button", :onclick=>"insertMissing()" }Insert    
            
        #trans_and_xml
          #editing_trans_preview	
          #editing_trans_xml_div          
            %textarea{:id => 'editing_trans_xml', :onkeyup => 'transform_xml_to_preview("editing_trans_xml", "editing_trans_preview", "' + "editable_preview_xsl" + '")' }=@identifier.content           
          %textarea{ :id => 'editable_preview_xsl'}=@editable_preview_xsl
          %textarea{ :id => 'glossary_xml'}=@glossary_xml
        
	

     
