#main
    
  =# render :partial => 'identifiers/edit_bar'
  .site
    = render :partial => 'identifiers/header'
    -#= stylesheet_link_tag 'hgv_translation'
    #edit  
    
      #editing_trans_text_view
        = @identifier.non_database_attribute[:text_html_preview].html_safe
      = render :partial => 'translation_leiden_helpers', :locals => { :identifier => @identifier}
      = form_for @identifier, :url => { :action => :update } do |f| 
        = f.error_messages 

        %br
        = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :bad_leiden => @bad_leiden, :original_commit_comment => @original_commit_comment, :where_at => :top }
        = f.label "Leiden Trans"
        = clippy "hgv_trans_identifier_leiden_trans"
        %br
        = f.text_area :leiden_trans, :disabled => !@identifier.mutable?, :lang => 'grc', 'xml:lang' => 'grc', :wrap => 'off', :class => 'greek  observechange'
        = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :bad_leiden => @bad_leiden, :original_commit_comment => @original_commit_comment, :where_at => :bottom }
  
        

        
= javascript_include_tag 'confirm'

