#main

  = javascript_include_tag 'translation'
    
  = render :partial => 'identifiers/edit_bar'
  .site
    = render :partial => 'identifiers/header'
    = stylesheet_link_tag 'hgv_translation'
    #edit  
    
      #editing_trans_text_view
        = @identifier[:text_html_preview]    
      
      - form_for @identifier, :url => { :action => :update } do |f| 
        = f.error_messages 

        %br
        = f.label "Leiden Trans"
   
        %br
        = f.text_area :leiden_trans, :disabled => !@identifier.mutable?, :lang => 'grc', 'xml:lang' => 'grc', :wrap => 'off', :class => 'greek', :onkeyup => 'set_conf_true()'
        = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :bad_leiden => @bad_leiden, :original_commit_comment => @original_commit_comment }
  
        

        
= javascript_include_tag 'confirm'

