#main
  = javascript_include_tag 'overlib/overlib'
  =# render :partial => 'identifiers/edit_bar'

  .site
    = render :partial => 'identifiers/header'
    #edit
      = form_for @identifier, :url => { :action => :update }  do |f|
        = f.error_messages
        
        %label Preview
        .PContent
          = @identifier_html_preview.html_safe


