.multi#multi_citedLiterature
  %ul.items#multiItems_citedLiterature
    - @identifier.non_database_attribute[:citedLiterature].each_index do |index|
    - target = @identifier.non_database_attribute[:citedLiterature][index][:children] && @identifier.non_database_attribute[:citedLiterature][index][:children][:pointer] && @identifier.non_database_attribute[:citedLiterature][index][:children][:pointer][:attributes] && @identifier.non_database_attribute[:citedLiterature][index][:children][:pointer][:attributes][:target] ? @identifier.non_database_attribute[:citedLiterature][index][:children][:pointer][:attributes][:target] : ''
    - pagination = @identifier.non_database_attribute[:citedLiterature][index][:children] && @identifier.non_database_attribute[:citedLiterature][index][:children][:pagination] && @identifier.non_database_attribute[:citedLiterature][index][:children][:pagination][:value] ? @identifier.non_database_attribute[:citedLiterature][index][:children][:pagination][:value] : ''
      %li
        = text_field_tag 'hgv_meta_identifier[citedLiterature][' + index.to_s + '][children][pointer][attributes][target]', target, :disabled => !@identifier.mutable?, :class => 'observechange target'
        = text_field_tag 'hgv_meta_identifier[citedLiterature][' + index.to_s + '][children][pagination][value]', pagination, :disabled => !@identifier.mutable?, :class => 'observechange pagination'
        %span.delete{:onclick => 'multiRemove(this.parentNode)', :title => I18n.t('meta.tooltip.multiDelete')} x
        %span.move{:title => I18n.t('meta.tooltip.multiMove')} o
  %p.add#multiPlus_citedLiterature
    %label= I18n.t('meta.label.citedLiteratureTarget')
    %input#citedLiterature_target

    %label= I18n.t('meta.label.citedLiteraturePagingation')
    %input#citedLiterature_pagination.observechange
    %span{:onclick => "multiAddCitedLiterature()", :title => I18n.t('meta.tooltip.multiAdd')}=I18n.t('label.multiAdd')

  = javascript_tag "Sortable.create('multiItems_citedLiterature', {overlap: 'horizontal', constraint: false, handle: 'move'});"
