.multi#multi_bl
  %ul.items#multiItems_bl
    - @identifier.non_database_attribute[:bl].each_index do |index|
    - volume = @identifier.non_database_attribute[:bl][index][:children] && @identifier.non_database_attribute[:bl][index][:children][:volume] && @identifier.non_database_attribute[:bl][index][:children][:volume][:value] ? @identifier.non_database_attribute[:bl][index][:children][:volume][:value] : ''
    - page = @identifier.non_database_attribute[:bl][index][:children] && @identifier.non_database_attribute[:bl][index][:children][:page] && @identifier.non_database_attribute[:bl][index][:children][:page][:value] ? @identifier.non_database_attribute[:bl][index][:children][:page][:value] : ''
      %li
        = text_field_tag 'hgv_meta_identifier[bl][' + index.to_s + '][children][volume][value]', volume, :disabled => !@identifier.mutable?, :class => 'observechange volume'
        = text_field_tag 'hgv_meta_identifier[bl][' + index.to_s + '][children][page][value]', page, :disabled => !@identifier.mutable?, :class => 'observechange page'
        %span.delete{:onclick => 'multiRemove(this.parentNode)', :title => I18n.t('tooltip.multiDelete')} x
        %span.move{:title => I18n.t('tooltip.multiMove')} o
  %p.add#multiPlus_bl
    %label= I18n.t('meta.label.blVolume')
      
    = select_tag '', options_for_select(['', 'I', 'II 1', 'II 2', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X', 'XI', 'XII']), :id => 'bl_volume', :class => 'observechange'
      
    %label= I18n.t('meta.label.blPage')
    %input#bl_page.observechange
    %span{:onclick => "multiAddBl()", :title => I18n.t('tooltip.multiAdd')}=I18n.t('label.multiAdd')

  = javascript_tag "Sortable.create('multiItems_bl', {overlap: 'horizontal', constraint: false, handle: 'move'});"
