- extras = HGVPublication.getExtras @identifier.non_database_attribute[:publicationExtra]
.multi#multi_publicationExtra
  %ul.items#multiItems_publicationExtra
    - extras.each_index do |index|
      %li
        = text_field_tag 'hgv_meta_identifier[publicationExtra][' + (index + 4).to_s + '][value]', extras[index][:value], :disabled => !@identifier.mutable?, :class => 'observechange publicationExtra'
        = hidden_field_tag 'hgv_meta_identifier[publicationExtra][' + (index + 4).to_s + '][attributes][type]', extras[index][:type], :disabled => !@identifier.mutable?, :class => 'observechange publicationExtra'
        %span.delete{:onclick => 'multiRemove(this.parentNode)', :title => I18n.t('tooltip.multiDelete')} x
        %span.move{:title => I18n.t('tooltip.multiMove')} o
  %p.add#multiPlus_publicationExtra
    %label= I18n.t('meta.label.publicationExtraType')

    = select_tag 'publicationExtra_type', options_for_select(HGVPublication.getTypeOptions), :class => 'observechange'

    %label= I18n.t('meta.label.publicationExtraValue')
    %input#publicationExtra_value.observechange
    %span{:onclick => "multiAddPublicationExtra()", :title => I18n.t('tooltip.multiAdd')}=I18n.t('label.multiAdd')

  = javascript_tag "Sortable.create(document.getElementById('multiItems_publicationExtra'), {direction: 'horizontal', handle: '.move'});"
