= stylesheet_link_tag 'meta'

#main
  = render :partial => 'identifiers/edit_bar'
  .site.metaSite
    = render :partial => 'identifiers/header'
    .expandAll#expandAll=I18n.t('meta.label.expandAll')

    #edit
      - form_for @identifier, :url => { :action => :update }, :html => { :autocomplete => :off } do |f| 
        = f.error_messages

        %h4.category=I18n.t('meta.legend.date')
        .editbox
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.date' }
          %br
          = render :partial => 'hgv_meta_identifiers/date'
          %div{:style => 'float: none; clear: both; display: block;'}
          %div.quickSave=I18n.t('meta.label.quickSave')
          
        %h4.category=I18n.t('meta.legend.mentionedDate')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/mentioned_date'
          %div{:style => 'float: none; clear: both; display: block;'}
          %div.quickSave=I18n.t('meta.label.quickSave')

        %h4.category=I18n.t('meta.legend.general')
        .editbox
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :titleStmt }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :titleStmt }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :material }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :material }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :contentText }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :contentText }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :notes }
          = text_area_tag 'hgv_meta_identifier[' + :notes.to_s + ']', @identifier[:notes], :disabled => !@identifier.mutable?, :class => 'observechange'

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :plannedForFuturePrintRelease }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :plannedForFuturePrintRelease }
          %div{:style => 'float: none; clear: both; display: block;'}
          %div.quickSave=I18n.t('meta.label.quickSave')

        %h4.category=I18n.t('meta.legend.publication')
        .editbox
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationTitle }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :publicationTitle }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationTitle' }
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :tmNo }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :tmNo }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.tmNo' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationVolume }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :publicationVolume }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationVolume' }
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationFascicle }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :publicationFascicle }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationFascicle' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationNumbers }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :publicationNumbers }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationNumbers' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationParts }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :publicationParts }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationParts' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationSide }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :publicationSide }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationSide' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationLine }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :publicationLine }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationLine' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationPages }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :publicationPages }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationPages' }
          %div{:style => 'float: none; clear: both; display: block;'}
          %div.quickSave=I18n.t('meta.label.quickSave')

        %h4.category=I18n.t('meta.legend.collection')
        .editbox
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collectionPlaceName }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collectionPlaceName }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collectionPlaceName' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collection }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collection }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collection' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collectionInventoryNumber }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collectionInventoryNumber }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collectionInventoryNumber' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collectionTemporaryNotes }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collectionTemporaryNotes }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collectionTemporaryNotes' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collectionTemporaryInventoryNumber }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collectionTemporaryInventoryNumber }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collectionTemporaryInventoryNumber' }
          %div{:style => 'float: none; clear: both; display: block;'}
          %div.quickSave=I18n.t('meta.label.quickSave')

        %h4.category=I18n.t('meta.legend.provenance')
        .editbox
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :provenanceAncientFindspot }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :provenanceAncientFindspot }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :provenanceModernFindspot }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :provenanceModernFindspot }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :provenanceNome }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :provenanceNome }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :provenanceAncientRegion }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :provenanceAncientRegion }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :provenanceUnknown }
          = render :partial => 'hgv_meta_identifiers/check_box', :locals => { :key => :provenanceUnknown, :value => 'unbekannt' }
          %div{:style => 'float: none; clear: both; display: block;'}
          %div.quickSave=I18n.t('meta.label.quickSave')

        %h4.category=I18n.t('meta.legend.reference')
        .editbox
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :figures}
          = render :partial => 'hgv_meta_identifiers/figures'
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :illustrations }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :illustrations }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :otherPublications }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :otherPublications }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :bl }
          = render :partial => 'hgv_meta_identifiers/bl'
          %div{:style => 'float: none; clear: both; display: block;'}
          %div.quickSave=I18n.t('meta.label.quickSave')

        %h4.category=I18n.t('meta.legend.translation')
        .editbox
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsDe }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsDe }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsEn }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsEn }
         
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsEs }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsEs }
         
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsFr }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsFr }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsIt }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsIt }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsLa }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsLa }
          %div{:style => 'float: none; clear: both; display: block;'}      
          %div.quickSave=I18n.t('meta.label.quickSave')    

        = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :where_at => :bottom }

= javascript_include_tag 'meta'
= javascript_include_tag 'confirm'
