= stylesheet_link_tag 'meta' 
#main
  .site.metaSite
    = render :partial => 'identifiers/header'
    %span.swifty.expandAll#expandAll=I18n.t('label.expandAll')
    %span.swifty.collapseAll#collapseAll=I18n.t('label.collapseAll')

    #edit
      = form_for @identifier, :url => { :action => :update }, :html => { :autocomplete => :off } do |f| 
        = f.error_messages

        %h4.category.date
          %a{:name => 'Date'}=I18n.t('meta.legend.date')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/date'
          .clear
          %span.swifty.quickSave=I18n.t('label.quickSave')
          %span.swifty.datePreview{:onclick => "new Ajax.Request('#{url_for(:controller => 'hgv_meta_identifiers', :action => 'get_date_preview', :only_path => true)}?' + $$('form.edit_hgv_meta_identifier')[0].serialize(), {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;"}=I18n.t('meta.label.datePreview')

        %h4.category.mentionedDate
          %a{:name => 'mentionedDate'}=I18n.t('meta.legend.mentionedDate')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/mentioned_date'
          .clear
          %span.swifty.quickSave=I18n.t('label.quickSave')

        %h4.category.general
          %a{:name => 'General<'}=I18n.t('meta.legend.general')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :titleStmt }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :titleStmt }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :material }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :material }
          .clear

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :contentText }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :contentText }
          .clear

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :notes }
          = text_area_tag 'hgv_meta_identifier[' + :notes.to_s + ']', @identifier.non_database_attribute[:notes], :disabled => !@identifier.mutable?, :class => 'observechange'
          .clear

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :plannedForFuturePrintRelease }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :plannedForFuturePrintRelease }
          .clear
          .swifty.quickSave=I18n.t('label.quickSave')

        %h4.category.publication
          %a{:name => 'Publication'}=I18n.t('meta.legend.publication')
        .editbox{:style => 'display: none;'}
          %p#publicationExtraFullTitle &nbsp;
          %span.swifty.publicationPreview{:onclick => "publicationPreview()"}=I18n.t('meta.label.publicationPreview')

          %hr
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationTitle }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :publicationTitle }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationTitle' }
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :tmNo }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :tmNo }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.tmNo' }
          .clear

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationVolume }
          = text_field_tag 'hgv_meta_identifier[publicationExtra][0][value]', HgvPublication.getVolume(@identifier.non_database_attribute[:publicationExtra]) , :disabled => !@identifier.mutable?, :class => 'observechange'
          = hidden_field_tag 'hgv_meta_identifier[publicationExtra][0][attributes][type]', :volume
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationVolume' }
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationFascicle }
          = text_field_tag 'hgv_meta_identifier[publicationExtra][1][value]', HgvPublication.getFascicle(@identifier.non_database_attribute[:publicationExtra]) , :disabled => !@identifier.mutable?, :class => 'observechange'
          = hidden_field_tag 'hgv_meta_identifier[publicationExtra][1][attributes][type]', :fascicle
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationFascicle' }
          .clear

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationNumbers }
          = text_field_tag 'hgv_meta_identifier[publicationExtra][2][value]', HgvPublication.getNumbers(@identifier.non_database_attribute[:publicationExtra]) , :disabled => !@identifier.mutable?, :class => 'observechange'
          = hidden_field_tag 'hgv_meta_identifier[publicationExtra][2][attributes][type]', :numbers
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationNumbers' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationSide }
          = text_field_tag 'hgv_meta_identifier[publicationExtra][3][value]', HgvPublication.getSide(@identifier.non_database_attribute[:publicationExtra]) , :disabled => !@identifier.mutable?, :class => 'observechange'
          = hidden_field_tag 'hgv_meta_identifier[publicationExtra][3][attributes][type]', :side
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationSide' }
          .clear
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationExtra }
          = render :partial => 'hgv_meta_identifiers/publicationExtra'

          .clear
          .swifty.quickSave=I18n.t('label.quickSave')

        %h4.category.collection
          %a{:name => 'Collection'}=I18n.t('meta.legend.collection')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collectionPlaceName }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collectionPlaceName }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collectionPlaceName' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collection }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collection }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collection' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collectionInventoryNumber }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collectionInventoryNumber }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collectionInventoryNumber' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collectionTemporaryNotes }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collectionTemporaryNotes }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collectionTemporaryNotes' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collectionTemporaryInventoryNumber }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collectionTemporaryInventoryNumber }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collectionTemporaryInventoryNumber' }
          .clear
          .swifty.quickSave=I18n.t('label.quickSave')

        %h4.category.provenance
          %a{:name => 'Provenance'}=I18n.t('meta.legend.provenance')
        .editbox{:style => 'display: none;'}
          %p#geoPreview
            = @identifier.non_database_attribute[:origPlace]
          %span.swifty.geoPreview{:onclick => "new Ajax.Request('#{url_for(:controller => 'hgv_meta_identifiers', :action => 'get_geo_preview', :only_path => true)}?' + $$('form.edit_hgv_meta_identifier')[0].serialize(), {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;"}=I18n.t('meta.label.geoPreview')

          %hr
          = render :partial => 'hgv_meta_identifiers/provenance'

          .clear
          %span.swifty.quickSave=I18n.t('label.quickSave')
          %span.swifty.addProvenance=I18n.t('meta.label.addProvenance')
          %span.swifty.showReferenceList#toggleReferenceList=I18n.t('meta.label.showReferenceList')

        %h4.category.reference
          %a{:name => 'Reference'}=I18n.t('meta.legend.reference')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :sammelbuchBibliography }
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :sammelbuchBibliographyTarget }
          = text_field_tag 'hgv_meta_identifier[sammelbuchBibliography][children][pointer][attributes][target]', @identifier.non_database_attribute[:sammelbuchBibliography] && @identifier.non_database_attribute[:sammelbuchBibliography][:children] && @identifier.non_database_attribute[:sammelbuchBibliography][:children][:pointer] && @identifier.non_database_attribute[:sammelbuchBibliography][:children][:pointer][:attributes] && @identifier.non_database_attribute[:sammelbuchBibliography][:children][:pointer][:attributes][:target] ? @identifier.non_database_attribute[:sammelbuchBibliography][:children][:pointer][:attributes][:target] : '', :disabled => !@identifier.mutable?, :class => 'observechange sammelbuchBibliographyTarget'
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :sammelbuchBibliographyPagination }
          = text_field_tag 'hgv_meta_identifier[sammelbuchBibliography][children][pagination][value]', @identifier.non_database_attribute[:sammelbuchBibliography] && @identifier.non_database_attribute[:sammelbuchBibliography][:children] && @identifier.non_database_attribute[:sammelbuchBibliography][:children][:pagination] && @identifier.non_database_attribute[:sammelbuchBibliography][:children][:pagination][:value] ? @identifier.non_database_attribute[:sammelbuchBibliography][:children][:pagination][:value] : '', :disabled => !@identifier.mutable?, :class => 'observechange sammelbuchBibliographyPagination'
          
          .clear
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :citedLiterature}
          = render :partial => 'hgv_meta_identifiers/biblio', :locals => { :key => :citedLiterature}
          
          .clear
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :figures}
          = render :partial => 'hgv_meta_identifiers/figures'
          
          .clear
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :illustrations }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :illustrations }
          
          .clear

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :otherPublications }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :otherPublications }
          
          .clear

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :bl }
          = render :partial => 'hgv_meta_identifiers/bl'
          .clear
          .swifty.quickSave=I18n.t('label.quickSave')

        %h4.category.translation
          %a{:name => 'Translation'}=I18n.t('meta.legend.translation')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsDe }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsDe }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsEn }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsEn }
         
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsEs }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsEs }
         
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsFr }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsFr }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsIt }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsIt }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsLa }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsLa }
          .clear      
          .swifty.quickSave=I18n.t('label.quickSave')    

        .controlPanel
          = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :where_at => :bottom }
          = hidden_field_tag 'expansionSet', flash[:expansionSet]

= javascript_include_tag 'edit_mask'
= javascript_include_tag 'meta'
= javascript_include_tag 'confirm'
