#main
  = render :partial => 'identifiers/edit_bar'
  .site.metaSite
    = render :partial => 'identifiers/header'
    %span.expandAll#expandAll=I18n.t('meta.label.expandAll')
    %span.collapseAll#collapseAll=I18n.t('meta.label.collapseAll')

    #edit
      - form_for @identifier, :url => { :action => :update }, :html => { :autocomplete => :off } do |f| 
        = f.error_messages

        %h4.category.date
          %a{:name => 'Date'}=I18n.t('meta.legend.date')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/date'
          %div{:style => 'float: none; clear: both; display: block;'}
          %span.quickSave=I18n.t('meta.label.quickSave')
          %span.datePreview{:onclick => "new Ajax.Request('/hgv_meta_identifiers/get_date_preview?' + $$('form.edit_hgv_meta_identifier')[0].serialize(), {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;"}=I18n.t('meta.label.datePreview')

        %h4.category.mentionedDate
          %a{:name => 'mentionedDate'}=I18n.t('meta.legend.mentionedDate')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/mentioned_date'
          %div{:style => 'float: none; clear: both; display: block;'}
          %div.quickSave=I18n.t('meta.label.quickSave')

        %h4.category.general
          %a{:name => 'General<'}=I18n.t('meta.legend.general')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :titleStmt }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :titleStmt }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :material }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :material }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :contentText }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :contentText }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :notes }
          = text_area_tag 'hgv_meta_identifier[' + :notes.to_s + ']', @identifier[:notes], :disabled => !@identifier.mutable?, :class => 'observechange'

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :plannedForFuturePrintRelease }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :plannedForFuturePrintRelease }
          %div{:style => 'float: none; clear: both; display: block;'}
          .quickSave=I18n.t('meta.label.quickSave')

        %h4.category.publication
          %a{:name => 'Publication'}=I18n.t('meta.legend.publication')
        .editbox{:style => 'display: none;'}
          =# debug @identifier[:publicationExtra]
          %label#publicationExtraFullTitle &nbsp;

          %hr
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationTitle }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :publicationTitle }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationTitle' }
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :tmNo }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :tmNo }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.tmNo' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationVolume }
          = text_field_tag 'hgv_meta_identifier[publicationExtra][0][value]', HgvPublication.getVolume(@identifier[:publicationExtra]) , :disabled => !@identifier.mutable?, :class => 'observechange'
          = hidden_field_tag 'hgv_meta_identifier[publicationExtra][0][attributes][type]', :volume
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationVolume' }
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationFascicle }
          = text_field_tag 'hgv_meta_identifier[publicationExtra][1][value]', HgvPublication.getFascicle(@identifier[:publicationExtra]) , :disabled => !@identifier.mutable?, :class => 'observechange'
          = hidden_field_tag 'hgv_meta_identifier[publicationExtra][1][attributes][type]', :fascicle
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationFascicle' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationNumbers }
          = text_field_tag 'hgv_meta_identifier[publicationExtra][2][value]', HgvPublication.getNumbers(@identifier[:publicationExtra]) , :disabled => !@identifier.mutable?, :class => 'observechange'
          = hidden_field_tag 'hgv_meta_identifier[publicationExtra][2][attributes][type]', :numbers
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationNumbers' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationSide }
          = text_field_tag 'hgv_meta_identifier[publicationExtra][3][value]', HgvPublication.getSide(@identifier[:publicationExtra]) , :disabled => !@identifier.mutable?, :class => 'observechange'
          = hidden_field_tag 'hgv_meta_identifier[publicationExtra][3][attributes][type]', :side
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationSide' }
          
          %div{:style => 'float: none; clear: both; display: block;'}
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationExtra }
          = render :partial => 'hgv_meta_identifiers/publicationExtra'

          =# render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationParts }
          =# render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :publicationParts }
          =# render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationParts' }

          =# render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationLine }
          =# render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :publicationLine }
          =# render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationLine' }

          =# render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :publicationPages }
          =# render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :publicationPages }
          =# render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.publicationPages' }
          %div{:style => 'float: none; clear: both; display: block;'}
          .quickSave=I18n.t('meta.label.quickSave')

        %h4.category.collection=I18n.t('meta.legend.collection')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collectionPlaceName }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collectionPlaceName }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collectionPlaceName' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collection }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collection }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collection' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collectionInventoryNumber }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collectionInventoryNumber }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collectionInventoryNumber' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collectionTemporaryNotes }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collectionTemporaryNotes }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collectionTemporaryNotes' }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :collectionTemporaryInventoryNumber }
          = render :partial => 'hgv_meta_identifiers/text_field', :locals => { :key => :collectionTemporaryInventoryNumber }
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.collectionTemporaryInventoryNumber' }
          %div{:style => 'float: none; clear: both; display: block;'}
          .quickSave=I18n.t('meta.label.quickSave')

        %h4.category.provenance
          %a{:name => 'Provenance'}=I18n.t('meta.legend.provenance')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/provenance'
          %div{:style => 'float: none; clear: both; display: block;'}
          .quickSave=I18n.t('meta.label.quickSave')

        %h4.category.reference
          %a{:name => 'Reference'}=I18n.t('meta.legend.reference')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :figures}
          = render :partial => 'hgv_meta_identifiers/figures'
          
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :illustrations }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :illustrations }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :otherPublications }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :otherPublications }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :bl }
          = render :partial => 'hgv_meta_identifiers/bl'
          %div{:style => 'float: none; clear: both; display: block;'}
          .quickSave=I18n.t('meta.label.quickSave')

        %h4.category.translation
          %a{:name => 'Translation'}=I18n.t('meta.legend.translation')
        .editbox{:style => 'display: none;'}
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsDe }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsDe }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsEn }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsEn }
         
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsEs }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsEs }
         
          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsFr }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsFr }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsIt }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsIt }

          = render :partial => 'hgv_meta_identifiers/label', :locals => { :key => :translationsLa }
          = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :translationsLa }
          %div{:style => 'float: none; clear: both; display: block;'}      
          .quickSave=I18n.t('meta.label.quickSave')    

        = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :where_at => :bottom }
        = hidden_field_tag 'expansionSet', flash[:expansionSet]

= javascript_include_tag 'meta'
= javascript_include_tag 'confirm'
