= stylesheet_link_tag 'meta_preview'

#main
  = render :partial => 'identifiers/edit_bar'
  .site.metaSite
    = render :partial => 'identifiers/header'

    #preview
      %table
        %tbody
          - if @identifier[:titleStmt]
            %tr
              %th=I18n.t('meta.label.titleStmt')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier[:titleStmt]
          - if @identifier[:publicationTitle]
            %tr
              %th=I18n.t('meta.label.publications')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Publication'
              %td
                = @identifier[:publicationTitle]
                = HgvPublication.getTitleTail @identifier[:publicationExtra]
                = @identifier[:tmNo] ? '(TM ' + @identifier[:tmNo] + ')' : ''
                - if !@identifier[:otherPublications].empty?
                  %ul
                    - @identifier[:otherPublications].each do |other|
                      %li=other
          - if @identifier[:collectionInventoryNumber]
            %tr
              %th=I18n.t('meta.label.collectionInventoryId')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Collection'
              %td
                = @identifier[:collectionPlaceName] ? @identifier[:collectionPlaceName] : ''
                = @identifier[:collection] ? @identifier[:collection] : ''
                = @identifier[:collectionInventoryNumber]
                = @identifier[:collectionTemporaryInventoryNumber] ? '(' + (@identifier[:collectionTemporaryNotes] ? @identifier[:collectionTemporaryNotes] + ' ' : '') + @identifier[:collectionTemporaryInventoryNumber] + ')' : ''
          - if !@identifier[:translationsDe].empty? || !@identifier[:translationsEn].empty? || !@identifier[:translationsIt].empty? || !@identifier[:translationsEs].empty? || !@identifier[:translationsLa].empty? || !@identifier[:translationsFr].empty?
            %tr
              %th=I18n.t('meta.legend.translation')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Translation'
              %td
                %ul
                  - [@identifier[:translationsDe], @identifier[:translationsEn], @identifier[:translationsIt], @identifier[:translationsEs], @identifier[:translationsLa], @identifier[:translationsFr]].each do |translation|
                    - if translation
                      - translation.each do |trans|
                        %li=trans
                
          - if !@identifier[:bl].empty?
            %tr
              %th=I18n.t('meta.label.bls')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Reference'
              %td
                %ul
                  -@identifier[:bl].each do |bl|
                    %li
                      = bl[:children][:volume][:value] ? bl[:children][:volume][:value] + ',' : ''
                      = bl[:children][:page][:value] ? 'S. ' + bl[:children][:page][:value] : ''
          - if @identifier[:provenance] && @identifier[:provenance].kind_of?(Array)
            %tr
              %th=I18n.t('meta.legend.provenance')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Provenance'
              %td
                = HgvProvenance.format @identifier[:provenance]
          - if @identifier[:material]
            %tr
              %th=I18n.t('meta.label.material')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier[:material]
          - if @identifier[:textDate]
            %tr
              %th=I18n.t('meta.legend.date')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Date'
              %td=@identifier[:textDate].collect{|item| item[:value] ? item[:value] : nil}.compact.join('<br />')
          - if @identifier[:notes]
            %tr
              %th=I18n.t('meta.label.commentary')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier[:notes]
          - if !@identifier[:illustrations].empty?
            %tr
              %th=I18n.t('meta.label.printIllustrations')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Reference'
              %td=@identifier[:illustrations].join('; ')
          - if !@identifier[:contentText].empty?
            %tr
              %th=I18n.t('meta.label.subjects')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier[:contentText].join('; ')
          - if !@identifier[:figures].empty?
            %tr
              %th=I18n.t('meta.label.images')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Reference'
              %td
                %ul
                  - @identifier[:figures].collect{|f| f= f[:children][:graphic][:attributes][:url]; '<a href="' + f + '" title="' + f + '">' + f[/^http:\/\/[^\/]+/] + '</a>'}.each do |figure|
                    %li=figure
          -# NOT IN PN
          - if !@identifier[:mentionedDate].empty?
            %tr
              %th=I18n.t('meta.legend.mentionedDate')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#MentionedDates'
              %td
                = @identifier[:mentionedDate].collect{|md| (md[:children][:ref] && md[:children][:ref][:value] ? md[:children][:ref][:value] + ' ' : '') + (md[:children][:note] && md[:children][:note][:value] ? md[:children][:note][:value] + ' ' : '') + (md[:children][:date][:value] ? md[:children][:date][:value] : '') }.reject{|md| md.empty? }.compact.join('; ')
          - if @identifier[:plannedForFuturePrintRelease]
            %tr
              %th=I18n.t('meta.label.plannedForFuturePrintRelease')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier[:plannedForFuturePrintRelease]
                  
                  






