= stylesheet_link_tag 'meta_preview'

#main
  .site.metaSite
    = render :partial => 'identifiers/header'

    #preview
      %table
        %tbody
          - if @identifier[:titleStmt]
            %tr
              %th=I18n.t('meta.label.titleStmt')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier[:titleStmt]
          - if @identifier[:publicationTitle]
            %tr
              %th=I18n.t('meta.label.publications')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Publication'
              %td
                = @identifier[:publicationTitle]
                = HgvPublication.getTitleTail @identifier[:publicationExtra]
                = @identifier[:tmNo] ? '(TM ' + @identifier[:tmNo] + ')' : ''
                - if !@identifier[:otherPublications].empty?
                  %ul
                    - @identifier[:otherPublications].each do |other|
                      %li=other
          - if @identifier[:collectionInventoryNumber]
            %tr
              %th=I18n.t('meta.label.collectionInventoryId')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Collection'
              %td
                = @identifier[:collectionPlaceName] ? @identifier[:collectionPlaceName] : ''
                = @identifier[:collection] ? @identifier[:collection] : ''
                = @identifier[:collectionInventoryNumber]
                = @identifier[:collectionTemporaryInventoryNumber] ? '(' + (@identifier[:collectionTemporaryNotes] ? @identifier[:collectionTemporaryNotes] + ' ' : '') + @identifier[:collectionTemporaryInventoryNumber] + ')' : ''
          - if (@identifier[:translationsDe] && !@identifier[:translationsDe].empty?) || (@identifier[:translationsEn] && !@identifier[:translationsEn].empty?) || (@identifier[:translationsIt] && !@identifier[:translationsIt].empty?) || (@identifier[:translationsEs] && !@identifier[:translationsEs].empty?) || (@identifier[:translationsLa] && !@identifier[:translationsLa].empty?) || (@identifier[:translationsFr] && !@identifier[:translationsFr].empty?)
            %tr
              %th=I18n.t('meta.legend.translation')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Translation'
              %td
                %ul
                  - [@identifier[:translationsDe], @identifier[:translationsEn], @identifier[:translationsIt], @identifier[:translationsEs], @identifier[:translationsLa], @identifier[:translationsFr]].each do |translation|
                    - if translation
                      - translation.each do |trans|
                        %li=trans
                
          - if @identifier[:bl] && !@identifier[:bl].empty?
            %tr
              %th=I18n.t('meta.label.bls')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Reference'
              %td
                %ul
                  -@identifier[:bl].each do |bl|
                    %li
                      = bl[:children][:volume][:value] ? bl[:children][:volume][:value] + ',' : ''
                      = bl[:children][:page][:value] ? 'S. ' + bl[:children][:page][:value] : ''
          - if @identifier[:provenance] && @identifier[:provenance].kind_of?(Array)
            %tr
              %th=I18n.t('meta.legend.provenance')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Provenance'
              %td
                = HgvProvenance.format @identifier[:provenance]
          - if @identifier[:material]
            %tr
              %th=I18n.t('meta.label.material')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier[:material]
          - if @identifier[:textDate]
            %tr
              %th=I18n.t('meta.legend.date')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Date'
              %td=@identifier[:textDate].collect{|item| item[:value] ? item[:value] : nil}.compact.join('<br />')
          - if @identifier[:notes]
            %tr
              %th=I18n.t('meta.label.commentary')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier[:notes]
          - if @identifier[:illustrations] && !@identifier[:illustrations].empty?
            %tr
              %th=I18n.t('meta.label.printIllustrations')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Reference'
              %td=@identifier[:illustrations].join('; ')
          - if !@identifier[:contentText].empty?
            %tr
              %th=I18n.t('meta.label.subjects')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td
                - simpleArray = Array.new(@identifier[:contentText].length){|index| @identifier[:contentText][index].kind_of?(Hash) && @identifier[:contentText][index][:value] ? @identifier[:contentText][index][:value] : @identifier[:contentText][index]}
                = simpleArray.join('; ')
          - if @identifier[:figures] && !@identifier[:figures].empty?
            %tr
              %th=I18n.t('meta.label.images')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Reference'
              %td
                %ul
                  - @identifier[:figures].collect{|f| f = f[:children] && f[:children][:graphic] && f[:children][:graphic][:attributes] && f[:children][:graphic][:attributes][:url] ? f[:children][:graphic][:attributes][:url] : nil; f ? ('<a href="' + f + '" title="' + f + '">' + (f[/^http:\/\/[^\/]+/] ? f[/^http:\/\/[^\/]+/] : f) + '</a>') : nil }.compact.each do |figure|
                    %li=figure
          -# NOT IN PN
          - if !@identifier[:mentionedDate].empty?
            %tr
              %th=I18n.t('meta.legend.mentionedDate')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#MentionedDates'
              %td
                = @identifier[:mentionedDate].collect{|md| (md[:children][:ref] && md[:children][:ref][:value] ? md[:children][:ref][:value] + ': ' : '') + (md[:children][:comment] && md[:children][:comment][:value] ? md[:children][:comment][:value] + ' ' : '') + (md[:children][:date] && md[:children][:date][:value] ? md[:children][:date][:value] : '') + (md[:children][:annotation] && md[:children][:annotation][:value] ? ' (' + md[:children][:annotation][:value] + ')' : '') }.reject{|md| md.empty? }.compact.join('; ')
          - if @identifier[:plannedForFuturePrintRelease]
            %tr
              %th=I18n.t('meta.label.plannedForFuturePrintRelease')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier[:plannedForFuturePrintRelease]
          -# DCLP
          - collections = DclpObject::Collection.new(@identifier[:collection], @identifier[:collectionList])
          - if collections.list
            %tr
              %th=I18n.t('dclp.label.collection')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier])
              %td
                %ul
                  - collections.list.each do |collectionItem|
                    %li
                      =collectionItem
          - if @identifier[:archiveName] || @identifier[:archiveLink]
            %tr
              %th=I18n.t('dclp.label.archive')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier])
              %td
                -if @identifier[:archiveLink]
                  %a
                    -if @identifier[:archiveName]
                      =@identifier[:archiveName]
                    -else
                      ???
                -else
                  =@identifier[:archiveName]
          - if @identifier[:layout]
            %tr
              %th=I18n.t('meta.label.layout')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier[:layout]
          - if @identifier[:scriptType]
            %tr
              %th=I18n.t('meta.label.scriptType')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier[:scriptType]
          - if @identifier[:printedIllustration]
            %tr
              %th=I18n.t('dclp.label.illustrationPrinted')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td
                - @identifier[:printedIllustration].each do |printedIllustrationItem|
                  = printedIllustrationItem
          - if @identifier[:onlineResource] && !@identifier[:onlineResource].empty?
            %tr
              %th=I18n.t('dclp.label.illustrationOnline')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier])
              %td
                %ul
                  - @identifier[:onlineResource].each do |onlineResource|
                    %li
                      %a{:href => onlineResource[:children][:link][:attributes][:target]}
                        = (onlineResource[:children][:link][:attributes][:target][/^http:\/\/[^\/]+/] ? onlineResource[:children][:link][:attributes][:target][/^http:\/\/[^\/]+/] : onlineResource[:children][:link][:attributes][:target])
          - if @identifier[:work] && !@identifier[:work].empty?
            %tr
              %th=I18n.t('dclp.legend.work')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier])
              %td
                %ul
                  - @identifier[:work].each do |work|
                    %li
                      - work = DclpWork::Work.new(work)
                      - if work.author
                        = work.author.name
                        - if work.author.language && !work.author.language.empty?
                          = '(' + I18n.t('language.' + work.author.language) + ')'
                      - if work.title
                        = work.title.name
                        - if work.title.language && !work.title.language.empty?
                          = '(' + I18n.t('language.' + work.title.language) + ')'
                        - if work.extraList
                          - work.extraList.each do |extra|
                            = extra.value
          - if @identifier[:edition] && !@identifier[:edition].empty?
            %tr
              %th=I18n.t('dclp.legend.edition')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier])
              %td
                %ul
                  - @identifier[:edition].each_with_index do |edition|
                    %li
                      - edition = DclpEdition::Edition.new(:edition => edition)
                      - if edition.biblioId
                        %a{:href => 'http://papyri.info/biblio/' + edition.biblioId}
                          = edition.biblioId
                      - if edition.title
                        = edition.title
                        = '(' + I18n.t('edition.ubertype.' + edition.ubertype) + ')'
                      - if edition.extraList
                        - edition.extraList.each do |extra|
                          = extra.value
