= stylesheet_link_tag 'meta_preview'

#main
  .site.metaSite
    = render :partial => 'identifiers/header'

    #preview
      %table
        %tbody
          - if @identifier.non_database_attribute[:titleStmt]
            %tr
              %th=I18n.t('meta.label.titleStmt')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier.non_database_attribute[:titleStmt]
          - if @identifier.non_database_attribute[:work] && !@identifier.non_database_attribute[:work].empty?
            %tr
              %th=I18n.t('dclp.legend.work')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier])
              %td
                %ul
                  - @identifier.non_database_attribute[:work].each do |work|
                    %li
                      - work = DCLPWork::Work.new(work)
                      - if work.author
                        = work.author.name
                        - if work.author.language && !work.author.language.empty?
                          = '(' + I18n.t('language.' + work.author.language) + ')'
                      - if work.title
                        = work.title.name
                        - if work.title.language && !work.title.language.empty?
                          = '(' + I18n.t('language.' + work.title.language) + ')'
                        - if work.extraList
                          - work.extraList.each do |extra|
                            = extra.value
          - if @identifier.non_database_attribute[:edition] && !@identifier.non_database_attribute[:edition].empty?
            %tr
              %th=I18n.t('dclp.legend.edition')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier])
              %td
                %ul
                  - @identifier.non_database_attribute[:edition].each do |edition|
                    %li
                      - edition = DCLPEdition::Edition.new(:edition => edition)
                      - if edition.biblioId
                        %a{:href => 'http://papyri.info/biblio/' + edition.biblioId}
                          = edition.biblioId
                      - if edition.title
                        = edition.title
                        = '(' + I18n.t('edition.ubertype.' + edition.ubertype) + ')'
                      - if edition.extraList
                        - edition.extraList.each do |extra|
                          = extra.value
          - if @identifier.non_database_attribute[:publicationTitle]
            %tr
              %th=I18n.t('meta.label.publications')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Publication'
              %td
                = @identifier.non_database_attribute[:publicationTitle]
                = HGVPublication.getTitleTail @identifier.non_database_attribute[:publicationExtra]
                = @identifier.non_database_attribute[:tmNo] ? '(TM ' + @identifier.non_database_attribute[:tmNo] + ')' : ''
                - if !@identifier.non_database_attribute[:otherPublications].empty?
                  %ul
                    - @identifier.non_database_attribute[:otherPublications].each do |other|
                      %li=other
          - if @identifier.non_database_attribute[:collectionInventoryNumber]
            %tr
              %th=I18n.t('meta.label.collectionInventoryId')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Collection'
              %td
                = @identifier.non_database_attribute[:collectionPlaceName] ? @identifier.non_database_attribute[:collectionPlaceName] : ''
                = @identifier.non_database_attribute[:collection] ? @identifier.non_database_attribute[:collection] : ''
                = @identifier.non_database_attribute[:collectionInventoryNumber]
                = @identifier.non_database_attribute[:collectionTemporaryInventoryNumber] ? '(' + (@identifier.non_database_attribute[:collectionTemporaryNotes] ? @identifier.non_database_attribute[:collectionTemporaryNotes] + ' ' : '') + @identifier.non_database_attribute[:collectionTemporaryInventoryNumber] + ')' : ''
          - if (@identifier.non_database_attribute[:translationsDe] && !@identifier.non_database_attribute[:translationsDe].empty?) || (@identifier.non_database_attribute[:translationsEn] && !@identifier.non_database_attribute[:translationsEn].empty?) || (@identifier.non_database_attribute[:translationsIt] && !@identifier.non_database_attribute[:translationsIt].empty?) || (@identifier.non_database_attribute[:translationsEs] && !@identifier.non_database_attribute[:translationsEs].empty?) || (@identifier.non_database_attribute[:translationsLa] && !@identifier.non_database_attribute[:translationsLa].empty?) || (@identifier.non_database_attribute[:translationsFr] && !@identifier.non_database_attribute[:translationsFr].empty?)
            %tr
              %th=I18n.t('meta.legend.translation')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Translation'
              %td
                %ul
                  - [@identifier.non_database_attribute[:translationsDe], @identifier.non_database_attribute[:translationsEn], @identifier.non_database_attribute[:translationsIt], @identifier.non_database_attribute[:translationsEs], @identifier.non_database_attribute[:translationsLa], @identifier.non_database_attribute[:translationsFr]].each do |translation|
                    - if translation
                      - translation.each do |trans|
                        %li=trans
                
          - if @identifier.non_database_attribute[:bl] && !@identifier.non_database_attribute[:bl].empty?
            %tr
              %th=I18n.t('meta.label.bls')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Reference'
              %td
                %ul
                  -@identifier.non_database_attribute[:bl].each do |bl|
                    %li
                      = bl[:children][:volume][:value] ? bl[:children][:volume][:value] + ',' : ''
                      = bl[:children][:page][:value] ? 'S. ' + bl[:children][:page][:value] : ''
          - if @identifier.non_database_attribute[:provenance] && @identifier.non_database_attribute[:provenance].kind_of?(Array)
            %tr
              %th=I18n.t('meta.legend.provenance')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Provenance'
              %td
                = HGVProvenance.format @identifier.non_database_attribute[:provenance]
          - if @identifier.non_database_attribute[:material]
            %tr
              %th=I18n.t('meta.label.material')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier.non_database_attribute[:material]
          - if @identifier.non_database_attribute[:textDate]
            %tr
              %th=I18n.t('meta.legend.date')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Date'
              %td=@identifier.non_database_attribute[:textDate].collect{|item| item[:value] ? item[:value] : nil}.compact.join('<br />')
          - if @identifier.non_database_attribute[:notes]
            %tr
              %th=I18n.t('meta.label.commentary')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier.non_database_attribute[:notes]
          - if @identifier.non_database_attribute[:illustrations] && !@identifier.non_database_attribute[:illustrations].empty?
            %tr
              %th=I18n.t('meta.label.printIllustrations')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Reference'
              %td=@identifier.non_database_attribute[:illustrations].join('; ')
          - if !@identifier.non_database_attribute[:contentText].empty?
            %tr
              %th=I18n.t('meta.label.subjects')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td
                - simpleArray = Array.new(@identifier.non_database_attribute[:contentText].length){|index| @identifier.non_database_attribute[:contentText][index].kind_of?(Hash) && @identifier.non_database_attribute[:contentText][index][:value] ? @identifier.non_database_attribute[:contentText][index][:value] : @identifier.non_database_attribute[:contentText][index]}
                = simpleArray.join('; ')
          - if @identifier.non_database_attribute[:figures] && !@identifier.non_database_attribute[:figures].empty?
            %tr
              %th=I18n.t('meta.label.images')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#Reference'
              %td
                %ul
                  - @identifier.non_database_attribute[:figures].collect{|f| f = f[:children] && f[:children][:graphic] && f[:children][:graphic][:attributes] && f[:children][:graphic][:attributes][:url] ? f[:children][:graphic][:attributes][:url] : nil; f ? ('<a href="' + f + '" title="' + f + '">' + (f[/^http:\/\/[^\/]+/] ? f[/^http:\/\/[^\/]+/] : f) + '</a>') : nil }.compact.each do |figure|
                    %li=figure
          -# NOT IN PN
          - if !@identifier.non_database_attribute[:mentionedDate].empty?
            %tr
              %th=I18n.t('meta.legend.mentionedDate')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#MentionedDates'
              %td
                = @identifier.non_database_attribute[:mentionedDate].collect{|md| (md[:children][:ref] && md[:children][:ref][:value] ? md[:children][:ref][:value] + ': ' : '') + (md[:children][:comment] && md[:children][:comment][:value] ? md[:children][:comment][:value] + ' ' : '') + (md[:children][:date] && md[:children][:date][:value] ? md[:children][:date][:value] : '') + (md[:children][:annotation] && md[:children][:annotation][:value] ? ' (' + md[:children][:annotation][:value] + ')' : '') }.reject{|md| md.empty? }.compact.join('; ')
          - if @identifier.non_database_attribute[:plannedForFuturePrintRelease]
            %tr
              %th=I18n.t('meta.label.plannedForFuturePrintRelease')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier.non_database_attribute[:plannedForFuturePrintRelease]
          -# DCLP
          - collections = DCLPObject::Collection.new(@identifier.non_database_attribute[:collection], @identifier.non_database_attribute[:collectionList])
          - if collections.list
            %tr
              %th=I18n.t('dclp.label.collection')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier])
              %td
                %ul
                  - collections.list.each do |collectionItem|
                    %li
                      =collectionItem
          - if @identifier.non_database_attribute[:archiveName] || @identifier.non_database_attribute[:archiveLink]
            %tr
              %th=I18n.t('dclp.label.archive')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier])
              %td
                -if @identifier.non_database_attribute[:archiveLink]
                  %a
                    -if @identifier.non_database_attribute[:archiveName]
                      =@identifier.non_database_attribute[:archiveName]
                    -else
                      ???
                -else
                  =@identifier.non_database_attribute[:archiveName]
          - if @identifier.non_database_attribute[:layout]
            %tr
              %th=I18n.t('meta.label.layout')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier.non_database_attribute[:layout]
          - if @identifier.non_database_attribute[:scriptType]
            %tr
              %th=I18n.t('meta.label.scriptType')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td=@identifier.non_database_attribute[:scriptType]
          - if @identifier.non_database_attribute[:printedIllustration]
            %tr
              %th=I18n.t('dclp.label.illustrationPrinted')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier]) + '#General'
              %td
                - @identifier.non_database_attribute[:printedIllustration].each do |printedIllustrationItem|
                  = printedIllustrationItem
          - if @identifier.non_database_attribute[:onlineResource] && !@identifier.non_database_attribute[:onlineResource].empty?
            %tr
              %th=I18n.t('dclp.label.illustrationOnline')
              %td.edit
                %a=link_to 'edit', edit_polymorphic_path([@identifier.publication, @identifier])
              %td
                %ul
                  - @identifier.non_database_attribute[:onlineResource].each do |onlineResource|
                    %li
                      %a{:href => onlineResource[:children][:link][:attributes][:target]}
                        = (onlineResource[:children][:link][:attributes][:target][/^http:\/\/[^\/]+/] ? onlineResource[:children][:link][:attributes][:target][/^http:\/\/[^\/]+/] : onlineResource[:children][:link][:attributes][:target])
