= javascript_include_tag 'confirm'
= javascript_include_tag 'treebank-cite'

= render :partial => 'identifiers/header'
= render :partial => 'identifiers/edit_bar'
#edit.sosolcard
  .PContent
    = @identifier[:list].html_safe
