= render :partial => 'identifiers/header'
= render :partial => 'identifiers/edit_bar'
#edit
  = form_for @identifier, :url => { :action => :update }  do |f|
    = f.error_messages
    = hidden_field_tag 'annotation_uri',params[:annotation_uri]

    .PContent
      = @identifier[:html_preview].html_safe
