= render :partial => 'identifiers/header'
= render :partial => 'identifiers/edit_bar'
#edit
= form_for @identifier, :url => { :action => :updatexml } do |f|
  = f.error_messages
  .sosolcard
    = f.text_area :xml_content, :disabled => !@identifier.mutable?, :lang => 'grc', 'xml:lang' => 'grc',  :rows => 40, :wrap => 'off', :class => 'alpheios-enabled-text greek observechange'
    // FORK CHANGE END
  .sosolcard
    = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :where_at => :bottom }

= javascript_include_tag 'confirm'
