%p
  %b
    "Floor (#{@rule.decree.tally_method}):"
  = @rule.floor

%p
  %b
    Number of days after which to apply:
  = @rule.expire_days

= link_to 'Edit', edit_rule_path(@rule)
|  
= link_to 'Back', rules_path
