#main.site
  %h2 
    = @community.name
   
  %h2
    = 'Are You Sure You Want to Delete this community, ' + @community.name + '? This action cannot be undone!'
  %h1
    = link_to "Delete", @community, :confirm => 'Are you sure?', :method => :delete 
    = "or"
    = link_to "Cancel", @community
