= stylesheet_link_tag 'community'

.community
  
  
  %h1
    Listing communities

  - if @communities.length <= 0
  
    %p
      No Communities have been setup.
    %br
  
  - else
    %table
      %tr
        %th
          Name
        %th
          Friendly name
        %th
          Type
        %th
          Description
      - @communities.each do |community|
        - community[:class] = community.is_default? ? 'defaultcommunity' : ''
        %tr
          %td{:class => community[:class]}
            = community.name 
          %td{:class => community[:class]}
            = community.friendly_name 
          %td{:class => community[:class]}
            = community.type
          %td{:class => community[:class]}
            = community.description 
          -#
            %td 
              = community.logo
               
          %td 
            = link_to 'Show', community 
          %td 
            = link_to 'Edit', edit_polymorphic_path([community]) 
          %td 
            = link_to 'Destroy', polymorphic_path([community], :action=> :confirm_destroy) 

          

= link_to 'New community', new_community_path 
= link_to 'Change default',:controller => :communities, :action => :select_default
