<h1>Editing vote</h1>

<% form_for(@vote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :choice %><br />
    <%= f.text_field :choice %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :article_id %><br />
    <%= f.text_field :article_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @vote %> |
<%= link_to 'Back', votes_path %>
