.emailer
  %p
    %b
      Members:
    - emailer.users.each do |user|
      - if user.name != nil
        = user.name
        - if user.email == nil
          (no valid address!)
  %p
    %b
      Extra addresses:
    = h emailer.extra_addresses
  %p
    %b
      When to send:
    = h emailer.when_to_send
  %p
    %b
      Include document:
    = h emailer.include_document
  %p
    %b
      Send to owner:
    = h emailer.send_to_owner
  %p
    %b
      Message:
    = h emailer.message
  = link_to 'Edit', edit_emailer_path(emailer)
