<h1>Editing E-mailer for <%= @emailer.board.title %> </h1>

<% form_for(@emailer) do |f| %>
  <%= f.error_messages %>


<h3 style = "display:inline;">Members  </h3><%= link_to "Add", :controller => "emailers", :action => "find_board_member", :id => @emailer.id %><br />

<% @emailer.users.each do |user| %>
  <%= user.name %>
  <%= link_to "x", :controller => "emailers", :action => "remove_member", :user_id => user.id %>
<% end %>
<br />
  
  <p>
    <%= f.label :extra_addresses %><br />
    <%= f.text_area :extra_addresses, :cols => "80", :rows => "2"%>
  </p>
  
  
<%= f.label :status %>
<%= f.select :status,  @statuss   %>


  <p>
    <%= f.label :include_document %><br />
    <%= f.check_box :include_document %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message, :cols => "80", :rows => "20" %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @emailer %> |
<%= link_to 'Back', emailers_path %>
