%header
  %h1
    New E-mailer for
    = @board.title

.sosolcard
  = form_for(@emailer) do |f|
    = f.error_messages
    = f.hidden_field :board_id


    = f.label :when_to_send
    .select-container.small
      = f.select :when_to_send, @whens

    %p
      = f.submit "Create"
  
