-if flash.keys.length > 0
  - flash.each do |key, msg|
    - if SiteHelper::is_perseids?
      %div{:class => "sosolcard flash-notice #{key}"}
        %i{:class => 'fa fa-info-circle'}
        = content_tag :span, msg.html_safe, :class => ["flash", key ].join(' '), :id => "notice_#{key}"
    - else
      = content_tag :div, msg.html_safe, :class => ["flash", key].join(' '), :id => "notice_#{key}"
  - unless Rails.env.test? 
    - flash.clear
