= stylesheet_link_tag 'header_footer'

#footer_box
  - if @current_user
    
    .links
      = link_to 'home', dashboard_url
      \|
      = link_to 'account', account_url
      \|
      = link_to 'help', help_url, :onclick => "window.open(this.href);return false;"

      \|
      = link_to 'admin', :controller => 'user', :action => 'admin' 
      
      - if @current_user.admin 
        \|
        = link_to 'Boards', boards_url
        \|
        = link_to 'Edit Text Leiden+ Help', docos_url(:docotype => "text")
        \|
        = link_to 'Edit Translation Leiden+ Help', docos_url(:docotype => "translation")
        \|
        = link_to 'Email Users', sendmsg_url
        \|
      - if @current_user.developer
        = link_to 'developer', developer_url
      

