= stylesheet_link_tag 'header_footer'


#header_box 
  #header_top
    #header_title
      #logo
        %h1= link_to SITE_NAME, root_url
    
    #header_selector
      = render :partial => "publications/publication_selector", :locals => {:hide_text => true, :emend => :showemend}
      
    #header_advanced_create
      = link_to 'Advanced...', :controller => 'publications', :action => 'advanced_create'
      
      
    #header_user_box
      = link_to @current_user.name, account_url
      \|
      = link_to 'sign out', signout_url
      
  = render :partial => "common/header_tabs"
  
