//------------------------------------------------------------
//  CSS
//------------------------------------------------------------
%link{:rel => "stylesheet", :type => "text/css", :href => "/javascripts/imgspect/third_party/menumucil/css/menumucil.css"}
%link{:rel => "stylesheet", :type => "text/css", :href => "/javascripts/imgspect/src/css/imgbit.css"}
%link{:rel => "stylesheet", :type => "text/css", :href => "/javascripts/imgspect/src/css/imgspect.css"}
:css
  body {
    background-color: #f9f9f9;
  }
  .edit_epi_cts_identifier #ict_tool_wrapper {
    padding: 0;
    margin: 10px 0 40px 0;
    width: 100%;
    height: auto
  }
  .site {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  div.nav {
    min-height: 0;
  }
  #logo {
    padding: 0;
    margin: 10px 0 0 10px;
  }
  #logo p {
    font-size: 10px;
    color: #AAA;
  }
  #logo img {
    width: 100px;
  }
  #user_box {
    margin-top: 10px;
    margin-right: 10px;
  }
  #user_box .name {
    color: #999;
  }
  #user_box .links {
    color: #CCC;
  }
  #edit textarea#output,
  .edit_epi_cts_identifier #epi_cts_identifier_xml_content {
    box-sizing: border-box;
    width: 100%;
  }
  #editors {
    padding: 0 20px;
  }
  #edit_header {
    margin-top: 25px;
    padding: 10px;
  }
  #edit_header h1,
  #edit_header h3 {
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    color: #AAA;
  }
  #edit_header h3 {
    display: none;
  }
  #edit_header h1 a {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
  }
  #edit_header h1 a:hover {
    text-decoration: underline;
  }
  #imgspectWarning {
    background-color: rgba(255,255,255,0.95);
    border: solid 2px #AAA;
    padding: 5px;
    padding-bottom: 20px;
  }
  #imgspectWarning p {
    text-align:center;
    padding: 5px 20px;
  }
  #imgspectWarning p:last-of-type {
    margin-bottom: 40px;
  }
  #imgspectWarning #imgspectButtons {
    text-align: center;
  }
  #imgspectWarning a {
    text-decoration: none;
    margin: 10px;
  }
  #imgspectWarning a:hover {
    text-decoration: underline;
  }
  #ict_tool {
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    margin: 0;
    background-color: #DDD;
    padding: 5px;
  }
  #ict_tool.imgspectLoaded {
    background-color: #333;
  }
  #ict_tool .imgUrn img {
    margin: 5px;
    border: solid 1px #666;
  }
  #ict_tool #imgspectHint {
    margin-left: 5px;
    font-size: 12px;
    color: #666;
  }
  #edit form input.save {
    margin-bottom: 40px;
  }
    
//------------------------------------------------------------
//  Content
//------------------------------------------------------------
#main
  = render :partial => 'identifiers/edit_bar'
  .site
    = render :partial => 'identifiers/header'
    #edit
      - form_for @identifier, :url => { :action => :updatexml } do |f|
        = f.error_messages
        #ict_tool_wrapper
          #ict_tool{:class=> 'perseidsld_query_obj_simple', 'data-sbj' => @identifier.work_urn, 'data-verb' => 'http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation', 'data-formatter' => 'imgspect_link'}
            
          %div{:id => "imgspect"}    
        
        .clearfix
        %div{:id => "editors"}
          %label XML
          = f.text_area :xml_content, :disabled => !@identifier.mutable?, :lang => 'grc', 'xml:lang' => 'grc',  :rows => 40, :wrap => 'off', :class => 'alpheios-enabled-text greek observechange'
          
          = render :partial => 'identifiers/edit_commit', :locals => { :f => f, :identifier => @identifier, :where_at => :bottom }
= javascript_include_tag 'confirm'
    
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
%script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"}
%script{:src => "/javascripts/imgspect/src/js/imgspect.js"}
%script{:src => "/javascripts/imgspect/src/js/imgbit.js"}
%script{:src => "/javascripts/imgspect/third_party/jslib/src/js/jQueryPlus.js"}
%script{:src => "/javascripts/imgspect/third_party/jslib/src/js/StringExt.js"}
%script{:src => "/javascripts/imgspect/third_party/jslib/src/js/TimeStamp.js"}
%script{:src => "/javascripts/imgspect/third_party/jslib/src/js/Culuh.js"}
%script{:src => "/javascripts/imgspect/third_party/menumucil/menumucil.js"}
%script{:src => "/javascripts/imgspect/third_party/plopup/src/js/plopup.js"}
%script{:src => "/javascripts/imgspect/src/js/PerseidsBridge.js"}
:javascript
  showMatch("#{@identifier.class.to_s.underscore}_xml_content", "**POSSIBLE ERROR**");
  // **POSSIBLE ERROR** defined in insert_error_here method in identifiers controller
  PerseidsLD.do_simple_query();

  //------------------------------------------------------------
  // Start imgspect bridge and grab a handler
  //------------------------------------------------------------
  var bridge = PerseidsBridge.imgspect.init();
  bridge.start( 'output' );

