= javascript_include_tag 'perseids-tools'
= javascript_include_tag 'confirm'

= render :partial => 'identifiers/header_perseids'
= render :partial => 'identifiers/edit_bar_perseids'
#Cite_Image_Service{:display => 'none;', 'data-content' => @identifier[:cite_image_service]}
#ict_tool{:class=> 'perseidsld_query_verb_simple', 'data-verb' => 'http://data.perseus.org/rdfvocab/cite/imageViewer', 'data-formatter' => 'set_endpoint_map', 'data-result-id' => 'viewer' }
#edit.sosolcard
  = form_for @identifier, :url => { :action => :update }  do |f|
    = f.error_messages
    %label Preview
    .PContent
      = @identifier[:html_preview].html_safe

:javascript 
  PerseidsLD.do_verb_query();
