<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Papyri.info</title>
  <link rel="stylesheet" href="http://www.papyri.info/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
  <link rel="stylesheet" href="http://www.papyri.info/css/custom-theme/jquery-ui-1.8.14.custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
  <!-- editor side 
  <link rel="stylesheet" href="/stylesheets/editor.css" type="text/css" media="screen" title="no title" charset="utf-8">
  -->
  <%= stylesheet_link_tag 'editor' %>
  <%= javascript_include_tag :defaults %>
  
  <script src="http://www.papyri.info/js/jquery-1.5.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://www.papyri.info/js/jquery-ui-1.8.14.custom.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://www.papyri.info/js/init.js" type="text/javascript" charset="utf-8"></script>
  
  <script type="text/javascript">
    <!-- moved from body ib load to ensure it is called -->
    window.onload = init;
    
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19774706-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    
  </script>

</head>

<body>
  <div id="d">
    <div id="hd">
      <h1>Papyri.info</h1>
      
             <!-- sosol side -->
       <%= render "cross_site/sign_in_out" %>
       <!-- pn side -->
       <!-- cross_site/sign_in_out -->
        
      </div>
   </div>
    <div id="bd">
      <div class="nav">
        <!-- left nav -->
        <form method="get" accept-charset="utf-8" style="display:inline;">
          <ul class="nav">
            <li>Browse: </li>
            <li>
              <a href="/browse/ddbdp/">DDbDP</a>
            </li>
            <li>
              <a href="/browse/hgv/">HGV</a>
            </li>
            <li>
              <a href="/browse/apis/">APIS</a>
            </li>
            <li class="dialog" id="tm" title="TM Number" ><div id="tmc">TM#: <input type="text" name="tmid" value="[enter TM#]" id="tmid" onclick="this.setAttribute('value','');this.focus();" size="10"/> <input onclick="window.location='/trismegistos/'+jQuery('#tmid').attr('value');" type="button" name="tmgo" id="tmgo" value=" &gt; " /></div>
            </li>
            <li>or</li>
            <li>
              <a href="/search">Search</a>
            </li>
            
            <!-- sosol side -->
            <%= render "cross_site/advanced_create" %>
          
            <!-- pn side -->
            <!-- cross_site/advanced_create -->
            
          </ul>
        </form>
        
        <!-- right nav is for sosol side -->
        <%= render "cross_site/board_tabs" %>
        <br />
        <%= render "cross_site/user_tabs" %>
        
     
        
      </div>
      <div id="main">
        <div class="content">
          
          <!-- sosol side -->
          <%= yield %>
          
        </div>
      </div>
   </div>
    <div id="footer">
      <div id="footer-left-col">
        <div id="secondary-nav">
          <ul class="nav">
            <li><a href="/" title="Project Home">Home</a></li>
            
            <!-- link to sSoSOL -->
            <li><a href="/help">Help</a></li>
            
            <!-- following links only if logged into SoSOL -->
            <li><a href="/user/admin">Admin</a></li>
            <li><a href="/user/account">Account</a></li>
            
            
            <li><a href="http://digitalpapyrology.blogspot.com/" title="Digital Papyrology">Blog</a></li>
            <li><a href="/resources.html" title="Papyrological tools and resources">Resources</a></li>
            <li><a href="/feedback.html" title="Feeback">Feedback</a></li>
            <li><a href="http://epidoc.sourceforge.net/" title="EpiDoc Home">About EpiDoc</a></li>
          </ul>
        </div>
        <div class="spacer"></div>
      </div>
      <div id="footer-right-col">
        <p>Produced by</p>
        <p><a href="http://dlib.nyu.edu/dlts/">NYU Digital Library Technology Services</a> 
          <br/>&amp; the <a href="http://www.nyu.edu/isaw/">Institute for the Study of the
          Ancient World</a></p>
        <div id="about-nav"> 
          <ul class="nav">
            <li><a href="http://www.trismegistos.org/" title="Trismegistos Home">Trismegistos</a></li>
            <li><a href="http://www.rzuser.uni-heidelberg.de/%7Egv0/" title="Heidelberger Gesamtverzeichnis
              der Griechischen Papyrusurkunden Ägyptens - Home ">HGV</a></li>
            <li><a href="http://idp.atlantides.org/trac/idp/wiki/DDBDP" title="Duke Databank of Documentary Papyri - Home">DDbDp</a></li>
            <li><a href="http://www.columbia.edu/cu/lweb/projects/digital/apis/about.html">APIS</a></li>
            <li class="last-child"><a href="/about.html" title="Advanced Papyrological Information System">Papyri.info</a></li>    
          </ul>
          <h3 id="about-hdr">About:</h3>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8">
    jQuery("#searchbutton").button();
    jQuery("#editorbutton").button();
  </script>
</body>
</html>
