!!!
%html{html_attrs('en')}
  %head
    %meta{ 'http-equiv' => 'content-type', 'content' => 'text/html;charset=UTF-8' }
    %meta{ 'name' => 'robots', 'content' => 'noindex, nofollow' }
    %title
      == #{SITE_NAME} Prototype: #{controller.controller_name} - #{controller.action_name}
    = stylesheet_link_tag 'editor'
    = stylesheet_link_tag 'pn'
    - if controller.controller_name == 'hgv_meta_identifiers' and controller.action_name == 'edit'
      = stylesheet_link_tag 'meta'
    = javascript_include_tag :defaults
    %style(type="text/css")
      :sass
        #header
          background: #{defined?(ENVIRONMENT_BACKGROUND) ? ENVIRONMENT_BACKGROUND : '#EAEAEA'}
        .loading
          background = gray + 90
          background-image: url('#{image_path("ajax_loader.gif")}')
          background-repeat: no-repeat
          background-position: center center
          -webkit-background-size: 128px 128px
          opacity: .5
  %body
    #header{ :class => (['edit','editxml','commentary','preview','history','finalize_review','rename_review','show','update','show_commit'].include? params[:action]) ? '' : 'basic' }
      .site
        #logo
          %h1= link_to SITE_NAME, root_url
        -#= render(:partial => 'master_articles/master_article_box')
        -#= render(:partial => 'user/admin_box')
        = render(:partial => 'user/user_box')

    .content_body
      = yield
      

