!!!
%html{html_attrs('en')}
  %head
    = csrf_meta_tag
    %meta{ 'http-equiv' => 'content-type', 'content' => 'text/html;charset=UTF-8' }
    %meta{ 'name' => 'robots', 'content' => 'noindex, nofollow' }
    %title
      == #{Sosol::Application.config.site_name} Prototype: #{controller.controller_name} - #{controller.action_name}
    = stylesheet_link_tag 'editor'
    = stylesheet_link_tag 'pn'
    - if controller.controller_name == 'apis_identifiers' and controller.action_name == 'edit'
      = stylesheet_link_tag 'edit_mask'
    - if controller.controller_name == 'hgv_meta_identifiers' and controller.action_name == 'edit'
      = stylesheet_link_tag 'edit_mask'
      = stylesheet_link_tag 'meta'
    - if controller.controller_name == 'biblio_identifiers' and controller.action_name == 'edit'
      = stylesheet_link_tag 'edit_mask'
      = stylesheet_link_tag 'biblio'
    = javascript_include_tag "application"
    %style(type="text/css")
      :sass
        #header
          background: #{defined?(ENVIRONMENT_BACKGROUND) ? ENVIRONMENT_BACKGROUND : '#EAEAEA'}
  %body
    #header{ :class => (['edit','editxml','commentary','preview','history','finalize_review','rename_review','show','update','show_commit'].include? params[:action]) ? '' : 'basic' }
      .site
        #logo
          %h1= link_to Sosol::Application.config.site_name, root_url
        -#= render(:partial => 'master_articles/master_article_box')
        -#= render(:partial => 'user/admin_box')
        = render(:partial => 'user/user_box')

    .content_body
      = yield
      

